.anchors-list {
  width: 100%;
}

.anchors-list-title {
  font-size: 1.17em;
  font-weight: 700;
  margin-top: 0;
  text-align: left;
}

.anchors-list-items {
  font-size: 1.3rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.anchors-list-item {
  background-color: $white;
  border-radius: 5px;
  position: relative;
  margin-bottom: 13px;
  width: 100%;
  overflow: hidden;

  &:hover {
    background-color: lighten($color-tertiary, 18%);
  }

  // modifiers
  &.anchor-postit {
    .anchors-list-link {
      color: $orange1;
      font-weight: 700;
    }
  }
}

.anchors-list-link {
  color: $gray33;
  display: block;
  line-height: 2rem;
  overflow: hidden;
  padding: 13px 15px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}



@include medium {
  .anchors-list {width: 240px;}
}


@include large-and-medium {
  .anchors-list {
    top: 0;
  }

  .anchors-list-title {
    border-left: 6px solid $color-tertiary;
    transform: translateY(-200px);
    display: table;
    height: 80px;
    left: -32px;
    padding-left: 10px;
    position: absolute;
    top: 0;
    transition: .3s ease transform;

    span {
      display: table-cell;
      vertical-align: middle;
    }

    .aside-wrapper.affix &,
    .aside-wrapper.affix-bottom & {
      transform: none;
    }
  }
}


@include large {
  .anchors-list {
    width: 260px;
  }

  .anchors-list-progress {
    background-color: $color-tertiary;
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 0%;
    z-index: 0;
    transition: width 0.1s ease-in-out;
  }
}
