mixin anchors-list(opts)
  - opts = opts || {}
  - attributes = opts.attributes || []
  .anchors-list&attributes(attributes)
    if opts && opts.items
      each item in opts.items
        .anchor-bar
          a.anchor-link(href=item.href)= item.text
          span.anchor-progress
