mixin anchors-list(data)
  - data = data || {}
  - attributes = data.attributes || []
  .anchors-list&attributes(attributes)
    if data && data.items
      each item in data.items
        .anchor-bar
          a.anchor-link(href=item.href)= item.text
          span.anchor-progress
