
.hub-heading {
  background-color: $white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 135px;
  position: relative;
  width: 100%;
  z-index: 0;

  h1 {
    color: $white;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin: 0;
    text-align: left;
  }

  &:before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0,0,0,0.1);
    z-index: -1;
  }
}

.hub-heading-wrapper {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
}

.hub-heading-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@include large-and-medium {
  .hub-heading-content {
    .search-field {
      display: inline-block;
    }
  }
}


@include large {

  .hub-heading {
    height: 310px;

    // modifiers
    &.small {
      height: 160px;
    }

    h1 {
      font-size: 70px;
      line-height: 84px;
    }
  }

}

