mixin hub-heading(data)
  .hub-heading(style="background-image:url('#{data.image}')")
    .hub-heading-wrapper
      .hub-heading-content
        if block
          block
        else if data.block
          != data.block
        else if data.text
          h1!= data.text

