mixin get-involved-item(opts)
  .get-involved-item
    .get-involved-item-category= opts.category
    .get-involved-item-title= opts.title
    a.button.button-action.get-involved-item-button(href=opts.button.href)= opts.button.text

mixin get-involved-list(opts)
  .get-involved-list
    .get-involved-column
      .get-involved-item
        .get-involved-item-title Madame la Maire, j’ai une idée
        a.button.button-action.secondary(href="#") Voir le site
        .get-involved-item-title Votez pour le budget participatif
        a.button.button-action.secondary(href="#") Voir le site
        .get-involved-item-title E-pétition, prenez la main
        a.button.button-action.secondary(href="#") Voir le site
      each item in opts.items.slice(0, 2)
        +get-involved-item(item)
    .get-involved-column
      each item in opts.items.slice(2, 6)
        +get-involved-item(item)
    .get-involved-column
      each item in opts.items.slice(6, 9)
        +get-involved-item(item)
