include get-involved-list
include ../../helpers/code

.lsg-module
  +get-involved-list(defaults)
+code({language: "jade"}).
  include get-involved-list

  +get-involved-list(#{JSON.stringify(defaults, null, 2)})
