mixin video(opts)
  .video
    h2= opts.title

    div.cover(style="background-image: url(#{opts.cover})")
      a.button.icon(href="#{opts.video.href}")
        i.icon.icon-play
        span= opts.video.text

