include ../../modules/button/button

mixin video(opts)
  .video
    h2= opts.title

    div.cover(style="background-image: url(#{opts.cover})")
      - opts.button.modifiers = "action"
      +button(opts.button)
