extends ../../layouts/left-col/left-col

block aside
  h1 aside

block content
  .composant-texte
    h1 Titre h1 exemple
    h2 Titre h2 exemple
    h3 Titre h3 exemple
    h4 Titre h4 exemple
    ul
      li liste ul du composant texte
      li liste ul du composant texte
      li liste ul du composant texte
    p
      | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
      a(href='#') exemple lien
      |  vel libero magna. Morbi viverra quam orci, ultrices dapibus sem aliquam ut
    ol
      li A : liste ol du composant texte
      li B : liste ol du composant texte
      li C : liste ol du composant texte
