extends ../../layouts/left-col/left-col

include ../../modules/button/button
include ../../modules/anchors-list/anchors-list
include ../../components/text/text
include ../../components/links/links
include ../../components/accordion/accordion

block aside
  +anchors-list({
    "items": [
      {"href": "#", "text": "Est-ce que j’y ai droit ?"},
      {"href": "#", "text": "Constituer un dossier"}
    ]
  })

block content
  +text
    p.intro Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.

  +text
    h2 Est-ce que j’y ai droit ?

    h3 Critères d’attribution

    h4 Deux conditions :

    ul
      li Être de nationalité française, ou étranger avec un titre de séjour valable.
      li Respecter les plafonds de ressources.

    h4 Comment savoir si vous y avez droit ?

    p 80% de Parisiens sont éligibles à un logement social. Il existe 4 types de logements, différents selon les ressources de chaque foyer.

  +text
    ul
      li A : Logement financé à l’aide d’un prêt locatif aidé d’intégration (PLAI)
      li B : Logement financé à l’aide d’un prêt locatif à usage social (PLUS)
      li C : Logement financé à l’aide d’un prêt locatif social (PLS)
      li D : Logement financé à l’aide d’un prêt locatif intermédiaire (PLI)

    p Ces sigles correspondent aux différents modes de financement de chaque logement social. Car pour favoriser la mixité sociale dans les immeubles ou quartiers, les financeurs des logements, dont la Ville de Paris, choisissent de varier les types de logements.

    h3 Les plafonds de ressources

    p En prenant en compte le nombre de personnes dans votre famille à loger et vos ressources, vous pourrez solliciter l’attribution d’un logement social adapté à vos moyens. Le tableau ci-dessous vous indique les plafonds de ressources qui vous donnent droit à tel ou tel type de logement social. Attention : les ressources à prendre en compte sont celles de votre revenu fiscal de l’année de référence “n-2” (indiquée sur votre avis d’impôt sur le revenu).

    p Exemple : votre foyer est composé de 3 personnes et ses ressources sont de 41 000 € par an, votre situation vous permet de demander un logement social à Paris. Si vous pouviez obtenir un logement, ce serait un logement de type B.

    +button({text: 'Estimer mes droits'})

  +links({
    "title": "Liens et téléchargements",
    "items": [
      {"href": "#", "text": "Logement social à Paris : mode d'emploi", "modifiers": "links-item-pdf"},
      {"href": "#", "text": "Accès au logement social : bilan annuel"},
      {"href": "#", "text": "Plan départemental d'action pour le logement des personnes défavorisées"},
      {"href": "#", "text": "Étudiants : logement universitaire"}
    ]
  })

  +text
    h2 Constituer un dossier

    p Première étape pour constituer votre dossier : remplir le formulaire de demande logement, auquel vous devez y joindre certains documents. Retrouvez les pièces justificatives à fournir selon votre situation.

    +button({text: 'Télécharger le formulaire de demande de logement social'})

    h3 Les documents à fournir

    h4 Pour tous :

    p Première étape pour constituer votre dossier : remplir le formulaire de demande logement, auquel vous devez y joindre certains documents. Retrouvez les pièces justificatives à fournir selon votre situation.

    ul
      li Le formulaire de demande de logement rempli
      li Votre carte d’identité, votre passeport ou votre title de séjour en cours de validité.  Si vous êtes ressortissant d'un pays membre de l'Union Européenne, d'Islande, de Norvège, du Liechtenstein ou de Suisse, vous pouvez déposer une demande de logement uniquement avec la carte d'identité de votre pays d'origine ou votre passeport.
      li Carte d’identité ou passeport ou titre de séjour en cours de validité pour toutes les personnes majeures à loger
      li Les deux derniers avis d’imposition ou de non-imposition de toutes les personnes qui vivront dans le logement (seulement le dernier avis dans le cadre d'un renouvellement)
      li Justificatifs des ressources du dernier mois de toutes les personnes qui vivront dans le logement (fiche de paye, attestation d’allocation…)
      li Justificatif du domicile actuel (bail et quittances de loyer ou reçus d’hôtel ou attestation d’hébergement…)

    h4 Attention : dans certains cas, vous devez fournir des pièces complémentaires.

  +accordion({items: [
    {title: 'Vous êtes en situation de handicap', headingId: 'h-handicap', slug: 'handicap', content: 'Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus exustus est.'},
    {title: 'Vous avez des enfants', headingId: 'h-enfants', slug: 'enfants', content: 'Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.'},
    {title: "Vous êtes menacé d'expulsion", headingId: 'h-expulsion', slug: 'expulsion', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'},
    {title: 'Vous êtes sans abri', headingId: 'h-sans-abri', slug: 'sans-abri', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'},
    {title: 'Vous êtes dans une structure d’hébergement depuis plus de 18 mois', headingId: 'h-structure-hebergement', slug: 'structure-hebergement', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'},
    {title: 'Vous êtes victime de violences familiales', headingId: 'h-violences-familiales', slug: 'violences-familiales', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'},
    {title: 'Vous êtes assistante maternelle', headingId: 'h-assistante-maternelle', slug: 'assistante-maternelle', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'}
  ]})

  +text
    p Ces documents justificatifs sont indispensables pour la « cotation » de votre dossier : un nombre de points attribué à votre dossier de demande de logement à Paris, afin de l’évaluer en toute transparence, dans le souci de l’équité et de la justice sociale. En fournissant  ces documents, vous bénéficiez de points supplémentaires.

    h3 Cas particuliers : démarches complémentaires auprès d’autres organismes

    p La Ville de Paris n’est pas seule à financer le logement social à Paris, elle n’est donc pas seule à proposer des candidats aux bailleurs sociaux. Si vous êtes dans une des situations suivantes, vous pouvez contacter d’autres organismes.

  +accordion({items: [
    {title: "Vous êtes fonctionnaire d'Etat ou fonctionnaire hospitalier", headingId: 'h-fonctionnaire-etat', slug: 'fonctionnaire-etat', content: 'Incenderat autem audaces usque ad insaniam homines ad haec, quae nefariis egere conatibus, Luscus quidam curator urbis subito visus: eosque ut heiulans baiolorum praecentor ad expediendum quod orsi sunt incitans vocibus crebris. qui haut longe postea ideo vivus exustus est.'},
    {title: "Vous êtes salarié(e) d'une entreprise privée cotisant à Action Logement", headingId: 'h-action-logement', slug: 'action-logement', content: 'Ideoque fertur neminem aliquando ob haec vel similia poenae addictum oblato de more elogio revocari iussisse, quod inexorabiles quoque principes factitarunt. et exitiale hoc vitium, quod in aliis non numquam intepescit, in illo aetatis progressu effervescebat, obstinatum eius propositum accendente adulatorum cohorte.'},
    {title: "Vous êtes déjà locataire dans le parc social et souhaitez changer de logement", headingId: 'h-parc-social', slug: 'parc-social', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'},
    {title: "Vous avez de grandes difficultés de logement", headingId: 'h-difficultes-logement', slug: 'difficultes-logement', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'},
    {title: "Vous êtes en très grande difficulté économique et sociale", headingId: 'h-diffultes-eco', slug: 'diffultes-eco', content: 'Orientis vero limes in longum protentus et rectum ab Euphratis fluminis ripis ad usque supercilia porrigitur Nili, laeva Saracenis conterminans gentibus, dextra pelagi fragoribus patens, quam plagam Nicator Seleucus occupatam auxit magnum in modum, cum post Alexandri Macedonis obitum successorio iure teneret regna Persidis, efficaciae inpetrabilis rex, ut indicat cognomentum.'}
  ]})

  +text
    h3 Envoyer ou déposer un dossier
    +button({text: 'Le numéro unique régional : explication et coordonnées du service'})
