extends ../../layouts/stack/stack

include ../../modules/button/button
include ../../modules/anchors-list/anchors-list
include ../../modules/header/header
include ../../modules/footer/footer
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/document-heading/document-heading

include ../../components/components

append content
  +header(data.header)

append content
  +document-heading(data.heading)

append content
  .layout-content
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content
    .layout-left-col
      .layout-wrapper
        aside.layout-aside
          +anchors-list({
            "items": [
              {"href": "#", "text": "Est-ce que j’y ai droit ?"},
              {"href": "#", "text": "Constituer un dossier"}
            ]
          })

        .layout-content
          each component in data.components
            +#{component.type}(component.data)

append content
  .layout-content.layout-content-adjacent
    +footer(public.modules.footer._data.index.defaults)
