.layout-half-col {
  overflow: hidden;
  width: 100%;

  .layout-wrapper {
    @include container;
    display: table;
    width: $grid-width;
  }

  .layout-content {
    @include span(8 of 16);
    display: table-cell;
    padding: 40px 0;
    vertical-align: top;
  }

  .layout-content:last-child {
    @include last;
  }

}
