.layout-half-col {
  width: 100%;

  .layout-content {
    padding: 40px 0;
  }
}

@include small {
  .layout-half-col {
    .layout-content {
      padding-bottom: 0;
    }

    .layout-content:last-child {
      border-top: 1px solid transparentize($white, 0.8);
      padding-bottom: 20px;
      padding-top: 30px;
    }
  }
}

@include large-and-medium {

  .layout-half-col {
    overflow: hidden;

    > .layout-wrapper {
      @include container;
    }

    .layout-content {
      @include span(8);
    }

    .layout-content:last-child {
      @include span(7 last);
    }

  }

}
