.video-home{
  align-items: center;
  display: flex;
  height: 100%;
  list-style: none;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 30px;
}

.video-home-item{
  text-decoration: none;
}

.video-home-wrapper {
  position: relative;
}

.video-home-image{
  display: block;
  background-size:cover;
  background-position: center center;
  margin-bottom: 30px;
  max-width: 100%;
  outline: 15px solid $gray1A;
}

.video-home-content{
  text-align: left;
  .video-home-title{
    color: $white;
    font-weight: 700;
  }
}

@include large-and-medium {
  .video-home-list-item {
      // modifiers
      &.small {
        @include span(3 of 12);
        margin-right: 60px;
        .video-home-wrapper {
          .video-home-image {
            display: block;
            min-height: 127px;
          }

          .video-home-content {
            .video-home-title{
              font-size: 1.7rem;
              line-height: 1.9rem;
            }
          }
        }
      }
    
      &.large {
          @include span(6 of 12);
          margin-right: 60px;
          .video-home-wrapper {
            .video-home-image {
              display: block;
              min-height: 300px;
            }

            .video-home-content {
              text-align: left;
              .video-home-title{
                font-size: 2.2rem;
                line-height: 2.4rem;
                max-width: 350px;
              }
            }
          }
        }

        &:last-child{
          margin-right: 0;
        }
    }
}
