.video-home{
  align-items: center;
  display: flex;
  list-style: none;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 25px;
}

.video-home-image{
  height: auto;
}

@include large-and-medium {
  .video-home-list-item {
      // modifiers
      &.small {
        @include span(3 of 12);
        .video-home-wrapper {
          .video-home-image {
            border: 10px solid $gray1A;
            display: block;
            min-height: 145px;
          }

          .video-home-content {
            bottom: 0;
            padding: 20px;
            position: absolute;
            text-align: left;
            z-index: 1;
          }
        }
      }
    
      &.large {
          @include span(6 of 12);
          .video-home-wrapper {
            .video-home-image {
              border: 10px solid $gray1A;
              display: block;
              min-height: 300px;
            }

            .video-home-content {
              bottom: 0;
              padding: 20px;
              position: absolute;
              text-align: left;
              z-index: 1;
            }
          }
        }

        &:last-child{
          margin-right: 0;
        }
    }
}