include video-cover
include ../../helpers/code

h2 Standard
.lsg-module
  +video-cover(defaults)
+code({language: "jade"}).
  include video-cover

  +video-cover(#{JSON.stringify(defaults, null, 2)})

h2 Avec un contenu HTML
.lsg-module(style="width: 600px;")
  +video-cover(with_block)
+code({language: "jade"}).
  include video-cover

  +video-cover(#{JSON.stringify(with_block, null, 2)})
