.a-la-une{
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: cover;
  display: inline-block;
  height: 320px;
  text-decoration: none;
  width: 100%;
}

.a-la-une-content{
  border-left: 6px solid $couleur-tertiaire;
  color: #fff;
  padding: 5px 10px 3px 35px;
  margin-left:10%;
  margin-top: 80px;
}

.a-la-une-titre,
.a-la-une-texte {
  font-family: Avenir;
}

.a-la-une-titre{
  font-size: 18px;
  font-weight: 500;
}

.a-la-une-texte{
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 14px;
  max-width: 347px;
}

