extends ../../layouts/stack/stack

include ../../modules/block-content/block-content
include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button-top/button-top
include ../../modules/footer/footer
include ../../modules/header/header
include ../../modules/heading/heading
include ../../modules/hub-heading/hub-heading
include ../../modules/links-group/links-group
include ../../modules/search-push/search-push

append content
  +header(data.header)

append content
  .layout-content
    +hub-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-padding
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content
    .layout-wrapper
      each group in data.links_groups
        +links-group(group)

append content
  .layout-content.color-secondary-background.layout-separate-after
    .layout-three-col
      .layout-wrapper
        +heading(data.connected.heading)
        .layout-content
          +block-content-newsletter(data.connected.newsletter)
        .layout-content
          +block-content-jecoute(data.connected.jecoute)
        .layout-content
          +block-content-social(data.connected.social)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append content
  +button-top
