doctype html
html
  head
    meta(charset='utf-8')
    title Module
    link(href="../../stylesheets/styleguide.css" type="text/css" rel="stylesheet")
    link(href="../../stylesheets/lsg.css" type="text/css" rel="stylesheet")
    script(src="http://code.jquery.com/jquery-2.1.3.min.js")
  body
    .lsg-wrapper
      != yield
    script(src="../../javascript/highlight.pack.js")
    script(src="../../javascript/lsg.js")
    script(src="../../javascript/paris.js")
