.component-districts {

    $items-count: 20 !default;
    $item-size: 72px !default;
    $mobile-item-size: 50px !default;
    $default-margin: 3px !default;

    .districts-item {
        width: $item-size;
        height: $item-size;
        margin: $default-margin;
        line-height: 41px;
        font-size: 16px;
    }

    .districts-content-wrapper {
        background-color: $grayF2;
        padding: 10px 10px 18.7px;
        border-radius: 5px;
        margin: 10px 0;

        .districts-item-title {
            color: $color-secondary;
            font-weight: 400;
        }
    }

    @media (max-width: 450px) {
        .districts-item {
            width: $mobile-item-size;
            height: $mobile-item-size;
            background-color: $grayF2;
            line-height: 20px;
            .button-text {
                display: inline-block;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
        .disabled {
            display: none;
        }
    }
}