include ../../modules/button/button

mixin districts(data)
  .component.component-districts
    h3=data.title
    .distincts-items-wrapper
      each item in data.items
        - var uuid = Math.random().toString(36).substr(2, 5)
        - var slug = item.slug || uuid + "-" + item.id
        - var button = JSON.parse(JSON.stringify(item || [])) // clone the data object
        - var isEmptyContent = typeof item.content === 'undefined' || !item.content.length

        - button.modifiers = button.modifiers || []
        - button.attributes = button.attributes || {}

        - button.modifiers.push("districts-item stateful ")
        - button.attributes["data-slug"]=slug
        - button.attributes["data-district"]=item.id
        - button.attributes["data-content"]=item.content

        if isEmptyContent
          - button.attributes["disabled"]="disabled"
        +button(button)
    .distincts-content-wrapper
      h3.distincts-item-title
      .distincts-item-content
