include ../../modules/button/button

mixin districts(data)
  - var activeIndex;
  - var uuid = Math.random().toString(36).substr(2, 5)
  .component.component-districts
    h4.districts-heading= data.title
    ul.districts-items-wrapper(role='tablist')
      each item, index in data.items
        - item = JSON.parse(JSON.stringify(item || {})); // clone the data object
        - item.modifiers = item.modifiers || [];
        - item.modifiers.push("stateful");
        - item.attributes = item.attributes || {};
        - item.attributes.type = 'button';
        - if (!item.enabled) { item.attributes.disabled = "disabled"; }
        - else if (typeof activeIndex === 'undefined') { activeIndex = index; item.modifiers.push("active"); }
        - var slug = uuid + "-" + index;
        - var attributes = {};
        - attributes['id'] = 'h-' + slug;
        - attributes['roles'] = 'tab';
        - attributes['aria-controls'] = '#' + slug;
        - attributes['aria-selected'] = (index === activeIndex) ? 'true' : 'false';
        - attributes['class'] = 'districts-item';
        li&attributes(attributes)
          +button(item)

    each item, index in data.items
      if item.enabled
        - var slug = uuid + "-" + index;
        - var attributes = {};
        - attributes['id'] = slug;
        - attributes['roles'] = 'tabpanel';
        - attributes['aria-labelledby'] = 'h-' + slug;
        - attributes['aria-hidden'] = (index === activeIndex) ? 'false' : 'true';
        - attributes['class'] = { active: index === activeIndex };
        .districts-panel&attributes(attributes)
          .districts-item-title= item.title
          .districts-item-content!= item.content
