include ../../modules/button/button

mixin districts(data)
  .component.component-districts
    .districts-heading= data.title
    ul.districts-items-wrapper(role='tablist')
      each item, index in data.items
        - item = JSON.parse(JSON.stringify(item || {})); // clone the data object
          // var isEmptyContent = typeof item.content === 'undefined' || !item.content.length
        - item.modifiers = item.modifiers || [];
        - item.modifiers.push("districts-item", "stateful");

          // item.attributes["data-title"] = item.title
          // item.attributes["data-content"] = item.content

        - item.attributes = item.attributes || {};
        - var isActiveSet = false;
        - if (!item.enabled) { item.attributes.disabled = "disabled"; }
        - else if (!isActiveSet) { isActiveSet = true; item.modifiers.push("active"); }
        li(role='tab' aria-controls='#{item.text}')
          +button(item)
    each item, index in data.items
      if item.enabled
        .districts-content-wrapper(role='tabpanel')
          .districts-item-title= item.title
          .districts-item-content!= item.content
