extends ../../layouts/stack/stack

include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button-top/button-top
include ../../modules/footer/footer
include ../../modules/gallery-ugc/gallery-ugc
include ../../modules/heading/heading
include ../../modules/hub-heading/hub-heading
include ../../modules/links-group/links-group
include ../../modules/notice/notice
include ../../modules/rheader/rheader
include ../../modules/skip-links/skip-links

append header
  if data.skip_links
    +skip-links(data.skip_links)

append header
  +rheader(data.rheader)

append content
  .layout-content
    +hub-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-padding.hidden-on-small
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content.layout-padding-after
    .layout-wrapper
      +links-group(data.links)

append content
  if data.gallery
    .layout-right-col.gray-background
      .layout-wrapper
        .layout-content.hidden-on-small
          +heading(data.gallery.heading)
          +gallery-ugc(data.gallery.gallery_ugc)
        aside.layout-aside.color-secondary-background
          .blocks-content-vertical
            +block-content-newsletter(data.connected.newsletter)
            +block-content-jecoute(data.connected.jecoute)
            +block-content-social(data.connected.social)
  else
    .layout-content.color-secondary-background.layout-separate-after
      .layout-three-col
        .layout-wrapper
          +heading(data.connected.heading)
          .layout-content
            +block-content-newsletter(data.connected.newsletter)
          .layout-content
            +block-content-jecoute(data.connected.jecoute)
          .layout-content
            +block-content-social(data.connected.social)

append footer
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append footer
  +button-top(data.button_top)

append footer
  if data.notices && data.notices.cnil
    +notice(data.notices.cnil)
