extends ../../layouts/stack/stack

include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/footer/footer
include ../../modules/header/header
include ../../modules/heading/heading
include ../../modules/hub-heading/hub-heading
include ../../modules/news-list/news-list

append content
  +header(public.modules.header._data.index.defaults)

append content
  .layout-content
    +hub-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-top-margin
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content
    .layout-wrapper
      h2 sections-tree-panel

append content
  .layout-content
    .layout-wrapper
      +heading(data.news.heading)
      +news-list(data.news.news)
