.social {
  max-width: 360px;

  .social-items {
    overflow: hidden;
  }

  .social-item {
    float: left;
    width: 50%;
    margin-bottom: 20px;

    &:hover .social-link {
      border-color: transparent;
    }
  }

  .social-count,
  .social-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .social-count {
    font-weight: 700;
  }

  .social-link {
    border-bottom: 1px solid $white;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
  }
}

