$sections-panel-nav-width: 280px;
$sections-panel-subnav-width: 350px;
$sections-panel-subnav-offset: 200px;

%sections-panel-separator {
  border-top: 1px solid $grayCC;
  margin: 30px 0 0;
  padding: 30px 0 0;
}

.sections-panel {
  background-color: $grayF2;
  position: relative;
  width: 100%;

  ul {
    list-style: none;
  }
}

.sections-panel-intro {
  color: $gray4D;
  font-size: 14px;
  line-height: 20px;
  margin: 0px 0px 30px;

  .sections-panel-content & {
    color: $gray66;
  }
}

.sections-panel-nav {
  background-color: $yellow1;
  padding: 50px 0;
}

.sections-panel-nav-items {
  color: $gray1A;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin: 0 0 25px;
  opacity: 1;
  padding: 0;
  transition: opacity 0.2s ease;

  .sections-panel-nav.closed & {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  a {
    color: $gray1A;
    display: block;
    padding: 10px 0;
    position: relative;
    text-decoration: none;

    &:hover,
    &.current {
      color: $color-secondary;
    }

    &.current {
      font-weight: 700;
      cursor: default;
      pointer-events: none;
    }

    &:after {
      @extend %icon-font;
      @extend %icon-arrow-right;
      display: block;
      line-height: 20px;
      position: absolute;
      right: 0;
      top: 10px;
    }
  }
}

.sections-panel-nav-item {
  & + .sections-panel-nav-item {
    margin-top: 5px;
  }
}

.sections-panel-subnav {
  background-color: $grayF2;

  .block-aside:first-child {
    margin-top: 0;
  }
}

.sections-panel-back {
  display: none;
}

.sections-panel-subnav-default {

  h2 {
    font-size: 22px;
  }

  > * + * {
    @extend %sections-panel-separator;
  }

  > :first-child {
    h2 {
      margin-top: 0;
    }
  }

  .has-current-item & {
    display: none;
  }

  .block-aside-item {
    font-size: 18px;
    line-height: 28px;
  }

}

.sections-panel-subnav-section {
  display: none;

  &.current {
    display: block;
  }
}

.sections-panel-intro + .sections-panel-subnav-items {
  @extend %sections-panel-separator;
}

.sections-panel-subnav-items,
.sections-panel-content-items {
  a {
    color: $gray33;
    display: block;
    text-decoration: none;

    &:hover,
    &.current {
      color: $color-secondary;
    }

    &.current {
      cursor: default;
      pointer-events: none;
    }
  }
}

.sections-panel-subnav-item {
  & + .sections-panel-subnav-item {
    margin-top: 30px;
  }
}

.sections-panel-subnav-item-title,
.sections-panel-content-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: underline;
}

.sections-panel-subnav-item-text,
.sections-panel-content-item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin: 5px 0;
}

.sections-panel-content {
  background-color: $white;
  display: none;

  .sections-panel.has-content & {
    display: block;
  }
}

.sections-panel-content-wrapper {
  > * + *,
  .component + .component {
    @extend %sections-panel-separator;
  }
}

.sections-panel-content-items {
  a {
    .sections-panel-content-item-text {
      color: $gray66;
    }
  }
}

.sections-panel-content-item {
  & + .sections-panel-content-item {
    margin-top: 20px;

    &:before {
      background-color: $grayEE;
      content: " ";
      display: block;
      margin-bottom: 20px;
      height: 1px;
      width: 60px;
    }
  }
}

.sections-panel-content-item-title {
  font-size: 18px;
}


@include small {
  .sections-panel {
    &.has-content .sections-panel-subnav.has-current-item,
    .sections-panel-nav.has-current-item {
      display: none;
    }
  }
  .sections-panel-nav {
    text-align: center;
  }
  .sections-panel-nav-items {
    text-align: left;
  }
  .sections-panel-nav,
  .sections-panel-subnav,
  .sections-panel-content {
    padding: 40px $small-page-padding;
    transform: none !important;
  }
  .sections-panel-back {
    box-shadow: inset -3px 0px 3px -2px transparentize($black, 0.9);
    color: $color-secondary;
    font-size: 20px;
    height: 100%;
    position: absolute;
    left: 0;
    padding-top: 40px;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 30px;
    &:before {
      @extend %icon-font;
      @extend %icon-arrow-left;
    }
    &:hover {color: $black;}
  }

  .sections-panel-subnav.has-current-item {
    padding-left: $small-page-padding + 30px;

    .sections-panel-subnav-back {
      background-color: $yellow1;
      display: block;
    }
  }
  .sections-panel.has-content {
    .sections-panel-content {
      padding-left: $small-page-padding + 30px;
    }
    .sections-panel-content-back {
      background-color: $grayF2;
      display: block;
    }
  }
}


@include large-and-medium {
  .sections-panel {
    height: 1500px;

    > * {
      height: 100%;
      position: absolute;
      top: 0;
    }

    &:before {
      background-color: $yellow1;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      width: 1000px;
    }

    &:after {
      background-color: $grayF2;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      width: 1000px;
    }

  }

  .sections-panel-intro {
    max-width: 550px;
  }

  .sections-panel-nav {
    left: 0;
    padding-right: 20px;
    position: absolute;
    width: $sections-panel-nav-width;
  }

  .sections-panel-subnav {
    box-shadow: -3px 0px 3px -2px transparentize($black, 0.9);
    left: $sections-panel-nav-width;
    min-width: $sections-panel-subnav-width;
    padding: 50px 30px;
    z-index: 3;

    .sections-panel.has-content & {
      transform: translateX(-200px);
    }
  }

  .sections-panel-subnav-default {
    max-width: 550px;
  }

  .sections-panel-subnav-items {
    max-width: $sections-panel-subnav-width;
  }

  .sections-panel-content {
    box-shadow: -3px 0px 4px -1px transparentize($black, 0.9);
    left: $sections-panel-subnav-width + 150px;
    padding: 50px 30px;
    right: 0;
    width: $large-grid-width - $sections-panel-nav-width - $sections-panel-subnav-width + $sections-panel-subnav-offset;
    z-index: 4;

    .sections-panel.has-content & {
      transform: translateX(0px);
    }

    &:after {
      background-color: $white;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      left: 100%;
      top: 0;
      width: 1000px;
    }
  }

  .sections-panel-content-wrapper {
    max-width: 550px;
  }

}


@include medium {
  .sections-panel-content {
    left: 300px;
    width: 450px;
  }
}
