include ../../modules/block-aside-links/block-aside-links
include ../../components/buttons/buttons
include ../../components/links/links

.sections-panel-content-intro= defaults.intro
+block-aside-links(defaults.links)
+buttons(defaults.buttons)
+links(defaults.more_links)
