include header
include ../../helpers/code

.lsg-module
  +header(defaults)

p(style="margin-top: 120px").
  The header behaves depending on the scroll position <br>
  It is fixed to the top if there's no `.notice.top` <br>
  and then the nav changes when the scroll pass the
  floating line

// add space to test scroll behavior
.space(style="min-height: 400px")

+code({language: "jade"}).
  include header

  +header(#{JSON.stringify(defaults, null, 2)})
