include ../block-aside/block-aside

mixin block-aside-links(opts)
  - modifiers = opts.modifiers || []
  - modifiers.push("block-aside-links")
  +block-aside({"title": opts.title, "modifiers": modifiers})
    ul.block-aside-items
      each item in opts.items
        li.block-aside-item(class=item.modifiers)
          a(href=item.href)= item.text
