.search-push {
  background-color: $yellow;
  background-position: 92% 100%;
  min-height: 160px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &:after {
    @extend %icon-font;
    @extend %icon-search;
    bottom: -38px;
    font-size: 13em;
    opacity: 0.16;
    position: absolute;
    right: 6%;
  }
}

.search-push-text {
  color: #333;
  font-size: 24px;
  font-weight: 700;
  padding: 40px 30px 12px;
  margin: 0;
  text-align: center;
}

.search-push-wrapper-link{
  margin: 0;
  padding: 0 0 34px;
  text-align: center;
}
