.search-push {
  background-color: $yellow1;
  background-position: 92% 100%;
  min-height: 160px;
  overflow: hidden;
  padding: 40px;
  position: relative;
  text-align: center;
  width: 100%;

  &:after {
    @include icon(search);
    bottom: -38px;
    font-size: 13em;
    opacity: 0.16;
    position: absolute;
    right: 6%;
  }
}

.search-push-title {
  color: $gray33;
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0 0 12px;
}
