.sections-list {
}

.sections-list-button {
  background-color: $gray242;
  border: none;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  padding: 7px 20px 12px;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  z-index: 1;

  /* modifier "more" */
  &.more {
    background: $yellow;
    color: $black;
    display: table;
    padding: 12px 18px;

    .sections-list-button-text {
      display: table-cell;
      font-size: 13px;
      font-weight: 500;
      vertical-align: middle;
    }
  }

  html.no-touch & {
    &:before {
      background: $red2;
      bottom: 0px;
      content: "";
      display: block;
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      transition: 0.2s ease-in-out width;
      width: 0%;
      z-index: -1;
    }

    &:hover {
      .sections-list-button-title,
      .sections-list-button-text {
        color: $gray242;
      }
      &:before {
        width: 100%;
      }
    }
  }

}

.sections-list-button-title,
.sections-list-button-text {
  transition: 0.2s ease-in-out color;
  z-index: 2;
}

.sections-list-button-title {
  color: $color-secondary;
  display: table-cell;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  line-height: 17px;
  vertical-align: middle;
  width: 100%;
}

.sections-list-button-text {
  color: $gray77;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

@include large-and-medium {
  .sections-list {
    @include container;
  }
  .sections-list-button {
    border-radius: 5px;
    height: 120px;

    &.more {
      text-transform: uppercase;
      text-align: center;
    }

    html.no-touch & {
      &:before {
        border-radius: 5px;
      }
    }
  }
}

@include large {
  .sections-list-button {@include gallery(4);}
}

@include medium {
  .sections-list-button {@include gallery(4 of 12);}
}

@include small {
  .sections-list-button {
    display: none;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &.more {
      display: none;
      padding: 30px $small-page-padding;
      .sections-list-button-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        max-width: 200px;
      }
    }
  }
}
