.sections-list {
  list-style: none;
  padding: 0;
}

.sections-list-button {
  border: none;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 8px 20px 8px;
  position: relative;
  text-align: left;
  text-decoration: none;
  vertical-align: middle;
  white-space: normal;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* modifier "more" */
  &.more {
    background: $yellow1;
    color: $black;
    display: table;
    padding: 12px 18px;

    .sections-list-button-text {
      display: table-cell;
      font-size: 13px;
      font-weight: 500;
      vertical-align: middle;
    }
  }

  html.no-js &,
  html.no-touch & {
    &:before {
      bottom: 0px;
      content: "";
      display: block;
      height: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      transition: 0.2s ease-in-out width;
      width: 0%;
      z-index: -1;
    }

    &:hover {

      &:before {
        width: 100%;
      }
    }
  }

}

/* Home categories colors */
.sections-list-item {

  .sections-list-button {
    background-color: transparentize($home-cat-blue2, 0.3);

    html.no-js &,
    html.no-touch & {
      &:before {
        background-color: $home-cat-blue2;
      }
    }

    .sections-list-button-text {
      color: $gray4D;
    }
  }

  &:nth-child(1),
  &:nth-child(7),
  &:nth-child(10) {

    .sections-list-button {
      background-color: transparentize($home-cat-red, 0.3);

      html.no-js &,
      html.no-touch & {
        &:before {
          background-color: $home-cat-red;
        }
      }

      .sections-list-button-text {
        color: $white;
      }

    }
  }

  &:nth-child(2),
  &:nth-child(11),
  &:nth-child(13) {

    .sections-list-button {
      background-color: transparentize($home-cat-blue1, 0.3);

      html.no-js &,
      html.no-touch & {
        &:before {
          background-color: $home-cat-blue1;
        }
      }

      .sections-list-button-text {
        color: $white;
      }
    }
  }

  &:nth-child(3),
  &:nth-child(9),
  &:nth-child(15) {

    .sections-list-button {
      background-color: transparentize($home-cat-green, 0.3);

      html.no-js &,
      html.no-touch & {
        &:before {
          background-color: $home-cat-green;
        }
      }

      .sections-list-button-text {
        color: $white;
      }
    }
  }

  &:nth-child(5),
  &:nth-child(8),
  &:nth-child(14) {

    .sections-list-button {
      background-color: transparentize($home-cat-yellow, 0.3);

      html.no-js &,
      html.no-touch & {
        &:before {
          background-color: $home-cat-yellow;
        }
      }
    }
  }
}

.sections-list-button-title,
.sections-list-button-text {
  transition: 0.2s ease-in-out color;
  z-index: 2;
}

.sections-list-button-title {
  color: $gray33;
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  vertical-align: middle;
  width: 100%;
  margin-bottom: 10px;
}

.sections-list-button-text {
  color: $gray4D;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

@include large-and-medium {
  .sections-list {
    @include container;
  }
  .sections-list-button {
    border-radius: 5px;
    height: 120px;

    &.more {
      text-transform: uppercase;
      text-align: center;

      &:after {
        display: none;
      }
    }

    html.no-js &,
    html.no-touch & {
      &:before {
        border-radius: 5px;
      }
    }
  }
}

@include large {
  .sections-list-item {@include gallery(4);}
}

@include medium {
  .sections-list-item {@include gallery(4 of 12);}
}

@include small {
  .sections-list-button {
    display: none;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &.more {
      display: none;
      padding: 30px $small-page-padding;

      html.no-js,
      html.no-touch {
        &:hover:after {
          color: $grayF2;
        }
      }

      &:after {
        @include icon(arrow-right);
        font-size: 20px;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease-in-out color;
      }

      .sections-list-button-text {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        max-width: 200px;
      }
    }
  }
}
