mixin sections-list(data)
  .sections-list
    each item in data.items
      a.sections-list-button(href=item.href class=item.modifiers)
        if (item.title)
          strong.sections-list-button-title= item.title
        div.sections-list-button-text!= item.text
