mixin sections-list(data)
  ul.sections-list
    each item in data.items
      li.sections-list-item
        a.sections-list-button(href=item.href class=item.modifiers)
          if (item.title)
            strong.sections-list-button-title= item.title
          div.sections-list-button-text!= item.text
