mixin verbatim(opts)
  blockquote.component-verbatim
    p.verbatim-text= opts.quote
    footer
      .verbatim-separate
      cite
        .verbatim-author
          = opts.author
          | ,
        .verbatim-function= opts.function
      a.verbatim-social(href=opts.social)
