include ../button/button
include ../notice/notice
include ../search-field/search-field

mixin quick-access(opts)
  .quick-access(class=opts.modifiers style='background-image: url(#{opts.background});')
    .quick-access-wrapper
      .quick-access-search
        +search-field(opts.search)
      ul.quick-access-buttons
        each item in opts.items
          li
            +button({
              "href": item.href,
              "text": item.text,
              "modifiers": ["secondary"]
            })
    .quick-access-close-search: i.icon-close
    if opts.notice
      +notice(opts.notice)
