.layout-three-col {
  width: 100%;

  @include small {
    .layout-content + .layout-content {
      margin-top: 50px;
    }
  }

  @include large-and-medium {
    overflow: hidden;

    > .layout-wrapper {
      @include container;
      display: table;
      width: $large-grid-width;
    }

    .layout-content {
      @include span(4 of 12);
      &:last-child {@include last;}
      display: table-cell;
      vertical-align: top;
    }
  }
}
