.layout-three-col {
  width: 100%;

  @include small {
    .layout-content + .layout-content {
      margin-top: 50px;
    }
  }

  @include large {
    overflow: hidden;

    > .layout-wrapper {
      @include container;
      display: table;
      width: $large-grid-width;
    }

    .layout-content {
      @include span(4 of 12);
      display: table-cell;
      vertical-align: top;
    }

    .layout-content:last-child {
      @include last;
    }
  }
}
