.component-text {

  h1, h2, h3, h4, ul, ol, p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 44px;
    font-weight: 700;
  }

  h2 {
    border-top: 7px solid $gray242;
    color: $gray26;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 40px;
    padding-top: 40px;
  }

  h3 {
  	color: $gray26;
  	font-size: 24px;
  	font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
  }

  h4 {
    color: $color-secondary;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
  }

  ul, ol, p {
    color: $gray51;
    margin: 0 0 20px;
    padding: 0;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &:first-child > p:first-child {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
  }

  ul, ol {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    list-style-position: inside;

    li + li {
      margin-top: 10px;
    }
  }

  ul {
    list-style-type: disc;
  }

  a:not(.button) {
    color: $red2;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }

  .anchor {
    position: relative;
  }

  .icon-anchor {
    color: $gray204;
    font-size: 20px;
    line-height: 1;
    padding-left: 10px;

    &:hover {
      color: $color-tertiary;
      cursor: pointer;
    }
  }

  &.intro-primary p{
    color: $color-primary;
    font-weight: 700;
    font-size: 20px;

    &:after {
      display: block;
      content: " ";
      width: 70px;
      height: 10px;
      background: #df225a;
      position: relative;
      bottom: -20px;
    }
  }
}
