%component-text {

  h1, h2, h3, h4, ul, ol, p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 44px;
    font-weight: 700;
  }

  h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 40px;
    padding-top: 40px;
  }
  @include small {
    h2 {
      font-size: 30px;
      line-height: 38px;
    }
  }

  h3 {
    color: $gray1A;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 20px;
  }

  h4 {
    color: $color-secondary;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
  }

  ul, ol, p {
    color: $gray33;
    margin: 0 0 20px;
    padding: 0;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul, ol {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    list-style-position: inside;

    li + li {
      margin-top: 10px;
    }
  }

  ul {
    list-style-type: disc;
  }

  a:not(.button) {
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }

}

.component-text {
  @extend %component-text;

  h2 {
    border-top: 7px solid $grayF2;
    color: $gray1A;
  }

  a:not(.button) {
    color: $red1;
  }

  .component-postit + & > p:first-child,
  &:first-child > p:first-child {
    font-weight: 500;
  }

  .anchor {
    clear: both;
    position: relative;
  }

  .icon-anchor {
    color: $grayCC;
    font-size: 20px;
    line-height: 1;
    padding-left: 10px;

    &.active {
      color: $color-secondary;
    }

    &:hover,
    &.active:hover {
      color: $color-tertiary;
      cursor: pointer;
    }
  }

  &.intro-primary {
    & + .component-text h2 {
      border-top: 0;
    }

    p {
      color: $color-primary;
      font-weight: 700;
      font-size: 20px;

      &:after {
        display: block;
        content: " ";
        width: 70px;
        height: 10px;
        background: $color-primary;
        position: relative;
        bottom: -20px;
      }
    }
  }
}

@include large-and-medium {
  .component-text {
    .anchor {
      padding-right: 100px;
    }
  }
}
