include text
include ../../modules/button/button
include ../../helpers/code

.lsg-component
  +text
    p.intro Ceci est un paragraphe d'introduction. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
    h2 Titre h2 exemple
    h3 Titre h3 exemple
    h4 Titre h4 exemple
    ul
      li liste ul du composant text
      li liste ul du composant text
      li liste ul du composant text
    p
      | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent&nbsp;
      a(href='#') exemple link
      |  vel libero magna. Morbi viverra quam orci, ultrices dapibus sem aliquam ut
    ol
      li A : liste ol du composant text
      li B : liste ol du composant text
      li C : liste ol du composant text
    p
      +button({text: "Bouton"})
+code({language: "jade"}).
  include text
  include ../../modules/button/button

  +text
    p.intro Ceci est un paragraphe d'introduction. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
    h2 Titre h2 exemple
    h3 Titre h3 exemple
    h4 Titre h4 exemple
    ul
      li liste ul du composant text
      li liste ul du composant text
      li liste ul du composant text
    p
      | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
      a(href='#') exemple link
      |  vel libero magna. Morbi viverra quam orci, ultrices dapibus sem aliquam ut
    ol
      li A : liste ol du composant text
      li B : liste ol du composant text
      li C : liste ol du composant text
    p
      +button({text: "Bouton"})

// You can also pass the block as a parameter, named "block"
//+text({"block": "Lorem ipsum"})
