include text

include ../../helpers/preview

append elements
  h2.lsg-example-title En passant sous forme de bloc

  .lsg-elem
    +text
      h2 Titre de niveau 2
      p
        | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent&nbsp;
        a(href='#') lien d'exemple
        |  vel libero magna. Morbi viverra quam orci, ultrices dapibus sem aliquam ut
      ul
        li Élément de liste
        li Élément de liste
        li
          | Élément de liste long. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum&nbsp;
          a(href='#') lien d'exemple
          |  dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.

  +code("jade").
    include text

    +text
      h2 Titre de niveau 2
      p
        | Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent&nbsp;
        a(href='#') lien d'exemple
        |  vel libero magna. Morbi viverra quam orci, ultrices dapibus sem aliquam ut
      ul
        li Élément de liste
        li Élément de liste
        li
          | Élément de liste long. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum&nbsp;
          a(href='#') lien d'exemple
          |  dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.
