mixin audio(data)
  .component.component-audio(class=data.modifiers)
    - var title = [data.title]
    - if (data.credit) {title.push("(" + data.credit + ")")}
    - title = title.join(" ")
    audio(controls='controls')
      | Votre navigateur ne prend pas en charge l'élément
      code audio
      | .
      source(src=data.src type=data.type)
