include audio

include ../../helpers/preview

append elements
  h2.lsg-example-title= more.left.title

  p.lsg-elem-desc En ajoutant le <em>modifier</em> <code>left</code>, l'image flotte à gauche et est habillée par le texte qui la suit.

  .lsg-elem
    +audio(more.left.data)
    p Ceci est un paragraphe de remplissage. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.

  +code("jade").
    include audio

    +audio(#{JSON.stringify(more.left.data, null, 2)})

  h2.lsg-example-title= more.right.title

  p.lsg-elem-desc En ajoutant le <em>modifier</em> <code>right</code>, l'image flotte à droite et est habillée par le texte qui la suit.

  .lsg-elem
    +audio(more.right.data)
    p Ceci est un paragraphe de remplissage. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla.

  +code("jade").
    include audio

    +audio(#{JSON.stringify(more.right.data, null, 2)})
