mixin section-button(opts)
  bouton.bouton.section-button(class= "#{opts.modifiers}")
      span(class= "background")
      - if (opts.title)
        strong.title=opts.title
      div.text=opts.text


