.block-aside {
  color: $gray1A;
  margin-top: 40px;
  text-align: left;
}

.layout-aside > .block-aside:first-child,
.aside-wrapper > .block-aside:first-child,
.aside-wrapper > :first-child > .block-aside:first-child {
  margin-top: 0;
}

.block-aside-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 20px;
}

.block-aside-content {
  p {
    color: $gray4D;
  }
}

.block-aside-items {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-aside-item {
  & + .block-aside-item {
    margin-top: 10px;
  }
}

@include small {
  .aside-wrapper > .block-aside.hidden-on-small + .block-aside {
    margin-top: 0;
  }
}
