mixin block-aside(data)
  .block-aside(class=data.modifiers)
    if data.title
      h2.block-aside-title= data.title
    .block-aside-content
      if block
        block
      else if data.block
        != data.block
      else
        | content
