mixin block-aside(opts)
  .block-aside(class=opts.modifiers)
    if opts.title
      h2.block-aside-title= opts.title
    .block-aside-content
      if block
        block
      else if opts.block
        = opts.block
      else
        | content
