include block-aside
include ../button/button

extends ../../helpers/preview

append elements
  h2.lsg-example-title Avec du contenu sous forme de code #[code jade]

  .lsg-elem
    +block-aside({"title": "Permanences"})
      p Sur rendez-vous à la Mairie du XIIIè arrondissement.
      +button({
        "href": "#",
        "text": "Demander un rendez-vous",
        "modifiers": ["action"]
      })
  +code("jade").
    include block-aside
    include button

    +block-aside(#{JSON.stringify({"title": "Permanences"})})
      p Sur rendez-vous à la Mairie du XIIIè arrondissement.
      +button({
        "href": "#",
        "text": "Demander un rendez-vous",
        "modifiers": ["action"]
      })
