doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title Template
    link(href="../../stylesheets/paris.css" type="text/css" rel="stylesheet")
  body
    != yield
    script(src="../../javascript/jquery-2.1.3.min.js")
    script(src="../../javascript/paris.js")
