doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title= data && data.title ? data.title : "Paris"
    link(href="../../stylesheets/paris.css" type="text/css" rel="stylesheet")
    script(src="../../javascript/modernizr.custom.js")
    script(src="../../javascript/jquery-2.1.4.min.js")
    script(src="../../javascript/algoliasearch.min.js")
    link(rel="apple-touch-icon" href="../../touchicon.png")
    link(rel="icon" href="../../favicon.png")
    meta(name="msapplication-TileColor" content="#dd275c")
    meta(name="msapplication-TileImage" content="../../tileicon.png")
  - data = data || {}
  body(class=data.bodyModifiers)
    != yield
    script
      include ../javascript/locales.js
    script
      include ../javascript/config.js
    script(src="../../javascript/paris.js")
