.notice {
  background-color: $black;
  color: white;
  font-size: 13px;
  font-weight: 500;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 100%;

  & + .notice {
    margin-top: 10px;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 1.8em;
    padding: 0 15px 0 0;
    vertical-align: sub;
  }

  .close {
    &:before {
      @extend %icon-font;
      @extend %icon-close-rounded;
      border: 2px solid;
      border-radius: 50%;
      font-size: 1.8em;
      height: 30px;
      padding: 0 0 1px 1px;
      text-align: center;
      width: 30px;
    }
    cursor: pointer;
    display: block;
    position: absolute;
    right: 50px;
    top: 18px;
  }

  &.alert {
    .notice-content:before {
      @extend %icon-font;
      @extend %icon-alert;
      font-size: 1.8em;
      padding: 0 15px 0 0;
      vertical-align: sub;
    }
  }

  // modifiers colors
  @mixin notice-color-modifier($color) {
    background-color: $color;
    &.transparent {background-color: transparentize($color, 0.2);}
  }
  @include notice-color-modifier($black);
  &.blue   {@include notice-color-modifier($blue-notice);}
  &.orange {@include notice-color-modifier($orange-notice);}
  &.yellow {@include notice-color-modifier($color-tertiary);}
  &.white  {
    @include notice-color-modifier(white);
    color: $black;
  }

  // modifiers background-images
  &.buildings {
    background-image: url(../modules/notice/notice-back-image.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }

  // modifier position
  &.top {
    margin-bottom: 0;
    z-index: 250;
  }
  &.bottom {
    bottom: 0;
    position: absolute;
  }

}

.notice-content {
  margin: 0 auto;
  line-height: 20px;
  padding: 20px 0;
  width: $grid-width;

  a {
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
}

