.notice {
  background-color: $black;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  min-height: 60px;
  overflow: hidden;
  position: relative;
  transform-origin: top;
  width: 100%;

  & + .notice {
    margin-top: 10px;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    font-size: 2.4rem;
    padding: 0 15px 0 0;
    vertical-align: sub;
  }

  .close {
    &:before {
      @include icon(close-rounded);
      border: 2px solid;
      border-radius: 50%;
      font-size: 2.4rem;
      height: 30px;
      padding: 0 1px 2px 2px;
      width: 30px;
    }
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    padding: 0;
    padding-left: 10px;
    float: right;
    margin-right: 20px;
    margin-top: 18px;

    &:hover {
      opacity: 0.8;
    }
  }

  &.alert {
    .notice-content:before {
      @include icon(alert);
      font-size: 2.4rem;
      padding: 0 15px 2px 0;
      vertical-align: middle;
    }
  }

  // modifiers colors
  @mixin notice-color-modifier($color) {
    background-color: $color;
    &.transparent {background-color: transparentize($color, 0.2);}
  }
  @include notice-color-modifier($black);
  &.blue   {@include notice-color-modifier($notice-blue);}
  &.orange {@include notice-color-modifier($notice-orange);}
  &.yellow {@include notice-color-modifier($color-tertiary);}
  &.white  {@include notice-color-modifier(white);}
  &.grey   {@include notice-color-modifier($grayEE);}
  &.white, &.grey {
    &, a {
      color: $black;
    }
  }

  // modifiers background-images
  &.buildings {
    background-image: url(../modules/notice/notice-back-image.png);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
  }

  // modifier position
  &.top {
    margin-bottom: 0;
    z-index: 250;
  }
  &.bottom {
    bottom: 0;
    position: absolute;
    transform-origin: bottom;
  }
  &.fixed {
    position: fixed;
    z-index: 1000;
  }

  // text
  &.center-text {
    text-align: center;
  }

  // closed
  &.closed {
    display: none;
    opacity: 0;
  }

}

.notice-content {
  line-height: 2rem;
  margin: 0 20px;
  padding: 20px 0;

  a {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }
}

.notice-button {
  margin: 18px 20px;
  float: right;
}

@include small {
  .notice.alert {
    .notice-content:before {
      left: 25px;
      position: absolute;
    }
    .notice-content {
      margin-left: 70px;
    }
  }
}

@include large-and-medium {
  .notice .close {
    margin-right: 50px;
  }
}

@include large {
  .notice-content {
    margin: 0 auto;
    width: $large-grid-width;
  }
}
