include notice

extends ../../helpers/preview

append elements
  h2.lsg-example-title Avec du contenu sous forme de code #[code jade]

  .lsg-elem
    +notice({})
      i.icon-bus
      a(href='#') Texte de la notice

  +code("jade").
    include notice

    +notice({})
      i.icon-bus
      a(href='#') Texte de la notice