.component-jecoute {
  border: 5px solid $color-secondary;
  border-top: none;

  .jecoute-title {

    html.flexbox & {
      display: flex;
      justify-content: flex-start;

      &:after,
      &:before {
        content: "";
        display: flex;
        border-top: 5px solid $color-secondary;
        padding-bottom: 30px;
      }

      &:before {
        width: 40px;
      }

      &:after {
        flex-grow: 1;
      }
    }

    > p {
      color: $color-secondary;
      font-size: 17px;
      font-weight: 500;
      margin: 0;
      padding: 0 16px;
      transform: translateY(-30%);
    }
  }

  .jecoute-content {
    padding: 0 42px 25px 40px;
  }

  .jecoute-text {
    color: $gray4D;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 25px;
    max-width: 570px;
    position: relative;
  }

  .jecoute-form {
    display: block;
    max-width:570px;

    > textarea,
    > input {
      border: none;
      background-color: $grayF2;
      border-radius:5px;
      display: block;
      margin-bottom: 15px;
      overflow: auto;
      transition: background 0.3s ease;
      width: 100%;

      &:focus {
        background-color: $grayEE;
        outline: 0;
      }
    }

    > textarea {
      min-height: 170px;
      padding: 20px;
      resize: none;
    }

    > input {
      padding: 10px 20px;
    }
  }
}
