.component-jecoute {
  border: 5px solid $color-secondary;
  border-top: none;
  clear: both;

  p em,
  .jecoute-message {
    color: $color-secondary;
    font-style: normal;
    font-weight: 500;
  }

  .text-error {
    color: $color-primary;
  }

  .jecoute-title {
    html.flexbox & {
      display: flex;
      justify-content: flex-start;

      &:after,
      &:before {
        content: "";
        display: flex;
        border-top: 5px solid $color-secondary;
        padding-bottom: 30px;
      }

      &:before {
        width: 40px;
      }

      &:after {
        flex-grow: 1;
      }
    }

    > h2 {
      color: $color-secondary;
      font-size: 17px;
      font-weight: 500;
      margin: 0;
      padding: 0 16px;
      transform: translateY(-30%);
    }
  }

  .jecoute-content {
    padding: 0 20px 20px 20px;
  }

  .jecoute-text {
    color: $gray4D;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 25px;
    max-width: 570px;
    position: relative;
  }

  .jecoute-form {
    display: block;
    max-width:570px;

    p {
      color: $gray4D;
      font-size: 15px;
      line-height: 22px;

      a:not(.button) {
        color: $color-secondary;
        text-decoration: underline;

        &:hover { text-decoration: none; }
      }
    }

    > textarea,
    > input {
      border: none;
      background-color: $grayF2;
      border-radius:5px;
      display: block;
      margin-bottom: 15px;
      overflow: auto;
      transition: background 0.3s ease;
      width: 100%;

      &:focus {
        background-color: $grayEE;
        outline: 0;
      }
    }

    > textarea {
      min-height: 170px;
      padding: 20px;
      resize: none;
    }

    > input {
      padding: 10px 20px;
    }

    > .jecoute-upload {

      > label {

        input[type="file"] {
          left: -9999px;
          position: absolute;
        }
      }

      output {
        display: block;

        .output-items, .output-item {
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .output-items {
          padding-left: 30px;
        }

        .output-item {
          color: $gray33;
          display: block;
          font-size: 16px;
          line-height: 25px;

          &:before {
            @extend %icon-font;
            @extend %icon-text;

            float: left;
            font-size: 1.3em;
            line-height: inherit;
            padding-right: 15px;
            pointer-events: none;
          }

          i {
            color: $gray66;
            font-size: 14px;
            margin-left: 10px;
          }

          .output-item-remove {
            border: 1px solid;
            border-radius: 50%;
            color: $gray66;
            cursor: pointer;
            margin-left: 15px;
            vertical-align: middle;

            &:hover {
              color: $gray33;
              transition: color 0.35s ease;
            }
          }
        }
      }
    }

    > .jecoute-policy {

      label {
        cursor: pointer;

        input {
          cursor: pointer;
          margin: 2px 10px 2px 0;
        }

        span {
          vertical-align: middle;
        }
      }
    }
  }

  .jecoute-message {
    display: none;
  }

  @include large-and-medium {
    .jecoute-content {
      padding: 0 42px 25px 40px;
    }
  }

}
