include jecoute
include ../../helpers/code

h2 Standard
.lsg-component
  +jecoute(defaults)
+code({language: "jade"}).
  include jecoute

  +jecoute(#{JSON.stringify(defaults, null, 2)})

h2 Champs pré-remplis
.lsg-component
  +jecoute(values)
+code({language: "jade"}).
  include jecoute

  +jecoute(#{JSON.stringify(values, null, 2)})

h2 PARhISTOIRE
.lsg-component
  +jecoute(parhistoire)
+code({language: "jade"}).
  include jecoute

  +jecoute(#{JSON.stringify(parhistoire, null, 2)})

