mixin jecoute(data)
  .component.component-jecoute
    .component-jecoute-title
      p= data.title
    .component-jecoute-content
      p.component-jecoute-heading= data.text
      form.component-jecoute-form(method="post")
        textarea(placeholder= data.textarea)
        input(type="email", placeholder= data.mail)
        button.button(type="submit", class=["secondary", "action"])= data.button
