mixin jecoute(opts)
  .component.component-jecoute
    .component-jecoute-title
      p= opts.title
    .component-jecoute-content
      p.component-jecoute-heading= opts.text
      form.component-jecoute-form(method="post")
        textarea(placeholder= opts.textarea)
        input(type="email", placeholder= opts.mail)
        button.button(type="submit", class=["secondary", "action"])= opts.button
