.layout-left-col {
  background-color: $white;
  width: 100%;
  overflow: hidden;

  .layout-wrapper {
    display: table;
    margin: 0 auto;
    width: 1100px;
  }

  .layout-aside {
    background-color: $gray242;
    display: table-cell;
    padding: 0 20px 40px 0;
    position: relative;
    width: 280px;

    .aside-wrapper{
      overflow-y: hidden;
      padding-top: 100px;

      > *:last-child {
        padding-bottom: 50px;
      }

      &.affix {
        overflow: visible;
        position: fixed;
        top: 80px;
      }
      &.affix-bottom {
        position: absolute;
      }
    }

    .aside-title {
      text-align: left;
      transform: translateY(-200px);
      height: 80px;
      display: table;
      margin-top: 0;
      transition: .3s ease transform;
      position: absolute;
      left: -32px;
      padding-left: 10px;
      border-left: 6px solid $color-tertiary;

      span {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .aside-wrapper.affix .aside-title,
    .aside-wrapper.affix-bottom .aside-title {
      top: 0;
      transform: none;
    }

    &:before {
      background-color: $gray242;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      width: 1000px;
    }
  }

  .layout-content {
    display: table-cell;
    padding: 40px 50px;
    width: 820px;

    .component {
      max-width: 820px;
    }
  }

}
