.layout-left-col {
  background-color: $white;
  width: 100%;

  > .layout-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  .layout-aside {
    background-color: $grayF2;
  }
}

@include small {
  .layout-left-col {
    .layout-aside,
    .layout-content {
      padding: 40px $small-page-padding;
    }
  }
}

@include large-and-medium {

  .layout-left-col {
    overflow: hidden;

    // using flexbox
    html.flexbox & {

      > .layout-wrapper {
        display: flex;
        min-height: 400px;
        width: $large-grid-width;
      }

      .layout-aside {
        flex: none;
      }

    }

    // without flexbox
    html.no-js &,
    html.no-flexbox & {
      > .layout-wrapper {
        display: table;
        height: 400px; // we are in display: table, so this is like a min-height
        table-layout: fixed;
        width: $large-grid-width;
      }

      .layout-aside,
      .layout-content {
        display: table-cell;
        vertical-align: top;
      }
    }

    .layout-aside {
      padding: 0 20px 40px 0;
      position: relative;
      width: 280px;

      .aside-wrapper {
        overflow-y: hidden;
        padding-top: 40px;
        transition: .4s ease padding-top;

        > *:last-child {
          padding-bottom: 50px;
        }

        &.affix {
          overflow: visible;
          position: fixed;
          top: 80px;
          padding-top: 100px;
        }
        &.affix-bottom {
          position: absolute;
          overflow: visible;
          padding-top: 100px;
        }
      }

      &:before {
        background-color: $grayF2;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        width: 1000px;
      }
    }

    .layout-content {
      padding: 40px 0 40px 50px;
    }

  }

}

@include medium {
  .layout-left-col {
    html.flexbox &,
    html.no-js &,
    html.no-flexbox & {
      > .layout-wrapper{
        width: 100%;
      }
    }

    .layout-aside {
      padding-left: 20px;
    }

    .layout-content {
      padding-right: 50px;
    }
  }
}

@include large {
  .layout-left-col {

    // using flexbox
    html.flexbox & {
      .layout-content {
        flex: none;
      }
    }

    .layout-content {
      width: 820px;

      .component {
        max-width: 770px;
      }
    }
  }
}
