extends left-col

block aside
  h1 aside
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu quam ante. Donec dapibus interdum euismod. Suspendisse potenti. Suspendisse in urna mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eu consectetur lorem. Pellentesque eget lectus eu mauris euismod pellentesque in sit amet nulla.

block content
  h1 content
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eu quam ante. Donec dapibus interdum euismod. Suspendisse potenti. Suspendisse in urna mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed eu consectetur lorem. Pellentesque eget lectus eu mauris euismod pellentesque in sit amet nulla.
