extends ../../layouts/stack/stack

include ../../modules/block-content/block-content
include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button-top/button-top
include ../../modules/cross-content/cross-content
include ../../modules/footer/footer
include ../../modules/rheader/rheader
include ../../modules/heading/heading
include ../../modules/hub-heading/hub-heading
include ../../modules/news-list/news-list
include ../../modules/sections-panel/sections-panel

append content
  +rheader(data.rheader)

append content
  .layout-content
    +hub-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-padding.hidden-on-small
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content.gray-background.layout-adjacent-before.layout-adjacent-after
    .layout-wrapper.full-width-on-small
      +sections-panel(data.sections)

append content
  .layout-content.hidden-on-small
    .layout-wrapper
      +heading(data.news.heading)
      +news-list(data.news.news)

append content
  if data.cross_content.items.length === 3
    .layout-content
      +cross-content(data.cross_content)

append content
  .layout-content.color-secondary-background.layout-separate-after
    .layout-three-col
      .layout-wrapper
        +heading(data.connected.heading)
        .layout-content
          +block-content-newsletter(data.connected.newsletter)
        .layout-content
          +block-content-jecoute(data.connected.jecoute)
        .layout-content
          +block-content-social(data.connected.social)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append content
  +button-top
