.poll {
  background-color: $red3;
  background: url(../modules/poll/background.jpg) $red3 repeat top left;
  background-position: 50% 50%;
  color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  > canvas {
    background-color: $red3;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.poll-pause {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
  opacity: 0.6;
  padding: 0;
  position: absolute;
  right: -100px; // by default, hide outside of screen
  transition: opacity 0.3s ease;
  top: 25px;
  z-index: 1;

  &:before {
    @extend %icon-font;
    @extend %icon-pause;
    font-size: 1em;
    position: relative;
  }

  &.paused {
    &:before {
      @extend %icon-play;
    }
  }

  // display when the poll is hovered
  // or when the button has focus
  .poll:hover &,
  &:focus {
    right: 25px;
  }

  &:hover, &:active, &:focus {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.poll-wrapper {
  position: relative;
  padding: 35px $small-page-padding;
  z-index: 1;
}

.poll-heading,
.poll-title,
.poll-more {
  font-weight: 700;
}

.poll-heading {
  border-bottom: 6px solid $white;
  font-size: 13px;
  display: inline-block;
  margin: 0;
  padding-bottom: 6px;
  text-transform: uppercase;
}

.poll-title {
  font-size: 28px;
  max-width: 730px;
  margin: 30px auto 20px;
}

.poll-options {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0 10px 10px 0;
    display: inline-block;
    &:last-child {margin-right: 0;}

    a {font-weight: 500;}
  }
}

.poll-form {
  .poll-input {
    color: $gray4D;
    font-size: 15px;
    font-weight: 300;
    margin: 0 5px 0 0;
    padding: 0 10px;
  }

  .poll-submit {
    height: 45px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 43px;
  }
}

.poll-more {
  font-size: 13px;
  margin: 0;
  text-transform: uppercase;

  a {
    border-bottom: 3px solid $color-tertiary;
    color: $color-tertiary;
    display: inline-block;
    text-decoration: none;

    &:hover {
      border-color: darken($color-tertiary, 23);
      color: darken($color-tertiary, 23);
    }
  }
}

@include small {
  .poll-form {
    .poll-input {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .poll-more {
    margin-top: 30px;
  }
}

@include large-and-medium {
  .poll-form {
    .poll-input {
      min-width: 430px;
    }
  }

  .poll-more {
    margin-top: 15px;
  }
}
