extends ../../layouts/stack/stack

include ../../modules/block-aside-checkboxes/block-aside-checkboxes
include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/block-content/block-content
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button/button
include ../../modules/button-top/button-top
include ../../modules/document-heading/document-heading
include ../../modules/footer/footer
include ../../modules/heading/heading
include ../../modules/news-list/news-list
include ../../modules/notice/notice
include ../../modules/pagination/pagination
include ../../modules/person-block/person-block
include ../../modules/rheader/rheader
include ../../modules/search-field/search-field
include ../../modules/share/share

append content
  +rheader(data.rheader)

append content
  .layout-content
    +document-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-padding.hidden-on-small
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content.layout-separate-after.layout-adjacent-before.layout-adjacent-after
    .layout-left-col
      .layout-wrapper
        aside.layout-aside
          .aside-wrapper
            +block-aside({"modifiers": "hidden-on-small"})
              +share(data.aside.share)
            each showCondition in ['hidden-on-small', 'only-on-small']
              - var politique = JSON.parse(JSON.stringify(data.aside.politique));
              - politique.showCondition = showCondition;
              - var arrondissement = JSON.parse(JSON.stringify(data.aside.arrondissement));
              - arrondissement.showCondition = showCondition;
              form(class='#{showCondition}')
                +block-aside({})
                  +search-field(data.aside.search)
                #facets
                  +block-aside-checkboxes(politique)
                  +block-aside-checkboxes(arrondissement)
                noscript
                  +block-aside({})
                    +button({"attributes": {"type": "submit", "id": "submit-button"}, "modifiers": ["action"], "text": "Rechercher"})

        .layout-content
          #results
            each result in data.results
              +#{result.type}(result.data)
          if data.pagination
            #pagination
              +pagination(data.pagination)

append content
  .layout-content.color-secondary-background.layout-separate-after
    .layout-three-col
      .layout-wrapper
        +heading(data.connected.heading)
        .layout-content
          +block-content-newsletter(data.connected.newsletter)
        .layout-content
          +block-content-jecoute(data.connected.jecoute)
        .layout-content
          +block-content-social(data.connected.social)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append content
  +button-top

append content
  if data.notices && data.notices.cnil
    +notice(data.notices.cnil)
