.get-involved {
}

.get-involved-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.get-involved-item {
  display: block;
  margin: 0;
  padding: 0;
}

.get-involved-card {
  background-color: $white;
  background-position: right bottom;
  background-size: cover;
  border-radius: 5px;
  display: block;
  height: 220px;
  text-decoration: none;
  transition: opacity 0.35s ease;

  &:hover {
    opacity: 0.8;

    .get-involved-text {
      color: $gray1A;
      opacity: 1;
    }
  }

  // modifiers
  &.dark {
    background-color: $gray1A;

    .get-involved-text {color: $light-blue;}
    &:hover .get-involved-text {color: $white;}
  }
}

.get-involved-text {
  color: $color-secondary-variant;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 25px;
  transition: color 0.35s ease;
}

@include small {
  .get-involved-item + .get-involved-item {
    margin-top: 20px;
  }
}

@include large-and-medium {
  .get-involved-items {
    @include container;
  }

  .get-involved-item {
    @include span(8);
    &:last-child {@include last;}
  }
}

@include large-and-medium {
  .get-involved-items {
    @include container;
  }

  .get-involved-item {
    @include span(8);
    &:last-child {@include last;}
  }
}
