.get-involved {
}

.get-involved-content {
}

.get-involved-card {
  background-color: $white;
  background-position: right bottom;
  background-size: cover;
  border-radius: 5px;
  display: block;
  height: 200px;
  text-decoration: none;
  transition: opacity 0.35s ease;

  @include small {
    & + .get-involved-card {
      margin-top: 20px;
    }
  }

  &:hover {
    opacity: 0.8;

    .get-involved-text {
      color: $gray26;
      opacity: 1;
    }
  }

  // modifiers
  &.dark {
    background-color: $gray26;

    .get-involved-text {color: $blue2;}
    &:hover .get-involved-text {color: $white;}
  }
}

@include large-and-medium {
  .get-involved-content {
    @include container;
  }

  .get-involved-card {
    @include span(8);

    &:last-child {
      @include last;
    }
  }
}

@include large-and-medium {
  .get-involved-content {
    @include container;
  }

  .get-involved-card {
    @include span(8);

    &:last-child {
      @include last;
    }
  }
}

.get-involved-text {
  color: $blue3;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  padding: 25px;
  transition: color 0.35s ease;
}
