include ../heading/heading

mixin get-involved(data)
  .get-involved
    .layout-wrapper
      +heading(data.heading)
      .get-involved-content
        each item in data.items
          a.get-involved-card(href=item.href style='background-image: url(#{item.image});')
            div.get-involved-text= item.text
