.gallery-ugc {
  max-width: 720px;
}

.gallery-ugc-title,
.gallery-ugc-hashtag {
  color: $gray33;
  display: inline-block;
}

.gallery-ugc-hashtag {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid transparent;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 10px -2px;
  padding: 0 0 2px;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: $gray33;
  }

  &.current,
  &.current:hover {
    border-color: $red1;
    color: $red1;
    cursor: default;
  }

  &:focus {
    background-color: $grayEE;
  }
}

.gallery-ugc-title {
  font-weight: 700;
}

.gallery-ugc-content {
  margin-top: 20px;
  padding: 0;
}

.gallery-ugc-item {
  display: block;
  margin-bottom: gutter() * 1.8;
  overflow: hidden;
  position: relative;
}

.gallery-ugc-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 100%;

  .gallery-ugc-text {
    color: white;
    font-weight: 700;
    position: absolute;
    bottom: -20px;
    left: 20px;
    transition: bottom 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    > .overlay {
      background-color: transparentize($black, 0.5);
      height: 100%;
      position: absolute;
      transition: background-color 0.2s ease-in-out;
      width: 100%;
    }

    .gallery-ugc-text {
      bottom: 20px;
      transition: bottom 0.3s ease-in-out;
    }
  }
}


@include large-and-medium {
  .gallery-ugc-content {
    @include container(720px);
  }

  .gallery-ugc-item {
    @include gallery(4 of 12);
    height: 230px;
  }

}
