.jecoute {
  max-width: 360px;
  background-color: $color-secondary;
  color: #FFF;

  .item {
    display: none;

    .question-answer{
      height: 130px;
      overflow: hidden;
    }

    .question,
    .answer {
      height: 130px;
      transform: none;
      transform-origin: 50% 50%;
      transition: transform 1s ;
    }

    .answer {
      transform: scale(0.5);
    }

    &.visible {
      display: block;
    }

    // &.answered {
    //   .question {
    //     transform: translateY(-130px);
    //   }

    //   .answer {
    //     transform: translateY(-130px);
    //   }
    // }

    .timer {
      position: relative;
      width: 80%;
      height: 30px;
      .start, .end{
        position: absolute;
      }
      .start{
        left: 0;
      }
      .end {
        right: 0;
      }
      .bar {
        border-radius: 2px;
        width: 100%;
        height: 3px;
        background-color: rgba(255,255,255,0.2);
        position: absolute;
        bottom: 5px;

        .avancement {
          width: 0%;
          height: 3px;
          background-color: $color-tertiary;
          border-radius: 2px;
        }
      }
    }
  }

  h2 {
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  &.vertical h2 {
    border-bottom: none;
  }

  .inner {
    padding: 10px 0 20px 0;
    overflow: hidden;
  }

  .user{
    font-weight: bold;
  }

  .button {
    margin-top: 10px;
  }
}

.vertical + .jecoute.vertical {
  border-top: 1px solid rgba(255,255,255,0.2);
}
