.block-content-newsletter {
  font-size: 14px;

  .block-content-text {
    margin-bottom: 15px;
    max-width: 360px;
  }

  .block-content-link {
    margin-top: 15px;
  }

  .button {
    height: 45px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 43px;
  }

  form {
    margin-bottom: 5px;

    input {
      color: $color-secondary;
      font-size: 13px;
      padding: 0 10px;
      width: 215px;

      @include input-color-placeholder($color-secondary);
    }
  }

  .block-content-link a {
    display: inline-block;
    border-bottom: 1px solid;
    text-decoration: none;
  }
}
