include block-content-newsletter
include ../../helpers/code

h2 Standard
.lsg-module
  +block-content-newsletter(defaults)
+code({language: "jade"}).
  include block-content-newsletter

  +block-content-newsletter(#{JSON.stringify(defaults, null, 2)})

h2 Avec formulaire
.lsg-module
  +block-content-newsletter(with_form)
+code({language: "jade"}).
  include block-content-newsletter

  +block-content-newsletter(#{JSON.stringify(with_form, null, 2)})
