include notice

h2 Standard
+notice(defaults)

// You can also pass the block as a parameter, named "block"
//+notice({"block": "Texte de la notice"})

h2 Fermable
+notice(closable)
+notice({"modifiers": ["blue"], "closable": true})
  | Texte de la notice
+notice({"modifiers": ["white"], "closable": true})
  | Texte de la notice

h2 Contenant un lien
+notice({})
  a(href='#') Texte de la notice

h2 Avec une icône alert
+notice({"modifiers": ["alert"]})
  | Texte de la notice
+notice({"modifiers": ["alert", "white"]})
  | Texte de la notice

h2 Avec une icône au choix
+notice({})
  i.icon-bus
  | Texte de la notice
+notice({"modifiers": ["white"]})
  i.icon-bus
  | Texte de la notice

h2 Couleurs de fond
+notice({"modifiers": ["blue"]})
  | Texte de la notice
+notice({"modifiers": ["orange"]})
  | Texte de la notice
+notice({"modifiers": ["yellow"]})
  | Texte de la notice
+notice({"modifiers": ["white"]})
  | Texte de la notice

h2 Couleurs de fond + transparence
+notice({"modifiers": ["transparent"]})
  | Texte de la notice
+notice({"modifiers": ["blue", "transparent"]})
  | Texte de la notice
+notice({"modifiers": ["orange", "transparent"]})
  | Texte de la notice
+notice({"modifiers": ["yellow", "transparent"]})
  | Texte de la notice
+notice({"modifiers": ["white", "transparent"]})
  | Texte de la notice

h2 Couleurs + image de fond
+notice({"modifiers": ["orange", "buildings"]})
  | Texte de la notice
+notice({"modifiers": ["blue", "buildings"]})
  | Texte de la notice
