.component-buttons {

  .component + & {
    // specific case, to improve rendering when there is a single button
    margin-top: 30px;
  }

  .buttons-title {
    color: $gray33;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 28px;
    margin: 0 0 18px;
  }

  .buttons-items {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }

  @media (max-width: 450px) {
    .buttons-items > li {
      display: block;
      .button {width: 100%;}
    }
  }

}
