include ../../modules/button/button

mixin buttons(data)
  .component.component-buttons
    if data.title
      h2.buttons-title= data.title
    ul.buttons-items
      each item in data.items
        li
          +button(item)
