include buttons
include ../../helpers/code

h2 Standard
.lsg-component
  +buttons(defaults)
+code({language: "jade"}).
  include buttons

  +buttons(#{JSON.stringify(defaults, null, 2)})

h2 Bouton seul
p Pour obtenir un bouton seul, il suffit de ne pas indiquer de titre, et de ne passer qu'un seul élément dans le tableau <code>items</code>.
.lsg-component
  +buttons(single_button)
+code({language: "jade"}).
  include buttons

  +buttons(#{JSON.stringify(single_button, null, 2)})
