include accordion
include ../../helpers/code

h1 Textes courts
+accordion(defaults)
+code({language: "jade"}).
  include accordion

  +accordion(#{JSON.stringify(defaults, null, 2)})


h1 Textes longs
+accordion(large_text)
+code({language: "jade"}).
  include accordion

  +accordion(#{JSON.stringify(large_text, null, 2)})

