include accordion
include ../../helpers/code

h2 Textes courts
.lsg-component
  +accordion(defaults)
+code({language: "jade"}).
  include accordion

  +accordion(#{JSON.stringify(defaults, null, 2)})


h2 Textes longs
.lsg-component
  +accordion(large_text)
+code({language: "jade"}).
  include accordion

  +accordion(#{JSON.stringify(large_text, null, 2)})

