.component-verbatim {
  float: left;
  margin: 0 25px 25px 0;
  max-width: 270px;

  &:hover {
    .verbatim-social {border-color: $gray179;}
  }


  // quote
  .verbatim-text {
    color: $color-primary;
    font-size: 24px;
    font-weight: 700;
    margin: 0;

    &:before,
    &:after {
      font-size: 1em;
    }

    &:before {
      content: "«";
      padding-right: 7px;
    }

    &:after {
      content: "»";
      padding-left: 7px;
    }
  }

  .verbatim-separate {
    background-color: $color-primary;
    height: 7px;
    margin: 20px 0 16px 3px;
    width: 70px;
  }

  // auteur & function
  .verbatim-author,
  .verbatim-function {
    color: $gray77;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }


  // lien twitter
  .verbatim-social {
    border: 1px solid $gray204;
    border-radius: 50%;
    color: $gray204;
    display: inline-block;
    margin-top: 10px;
    padding: 8px 10px;
    text-decoration: none;
    transition: all 0.1s ease;

    &:before {
      @extend %icon-font;
      @extend %icon-twitter;
      font-size: 1.4em;
    }

    &:hover {
      background-color: $blue3;
      border-color: $blue3;
      color: white;
    }
  }
}

