include verbatim
include ../../helpers/code

h2 Standard
.lsg-component
  +verbatim(defaults)
+code({language: "jade"}).
  include verbatim

  +verbatim(#{JSON.stringify(defaults, null, 2)})

p Pour plus d'information sur les URL de partage, voir le module&nbsp;
  a(href="../../modules/share") share
  | .
