include ../../modules/share/share

mixin verbatim(data)
  blockquote.component.component-verbatim
    p.verbatim-text= data.quote
    footer
      .verbatim-separate
      cite
        .verbatim-author
          = data.author
          | ,
        .verbatim-function= data.function
      - share = JSON.parse(JSON.stringify(data.share)) // clone the data object
      - share.modifiers = ["circles"] // overwrite the modifiers
      +share(share)
