.block-content-jecoute {
  font-size: 14px;
  max-width: 360px;
  position: relative;
  overflow: hidden;

  .block-content-text {
    margin-bottom: 15px;
    max-width: 360px;
  }

  .block-content-items {
    position: relative;
    min-height: 150px;
  }

  .block-content-item {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;

    &.visible {
      opacity: 1;
      transition: opacity 1s ease;
    }
  }

  .block-content-question-answer {
    height: 130px;
    overflow: hidden;
    position: relative;

    p {
      margin: 0;
    }
    a {
      border-bottom: 1px solid;
    }
  }

  .block-content-question,
  .block-content-answer {
    height: 130px;
    transition: opacity 400ms ease;
    opacity: 1;

    .user {
      font-weight: bold;
    }
  }

  .block-content-answer {
    position: absolute;
    top: 0;
    opacity: 0;
    transition-delay: 500ms;
    z-index: 1;
  }

  .answered .block-content-answer {
    opacity: 1;
    z-index: 1;
  }

  .answered .block-content-question {
    opacity: 0;
  }

  .block-content-timer {
    position: relative;
    width: 80%;
    height: 30px;
    .start, .end{
      position: absolute;
    }
    .start {left: 0;}
    .end {right: 0;}
    .block-content-bar {
      border-radius: 2px;
      width: 100%;
      height: 3px;
      background-color: rgba(255,255,255,0.2);
      position: absolute;
      bottom: 5px;

      .progress {
        width: 0%;
        height: 3px;
        background-color: $color-tertiary;
        border-radius: 2px;
      }
    }
  }

  .block-content-jecoute-pause {
    background-color: transparent;
    border: none;
    color: gray99;
    cursor: pointer;
    font-size: 20px;
    opacity: 0.4;
    position: absolute;
    right: -30px;
    transition: opacity 0.3s ease;
    top: 10px;
    z-index: 1;
    padding-right: 0;

    &:before {
      @extend %icon-font;
      @extend %icon-pause;
      font-size: 24px;
      position: relative;
    }

    &.paused:before {
      @extend %icon-play;
    }

    &:hover, &:active, &:focus {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}

.blocks-content-vertical .block-content-jecoute {
  .block-content-items + .block-content-button {
    position: absolute;
    bottom: 20px;
    @include medium {bottom: 0;}
  }
}

@include medium {
  .block-content-jecoute .block-content-items {
    min-height: 165px;
  }
}

@include small {
  .blocks-content-vertical .block-content-jecoute {
    &.block-content {
      padding-bottom: 50px;
    }
  }
}
