@charset "utf-8";

@import "../base/normalize";
@import "../base/colors";
@import "../base/fonts";

$lsg-nav-toggle-height: 35px;
$lsg-nav-width: 250px;

.lsg-nav-toggle {
  background-color: #ccc;
  color: #fff;
  cursor: pointer;
  font-size: 1.3em;
  height: $lsg-nav-toggle-height;
  line-height: $lsg-nav-toggle-height;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: $lsg-nav-toggle-height;

  &:hover,
  .lsg-nav-open & {
    background-color: #0c518a;
  }
}

.lsg-nav {
  background-color: transparent;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translateX(-$lsg-nav-width + $lsg-nav-toggle-height);
  transition: 0.2s ease-in-out;
  transition-property: transform, background-color;
  width: $lsg-nav-width;
  z-index: 10000;

  &.lsg-nav-open {
    background-color: #eee;
    transform: translateX(0);
  }
}

.lsg-nav-title {
  background-color: #0c518a;
  color: #fff;
  display: block;
  line-height: $lsg-nav-toggle-height - 1px;
  padding: 0 15px;
  text-decoration: none;
}

.lsg-nav-content {
  font-size: 14px;
  height: calc(100% - #{$lsg-nav-toggle-height});
  line-height: 1.6em;
  opacity: 0;
  overflow: auto;
  pointer-events: none;
  transition: 0.2s ease-in-out opacity;
  .lsg-nav-open & {
    opacity: 1;
    pointer-events: auto;
  }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
    }

    & + h2 {
      border-top: 1px solid #ccc;
    }
  }

  > h2 {
    background-color: #ddd;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px;
  }

  a {
    color: #555555;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    &:hover {background-color: #f8e273;}
    &.is-current {
      border-left: 5px solid #f8e273;
      color: #333;
      padding-left: 10px;
    }
  }
}

.lsg-content {
  position: absolute;
  top: 35px;
}

.lsg-base {
  padding: 35px 50px;
}

.lsg-wrapper {
  padding: 20px 50px;

  > h2 {color: #888;}
  > * + h2 {margin-top: 50px;}
}

pre.prism[class*="language-"] {
  clear: both;
  font-size: 14px;
  margin: 50px 0 0;
  padding: 20px 0px 0px 0 !important;

  & + pre.prism[class*="language-"] {
    margin-top: 20px !important;
  }

  > code[data-language] {
    overflow: auto;
    padding: 0 0 20px 15px;
  }
}

.lsg-icons {
  th {
    font-size: 22px;
    padding: 5px 10px 5px 0;
  }
}

.lsg-toc {
  h3 {
    b {
      color: #999;
      font-weight: 300;
      margin-left: 10px;
    }
  }
  a {
    color: #333;
    text-decoration: none;
    &:hover {text-decoration: underline}
  }
}

.lsg-colors {
  thead th,
  td {
    padding-left: 20px;
    text-align: left;
  }

  .lsg-color-dot:before {
    content: "â—";
    font-size: 30px;
    display: block;
  }
}

pre.language-markup > code[data-language]::before {
  content: "html";
}
