.component-frame {
  clear: both;
  @extend %component-text;

  a:not(.button) {
    color: $red1;
  }

  fieldset {
    border: 5px solid $color-primary;
    margin: 0;
    padding: 30px;

    legend {
      color: $color-primary;
      padding: 0 20px;
      font-size: 1.6rem;
      font-weight: 400;
      margin-left: 20px;
      margin-bottom: 0;
      width: auto;
    }
  }

  @include medium-and-small {
    .component-frame {
      ul.list-cols {
        columns: 2;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .component-frame {
      ul.list-cols {
        columns: 1;
      }
    }
  }
}
