include ../../components/text/text
include ../../components/buttons/buttons

.search-results-list
  h1!= opts.title
  //else
  //  .search-results-list-separate-page
  //    p= opts.page
  if opts.items.length !== 0
    ul.search-results-list-items
      each item in opts.items
        li.search-results-list-item
          a(href=item.href class=item.modifiers)
            != item.title
            p!= item.text
    p.search-results-list-button
      +button({text: "Afficher plus de résultats", modifiers: "wide"})

