.search-results-list {
  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 40px;

    var {
      font-style: normal;
    }
   }
}

.search-results-list-page {
  color: $color-secondary;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 50px 0;

  html.flexbox & {
    display: flex;
    justify-content: flex-start;

    &:before,
    &:after {
      border-bottom: 1px solid $color-secondary;
      content: "";
      display: flex;
      transform: translateY(-50%);
    }

    &:before {width: 15px;}
    &:after {flex-grow: 1;}

    > span {padding: 0 10px;}
  }
}

.search-results-list-items {
  list-style: none;
  margin: 0;
  padding: 0;

  h1 + & {
    border-top: 1px solid $grayCC;
  }
}

.search-results-list-item {
  & + .search-results-list-item {
    border-top: 1px solid $grayCC;
  }

  // modifiers
  &.primary {
    > a {color: $color-primary;}
  }

  > a {
    color: $gray33;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    line-height: 20px;
    padding-top: 30px;
    text-decoration: none;
  }

  > *:last-child {
    padding-bottom: 30px;
  }
}

.search-results-list-anchors {
  font-size: 1.3rem;
  font-weight: 700;
  list-style: none;
  margin: 10px 0 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 12px;
  }

  a {
    color: $gray33;
    &:hover {text-decoration: none;}
  }
}

.search-results-list-text {
  color: $gray66;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 10px;
}

.search-results-list-more {
  margin: 50px 0 20px 0;
  text-align: center;
}


@include large-and-medium {
  .search-results-list {
    h1 {
      font-size: 3.4rem;
      line-height: 38px;
      padding: 0 20px;
    }
  }

  .search-results-list-item {
    padding: 0 20px;
    transition: background 0.2s ease;

    &:hover {
      background-color: $color-tertiary;
    }
  }
}
