include search-results-list
include ../../helpers/code

h2 Pas de résultats
+search-results-list(defaults)
+code({language: "jade"}).
  include search-results-list

  +search-results-list(#{JSON.stringify(defaults, null, 2)})

h2 Avec résultats
+search-results-list(results)
+code({language: "jade"}).
  include search-results-list

  +search-results-list(#{JSON.stringify(results, null, 2)})

h2 Seconde page de résultats
+search-results-list(second_page)
+code({language: "jade"}).
  include search-results-list

  +search-results-list(#{JSON.stringify(second_page, null, 2)})
