extends ../../layouts/stack/stack

include ../../modules/block-aside-checkboxes/block-aside-checkboxes
include ../../modules/block-aside-links/block-aside-links
include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/block-content/block-content
include ../../modules/button-top/button-top
include ../../modules/footer/footer
include ../../modules/heading/heading
include ../../modules/hub-heading/hub-heading
include ../../modules/notice/notice
include ../../modules/rheader/rheader
include ../../modules/search-field/search-field
include ../../modules/search-results-list/search-results-list

append content
  +rheader(data.rheader)

append content
  .layout-content
    +hub-heading(data.heading)
      +search-field(data.search)

append content
  .layout-left-col
    .layout-wrapper
      aside.layout-aside
        if data.suggestions
          +block-aside-links(data.suggestions)
        if data.facets
          each facet in data.facets
            +block-aside-checkboxes(facet)

      .layout-content#results
        +search-results-list(data.search_results)

append content
  .layout-content

append content
  .layout-content.color-secondary-background.layout-separate-after
    .layout-three-col
      .layout-wrapper
        +heading(data.connected.heading)
        .layout-content
          +block-content-newsletter(data.connected.newsletter)
        .layout-content
          +block-content-jecoute(data.connected.jecoute)
        .layout-content
          +block-content-social(data.connected.social)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append content
  +button-top

append content
  if data.notices && data.notices.cnil
    +notice(data.notices.cnil)
