extends ../../layouts/stack/stack

include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button-top/button-top
include ../../modules/footer/footer
include ../../modules/rheader/rheader
include ../../modules/hub-heading/hub-heading
include ../../modules/heading/heading
include ../../modules/get-involved-list/get-involved-list
include ../../modules/links-group/links-group
include ../../modules/news-list/news-list
include ../../modules/gallery-ugc/gallery-ugc

append content
  +rheader(data.rheader)

append content
  .layout-content
    +hub-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-padding.hidden-on-small
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content.layout-padding-after
    .layout-wrapper
      +get-involved-list(data.get_involved_list)

append content
  .layout-content.gray-background
    .layout-wrapper
      +heading(data.act.heading)
      +links-group(data.act.links_group)

append content
  .layout-content.layout-padding-after
    .layout-wrapper
      +heading(data.now.heading)
      +news-list(data.now.news_list)

append content
  .layout-right-col.gray-background
    .layout-wrapper
      .layout-content.hidden-on-small
        +heading(data.gallery.heading)
        +gallery-ugc(data.gallery.gallery_ugc)
      aside.layout-aside.color-secondary-background
        .blocks-content-vertical
          +block-content-newsletter(data.connected.newsletter)
          +block-content-jecoute(data.connected.jecoute)
          +block-content-social(data.connected.social)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append content
  +button-top
