.button {
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-primary {
  background-color: $color-primary;
}
