.component-links {
  clear: both;

  .links-title {
    color: $gray33;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.8rem;
    margin-top: 0;
  }

  .links-items,
  .links-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .links-items {
    border-bottom: 1px solid $grayCC;
    border-top: 1px solid $grayCC;
  }

  .links-item {

    & + .links-item {
      border-top: 1px solid $grayCC;
    }

    > a {
      color: $gray33;
      display: block;
      font-size: 1.6rem;
      line-height: 2rem;
      padding: 16px 0 16px 45px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        .links-item-filesize {text-decoration: none;}
      }
    }

    &:before {
      @include icon(link);
      float: left;
      font-size: 2.4rem;
      padding: 13px 20px 0 0;
      pointer-events: none;
    }

    // modifiers
    &.links-item-pdf:before {
      @include icon(pdf);
    }
    &.links-item-file:before {
      @include icon(dl);
    }

    &.links-primary {
      color: $color-primary;
      a {
        color: $color-primary;
      }

      .links-item-attributes {
        color: $color-primary;
      }
    }

  }

  .links-item-attributes {
    color: $gray66;
    display: inline-block;
    font-size: 1.4rem;
    margin-left: 10px;
    text-decoration: none;
    &:before {content: "(";}
    &:after {content: ")";}

    > * + * {margin-left: 5px;}
    > *:after {content: ", ";}
    > *:last-child:after {content: "";}
  }

}
