.component-links {
  clear: both;

  h2 {
    margin-top: 0;
  }

  .links-items,
  .links-item {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .links-items {
    border-bottom: 1px solid $grayCC;
    border-top: 1px solid $grayCC;
  }

  .links-item {

    & + .links-item {
      border-top: 1px solid $grayCC;
    }

    > a {
      color: $gray33;
      display: block;
      font-size: 16px;
      line-height: 20px;
      padding: 16px 0 16px 45px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        .links-item-filesize {text-decoration: none;}
      }
    }

    &:before {
      @extend %icon-font;
      @extend %icon-link;
      float: left;
      font-size: 1.5em;
      padding: 13px 20px 0 0;
      pointer-events: none;
    }

    // modifiers
    &.links-item-pdf:before {
      @extend %icon-pdf;
    }
    &.links-item-file:before {
      @extend %icon-dl;
    }

    &.links-primary {
      color: $color-primary;
      a {
        color: $color-primary;
      }

      .links-item-filesize,
      .links-item-target {
        color: $color-primary;
      }
    }

  }

  .links-item-filesize,
  .links-item-target {
    color: $gray66;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: none;
    &:before {content: "(";}
    &:after {content: ")";}
  }

}
