mixin links(opts)
  .component.component-links
    h2= opts.title
    ul.links-items
      each item in opts.items
        li.links-item(class=item.modifiers)
          a(href=item.href target=item.target)
            = item.text
            if item.filesize
              span.links-item-filesize
                = item.filesize
