.heading {
  border-left: 6px solid $color-tertiary;
  overflow: auto;
  padding: 20px 10px 20px 30px;

  /* modifiers */
  &.white {
    .heading-title {color: $white;}
    .heading-links > a {
      border-bottom-color: $white;
      color: $white;
    }
  }
}

.heading-title {
  color: $gray51;
  font-size: 34px;
  font-weight: 700;
  float: left;
  line-height: 40px;
  margin: 0 20px 0 0;
}

.heading-links {
  line-height: 40px;
  font-size: 15px;

  > a {
    border-bottom: 1px solid $gray153;
    color: $gray77;
    display: inline-block;
    line-height: 20px;
    text-decoration: none;

    &:hover {
      border: 0
    }
  }
}
