mixin heading(opts)
  .heading(class= opts.modifiers ? "#{opts.modifiers}" : "")
    h2.heading-title= opts.title
    - if (opts.link)
      .heading-links
        a(href=opts.link.href)= opts.link.text
