include heading
include ../../helpers/code

h2 Standard
.lsg-module
  +heading(defaults)
+code({language: "jade"}).
  include heading

  +heading(#{JSON.stringify(defaults, null, 2)})

h2 Avec un lien
.lsg-module
  +heading(with_link)
+code({language: "jade"}).
  include heading

  +heading(#{JSON.stringify(with_link, null, 2)})

h2 Texte blanc
.lsg-module
  +heading(white)
+code({language: "jade"}).
  include heading

  +heading(#{JSON.stringify(white, null, 2)})
