extends ../../layouts/stack/stack

include ../../modules/footer/footer
include ../../modules/get-involved/get-involved
include ../../modules/header/header
include ../../modules/heading/heading
include ../../modules/jumbotron/jumbotron
include ../../modules/municipal-team/municipal-team
include ../../modules/news-card/news-card
include ../../modules/notice/notice
include ../../modules/que-faire/que-faire
include ../../modules/sections-list/sections-list

append content
  +notice({"modifiers": "top blue buildings", "closable": true})
    a(href="#") Visiting Paris ? Plan your trip

append content
  +header(public.modules.header._data.index.defaults)

append content
  .layout-content
    .layout-wrapper
      +heading({
        "title": "Services et infos pratiques"
      })

      +sections-list({
      "items": [
        {
          "title": "Aides & démarches",
          "text": "Nullam id dolor id nibh ultricies vehicula ut id elit."
        },
        {
          "title": "Culture & patrimoine",
          "text": "Sed posuere consectetur est at lobortis."
        },
        {
          "title": "Déplacements & stationnement",
          "text": "Donec id elit non mi porta gravida at eget metus."
        },
        {
          "title": "Emploi & formations",
          "text": "Sed posuere consectetur est at lobortis."
        },
        {
          "title": "Environnement & espaces verts",
          "text": "Cras justo odio, dapibus ac facilisis in, egestas eget quam."
        },
        {
          "title": "Famille & éducation",
          "text": "Donec ullamcorper nulla non metus auctor fringilla."
        },
        {
          "title": "Innovation",
          "text": "Cras mattis consectetur purus sit amet fermentum."
        },
        {
          "title": "Logement",
          "text": "Nullam quis risus eget urna mollis ornare vel eu leo."
        },
        {
          "title": "Santé",
          "text": "Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
        },
        {
          "title": "Social & solidarités",
          "text": "Maecenas sed diam eget risus varius blandit sit amet."
        },
        {
          "title": "Sports & loisirs",
          "text": "Cras mattis consectetur purus sit amet fermentum."
        },
        {
          "title": "Urbanisme",
          "text": "Nullam quis risus eget urna mollis ornare vel eu leo."
        },
        {
          "title": "Associations",
          "text": "Sed posuere consectetur est at lobortis."
        },
        {
          "text": "Vous cherchez autre chose ?",
          "modifiers": "more"
        }
      ]
    })

append content
  .layout-content
    +jumbotron({
      "image": "../../modules/jumbotron/image.jpg",
      "title": "À la une",
      "text": "Revivez Nuit Blanche en photos et vidéo"
    })

append content
  .layout-content
    .layout-wrapper
      +heading({
        "title": "En ce moment",
        "link": "Voir toutes les actualités"
      })
      +news-card({
        "image": "../../modules/news-card/image.jpg",
        "category": "Mobilité",
        "title": "Découvrez les neuf Autolib' customisées qui vont sillonner Paris"
      })
      +news-card({
        "image": "../../modules/news-card/image.jpg",
        "category": "Tourisme",
        "title": "Le 1er étage de la Tour Eiffel se refait une jeunesse"
      })
      +news-card({
        "image": "../../modules/news-card/image.jpg",
        "category": "Environnements",
        "title": "Vers un plan parisien de lutte contre le gaspillage alimentaire"
      })

append content
  .layout-content
    .layout-wrapper
      +que-faire({
        "image": "../../modules/que-faire/que-faire-back-img.jpg",
        "logo": {
          "href": "#",
          "image": "../../modules/que-faire/que-faire-img.png"
        },
        "items": [
          {"href": "#", "text": "Que faire à Paris ce week-end ?"},
          {"href": "#", "text": "Autour de la FIAC du 23 au 26 octobre"},
          {"href": "#", "text": "Capitaine Futur et le voyage extraordinaire"}
        ]
      })

append content
  .layout-content.gray-background
    +get-involved({
      "heading": {
        "title": "Participez !",
        "link": {
          "href": "#",
          "text": "Accéder à l’espace participatif"
        }
      },
      "items": [
        {"href": "#", "image": "../../modules/get-involved/get-involved-img1.png", "text": "Votez pour le budget participatif"},
        {"href": "#", "image": "../../modules/get-involved/get-involved-img2.png", "text": "E-pétition, prenez la main"}
      ]
    })

append content
  .layout-right-col
    .layout-wrapper
      .layout-content
        +heading({
          "title": "Vu par les Parisiens"
        })
      aside.layout-aside.color-secondary-background
        h1 aside

append content
  .layout-content
    +municipal-team({
      "heading": {
        "title": "La Maire et ses adjoints",
        "link": {
          "href": "#",
          "text": "L’Hôtel de ville"
        },
        "modifiers": "white"
      },
      "img": {
        "src": "../../modules/municipal-team/image.jpg",
        "alt": "La Maire et ses adjoints"
      },
      "intro": "Maecenas sed diam eget risus varius blandit sit amet non magna.",
      "text": "Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna."
    })

append content
  .layout-content.layout-content-adjacent
    +footer({
      "logo": {
        "href": "#",
        "src": "../../modules/footer/mairie-de-paris.png",
        "alt": "Logo de la Mairie de Paris"
      },
      "items": [
        {"href": "#", "text": "Visit Paris", "modifiers": "footer-link-em"},
        {"href": "#", "text": "FAQ"},
        {"href": "#", "text": "Newsletter"},
        {"href": "#", "text": "Contact"},
        {"href": "#", "text": "Presse"},
        {"href": "#", "text": "Mentions légales"},
        {"href": "#", "text": "Crédits"},
        {"href": "#", "text": "Accessibilité"}
      ]
    })
