extends ../../layouts/stack/stack

include ../../modules/block-content/block-content
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/footer/footer
include ../../modules/get-involved/get-involved
include ../../modules/header/header
include ../../modules/heading/heading
include ../../modules/jecoute/jecoute
include ../../modules/jumbotron/jumbotron
include ../../modules/news-list/news-list
include ../../modules/newsletter/newsletter
include ../../modules/que-faire/que-faire
include ../../modules/pagination/pagination
include ../../modules/pictures-gallery-ugc/pictures-gallery-ugc
include ../../modules/search-push/search-push
include ../../modules/social/social
include ../../modules/video-cover/video-cover

append content
  +header(public.modules.header._data.index.defaults)

append content
  .layout-content
    +jumbotron(data.jumbotron)

append content
  .layout-content.layout-separate-after.layout-small-padding
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content
    .layout-wrapper
      +heading(data.today.heading)
      +news-list(data.today.news)

append content
  .layout-content.gray-background
    .layout-wrapper
      +heading(data.yesterday.heading)
      +news-list(data.yesterday.news)

append content
  .layout-content.layout-adjacent-before
    .layout-half-col.color-secondary-background
      .layout-wrapper
        .layout-content
          +block-content(data.video.block)
            +video-cover(data.video.cover)
        .layout-content
          +block-content(data.newsletter.block)
            +newsletter(data.newsletter.newsletter)

append content
  .layout-content
    .layout-wrapper
      +heading(data.archive.heading)
      +news-list(data.archive.news)

append content
  .layout-content
    .layout-wrapper
      +pagination(data.pagination)

append content
  .layout-content
    .layout-wrapper
      +que-faire(data.que_faire)

append content
  .layout-content
    +search-push(data.search_push)

append content
  .layout-content.gray-background.layout-adjacent-before
    +get-involved(data.get_involved)

append content
  .layout-right-col
    .layout-wrapper
      .layout-content
        +heading(data.gallery.heading)
        +pictures-gallery-ugc(data.gallery.pictures_gallery_ugc)
      aside.layout-aside.color-secondary-background
        .blocks-content-vertical
          +block-content(data.connected.newsletter.block)
            +newsletter(data.connected.newsletter.content)
          +block-content(data.connected.jecoute.block)
            +jecoute(data.connected.jecoute.content)
          +block-content(data.connected.social.block)
            +social(data.connected.social.content)

append content
  .layout-content.layout-adjacent-before
    +footer(public.modules.footer._data.index.defaults)
