extends ../../layouts/stack/stack

include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/block-content-social/block-content-social
include ../../modules/block-content/block-content
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button-top/button-top
include ../../modules/footer/footer
include ../../modules/gallery-ugc/gallery-ugc
include ../../modules/get-involved/get-involved
include ../../modules/heading/heading
include ../../modules/hub-heading/hub-heading
include ../../modules/news-list/news-list
include ../../modules/notice/notice
include ../../modules/pagination/pagination
include ../../modules/que-faire/que-faire
include ../../modules/rheader/rheader
include ../../modules/search-push/search-push
include ../../modules/skip-links/skip-links

append header
  if data.skip_links
    +skip-links(data.skip_links)

append header
  +rheader(data.rheader)

append content
  .layout-content
    if data.heading
      +hub-heading(data.heading)
    else
      +jumbotron(data.jumbotron)

append content
  .layout-content.layout-separate-after.layout-small-padding.hidden-on-small
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  if data.archive
    .layout-content.gray-background
      .layout-wrapper
        +heading(data.archive.heading)
        +news-list(data.archive.news)

append content
  if data.pagination
    .layout-content
      .layout-wrapper
        +pagination(data.pagination)

append content
  if data.que_faire
    .layout-content
      .layout-wrapper.full-width-on-small
        +que-faire(data.que_faire)

append content
  if data.search_push
    .layout-content.layout-adjacent-before-on-small
      +search-push(data.search_push)

append content
  if data.get_involved
    .layout-content.gray-background
      +get-involved(data.get_involved)

append content
  if data.gallery
    .layout-right-col
      .layout-wrapper
        .layout-content.hidden-on-small
          +heading(data.gallery.heading)
          +gallery-ugc(data.gallery.gallery_ugc)
        aside.layout-aside.color-secondary-background
          .blocks-content-vertical
            +block-content-newsletter(data.connected.newsletter)
            +block-content-jecoute(data.connected.jecoute)
            +block-content-social(data.connected.social)
  else
    .layout-content.color-secondary-background.layout-separate-after
      .layout-three-col
        .layout-wrapper
          +heading(data.connected.heading)
          .layout-content
            +block-content-newsletter(data.connected.newsletter)
          .layout-content
            +block-content-jecoute(data.connected.jecoute)
          .layout-content
            +block-content-social(data.connected.social)

append footer
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append footer
  +button-top(data.button_top)

append footer
  if data.notices && data.notices.cnil
    +notice(data.notices.cnil)
