.jumbotron {
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: cover;
  display: inline-block;
  height: 320px;
  text-decoration: none;
  width: 100%;

  .layout-wrapper.jumbotron-content {
    border-left: 6px solid $color-tertiary;
    color: $white;
    padding: 5px 10px 3px 35px;
    margin-top: 80px;
  }
}

.jumbotron-title {
  font-size: 18px;
  font-weight: 700;
}

.jumbotron-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  margin: 0 0 14px;
  max-width: 470px;
}

// Keep space for the header, when the jumbotron is the first element after it
header + .layout-content .jumbotron {
  height: 400px;
  padding-top: 80px;
}
