.component-postit {
  @extend %component-text;

  border-bottom: 7px solid $orange1;
  clear: both;
  margin-top: -50px;
  padding: 10px 0 110px;
  position: relative;

  &:before {
    background: $orange1;
    content: " ";
    display: block;
    height: 100%;
    left: -50px;
    position: absolute;
    top: 0;
    width: 6px;
  }

  h2,
  a:not(.button) {
    color: $orange1;
  }

  h2 .icon,
  .share {
    display: none;
  }

}
