.component-postit {
  @extend %component-text;

  background-color: transparentize($orange1, 0.85);
  border-bottom: 6px solid $orange1;
  clear: both;
  margin-top: -50px;
  padding: 10px 20px 40px 0;
  position: relative;

  &:before {
    background-color: transparentize($orange1, 0.85);
    border-bottom: 6px solid $orange1;
    border-left: 6px solid $orange1;
    content: " ";
    display: block;
    height: calc(100% + 6px);
    left: -50px;
    position: absolute;
    top: 0;
    width: 50px;
  }

  h2,
  a:not(.button) {
    color: $orange1;
  }

  h2 .icon,
  .share {
    display: none;
  }

}
