mixin postit(data)
  .component.component-postit(class=data ? data.modifiers : [])#postit
    h2.
      Informations complémentaires
    if block
      block
    else if data.block
      != data.block
    else
      p postit
