.component-sharelines {
  border-left: 7px solid $gray242;
  clear: both;
  padding-left: 22px;

  .sharelines-title {
    color: $blue3;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .sharelines-items {
    border-top: 1px solid $gray204;
    color: $gray51;
    font-size: 15px;
    font-width: 300;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sharelines-item {
    border-bottom: 1px solid $gray204;
    padding: 20px 80px 20px 0;
    position: relative;
    &:hover {
      .sharelines-icon {border-color: $gray179;}
    }

    .sharelines-icon {
      border: 1px solid $gray204;
      border-radius: 50%;
      color: $gray204;
      font-size: 20px;
      line-height: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      text-align: center;
      text-decoration: none;
      top: 50%;
      transform: translateY(-20px);
      transition: all 0.1s ease;
      width: 40px;

      &:hover {
        background-color: $blue3;
        border-color: $blue3;
        color: $white;
      }
    }
  }
}
