.component-sharelines {
  border-left: 7px solid $grayF2;
  clear: both;
  padding-left: 22px;

  .sharelines-title {
    color: $color-secondary-variant;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.2rem;
    margin: 0 0 20px;
  }

  .sharelines-items {
    border-top: 1px solid $grayCC;
    color: $gray33;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .sharelines-item {
    border-bottom: 1px solid $grayCC;
    padding: 20px 80px 20px 0;
    position: relative;
    &:hover {
      .share a {
        border-color: $grayCC;
        &:hover {border-color: $color-secondary-variant;}
      }
    }
  }

  .share {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-20px);
  }
}
