include sharelines
include ../../helpers/code

p Pour plus d'information sur les URL de partage, voir le module
  a(href="../../modules/share") share
  | .

h2 Standard
.lsg-component
  +sharelines(defaults)
+code({language: "jade"}).
  include sharelines

  +sharelines(#{JSON.stringify(defaults, null, 2)})
