include ../../modules/share/share

mixin sharelines(opts)
  .component.component-sharelines
    .sharelines-title= opts.title
    ul.sharelines-items
      each item in opts.items
        li.sharelines-item
          = item.text
          - share = JSON.parse(JSON.stringify(item.share)) // clone the data object
          - share.modifiers = ["circles"] // overwrite the modifiers
          +share(share)
