include ../../modules/share/share

mixin sharelines(data)
  .component.component-sharelines(class=data.modifiers)
    h2.sharelines-title= data.title
    ul.sharelines-items
      each item in data.items
        li.sharelines-item
          = item.text
          - var share = JSON.parse(JSON.stringify(item.share)) // clone the data object
          - share.modifiers = ["circles"] // overwrite the modifiers
          +share(share)
