.component-card {
  clear: both;

  > a {
    background-color: $grayF2;
    border-radius: 5px;
    color: $gray33;
    display: block;
    min-height: 220px;
    position: relative;
    text-decoration: none;
    transition: background 0.35s ease;

    &:hover {
      background-color: $grayEE;

      .card-image {
        //opacity: 0.8;
        &:after {opacity: 0;}
      }
    }
  }

  .card-image {
    background: center center no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 100%;
    left: 0;
    max-width: 400px;
    //opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    //transition: opacity 0.35s ease;
    width: 45%;

    &:after {
      background: $black;
      content: "";
      display: block;
      height: 100%;
      opacity: 0.1;
      transition: opacity 0.35s ease;
      width: 150%;
    }
  }

  .card-content {
    margin-left: 45%;
    padding: 20px;
    width: 55%;
  }

  .card-category {
    color: $color-secondary;
    font-weight: 500;
    font-size: 14px;
  }

  .card-title {
    font-size: 17px;
    margin-top: 10px;
    max-width: 320px;
  }

  .card-text {
    font-size: 15px;
  }
}
