mixin search-push(opts)
  .search-push
      p.search-push-text= opts.text
      p.search-push-wrapper-link
        button.button.button-primary.search-push-link= opts.label
<<<<<<< HEAD

=======
>>>>>>> 2f2ad2305fd07fee293077915ebf13e96738c3ee
