.quick-access {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 520px;
  padding-top: 145px;
  position: relative;
}

.quick-access-wrapper {
  max-width: 820px;
  margin: 0 auto;
}

.quick-access-buttons {
  list-style: none;
  margin: 10px 0 0;
  padding: 0;

  > li {
    display: inline-block;
    margin: 0 10px 10px 0;
  }

  .button {

  }
}
