include ../button/button
include ../notice/notice

mixin quick-access(opts)
  .quick-access(style='background-image: url(#{opts.background});')
    .quick-access-wrapper
      .quick-access-search
        input#quick-search.quick-access-search-field(type="text" placeholder=opts.search.input.placeholder title=opts.search.input.placeholder)
        button.quick-access-search-submit(type="submit")
          span= opts.search.submit.text
          i.icon.icon-search
        a.button.around-me(href="#")
          i.icon.icon-marker
          = opts.search.around.text
      ul.quick-access-buttons
        each item in opts.items
          li
            +button({
              "href": item.href,
              "text": item.text,
              "modifiers": "secondary"
            })
    if opts.notice
      +notice(opts.notice)
