mixin liens(opts)
  .composant.composant-liens
    h2 Liens et téléchargements
    ul.liens-items
      li.liens-item.liens-item-fichier
        a(href="#") Accession à la propriété : prêt 0% Paris Logement
      li.liens-item
        a(href="#") Aides de la CAF
      li.liens-item
        a(href="#") Aides d’Action Logement (1% patronal)
      li.liens-item
        a(href="#") Etudiants : logement universitaire
