mixin fil-ariane(opts)
  ol.fildariane
    li.fildariane-item
      a(href='#') Accueil
    li.fildariane-item
      a(href='#') Services et infos pratiques
    li.fildariane-item
      a(href='#') Culture et patrimoine
    li.fildariane-item.fildariane-item-courant Biblioth&egrave;ques
