.tags {
  font-size: 15px;
  font-weight: 500;
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline-block;
  }

  .tags-separator {
    margin: 0 .2em;
  }

  a {
    color: inherit;
    &:hover {
      color: $color-primary;
    }
  }

}
