doctype html
html
  head
    meta(charset='utf-8')
    title Composant
    link(href="../../stylesheets/styleguide.css" type="text/css" rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" rel="stylesheet")
    script(src="//code.jquery.com/jquery-2.1.3.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")

  body
    != yield
