mixin block-content(data)
  .block-content(class=data.modifiers)
    h2.block-content-title= data.title
    .block-content-content
      if block
        block
      else if data.block
        != data.block
      else
        | blue block
