include block-content
include ../button/button

extends ../../helpers/preview

append elements
  h2.lsg-example-title Avec la couleur secondaire en fond et du contenu sous forme de code #[code jade]

  .lsg-elem
    +block-content({"title": "Title", "modifiers": ["color-secondary-background"]})
      p Contenu
      +button({
        "href": "#",
        "text": "Action",
        "modifiers": ["action"]
      })
  +code("jade").
    include block-content
    include button

    +block-content(#{JSON.stringify({"title": "Title", "modifiers": ["color-secondary-background"]})})
      p Contenu
      +button({
        "href": "#",
        "text": "action",
        "modifiers": ["action"]
      })
