.links-group {
  & + .links-group {
    margin-top: 50px;
  }

  // modifiers
  &.white-buttons {
    .links-group-item a {
      background-color: $white;
    }
  }

  @include small {
    // modifiers
    &.blue {
      .links-group-header a {color: $color-secondary-variant;}
      .links-group-item-icon,
      .links-group-item a:hover {background-color: $color-secondary-variant;}
    }
    &.red {
      .links-group-header a {color: $red1;}
      .links-group-item-icon,
      .links-group-item a:hover {background-color: $red1;}
    }
  }

}

.links-group-header {
  margin: 0 0 20px;

  a {
    color: $gray99;
    display: block;
    text-decoration: none;
    width: 100%;

    @include small {
      background-image: none !important;
    }
  }
}


.links-group-title,
.links-group-subtitle {
  position: relative;
  z-index: 2;
}

.links-group-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

.links-group-subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}

.links-group-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.links-group-item {
  margin-bottom: 7px;

  a {
    background-color: $grayF2;
    border: none;
    border-radius: 5px;
    color: $gray33;
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 15px 80px 15px 15px;
    position: relative;
    text-decoration: none;

    &:hover {
      background-color: $gray99;
      color: $white;
      transition: all 0.2s ease;
    }
  }
}

.links-group-item-icon {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: block;
  float: right;
  height: 28px;
  line-height: 30px;
  margin-top: -14px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  text-align: center;
  top: 50%;
  width: 28px;
  color: white;
  font-size: 18px;

  &:before {
    @extend %icon-font;
    @extend %icon-arrow-right;
  }
}



@include large-and-medium {

  .links-group {

    // modifiers
    &.white-buttons {
      .links-group-item a:hover {background-color: $gray99;}
    }

    &.blue {
      .links-group-header a:after,
      .links-group-item a:hover {background-color: $color-secondary-variant;}
    }

    &.red {
      .links-group-header a:after,
      .links-group-item a:hover {background-color: $red1;}
    }
  }

  .links-group-header {
    a {
      background-position: 50% 50%;
      background-size: cover;
      color: $white;
      display: table;
      height: 320px;
      position: relative;
      text-align: center;

      &:hover {
        &:after {
          opacity: 0.8;
        }
      }

      &:after {
        background-color: $gray99;
        content: '';
        height: 100%;
        left: 0;
        opacity: 0.7;
        position: absolute;
        transition: opacity 0.2s ease;
        top: 0;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .links-group-header-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .links-group-items {
    @include container;
  }

  .links-group-item {
    @include gallery(4 of 12);
    margin-bottom: 20px;

    a {
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
      padding: 0 80px 0 22px;
      position: relative;
      text-decoration: none;

      &:hover {
        background-color: $gray99;
        color: $white;
        transition: all 0.2s ease;
      }
    }

  }

  .links-group-item-text {
    display: table-cell;
    height: 60px;
    vertical-align: middle;
  }

}
