.links-group {
  & + .links-group {
    margin-top: 30px;
  }

  // modifiers
  &.white-buttons {
    .links-group-item {
      background-color: $white;
      &:hover {background-color: $gray153;}
    }
  }

  &.blue {
    .links-group-header:after,
    .links-group-item:hover {background-color: $blue3;}
  }

  &.red {
    .links-group-header:after,
    .links-group-item:hover {background-color: $red2;}
  }
}

.links-group-header {
  background-position: 50% 50%;
  background-size: cover;
  color: $white;
  display: table;
  height: 320px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    &:after {
      opacity: 0.8;
    }
  }

  &:after {
    background-color: $gray153;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    transition: opacity 0.2s ease;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.links-group-header-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.links-group-title,
.links-group-subtitle {
  position: relative;
  z-index: 2;
}

.links-group-title {
  font-size: 36px;
  font-weight: 700;
}

.link-group-subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}

.links-group-items {
  @include container;
}

.links-group-item {
  @include gallery(4 of 12);
  background-color: $gray242;
  border: none;
  border-radius: 5px;
  color: $gray51;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 0 80px 0 22px;
  position: relative;
  text-decoration: none;

  &:hover {
    background-color: $gray153;
    color: $white;
    transition: all 0.2s ease;
  }
}

.links-group-item-text {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
}

.links-group-item-icon {
  display: block;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 17px;

  &:after {
    @extend %icon-font;
    @extend %icon-arrow-right;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: white;
    float: right;
    font-size: 1em;
    padding: 4px 4px 5px 5px;
  }
}
