@charset "utf-8";

@import "lsg/grid";
@import "lsg/mixins";

@import "../base/normalize";
@import "../base/fonts";

@import "lsg/layout";
@import "lsg/toc";
@import "lsg/ish";




.lsg-base {
  padding: 35px 50px;

  h1:first-child {margin: 0 0 10px;}
  h1 + h2 {margin-top: 0;}
}


.lsg-wrapper {
  overflow: hidden;
  padding: 20px 50px;

  > h2 {color: #888;}
  > * + h2 {margin-top: 50px;}
}

pre.prism[class*="language-"] {
  clear: both;
  font-size: 14px;
  margin: 50px 0 0;
  padding: 20px 0px 0px 0 !important;

  & + pre.prism[class*="language-"] {
    margin-top: 20px !important;
  }

  > code[data-language] {
    overflow: auto;
    padding: 0 0 20px 15px;
  }
}

.lsg-icons {
  th {
    font-size: 22px;
    padding: 5px 10px 5px 0;
  }
}


.lsg-colors {
  thead th,
  td {
    padding-left: 20px;
    text-align: left;
  }

  .lsg-color-dot:before {
    content: "â—";
    font-size: 30px;
    display: block;
  }
}

pre.language-markup > code[data-language]::before {
  content: "html";
}

.dl-link {
  margin-left: 17px;

  .icon {
    font-size: 17px;
    margin-right: 10px
  }
}
