.component-place {
  background-color: $grayF2;
  border-radius: 5px;
  clear: both;
  overflow: auto;
  padding: 40px 50px 20px 25px;
  position: relative;

  .place-content {
    padding-bottom: 30px;
  }

  .place-title,
  .place-address {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .place-title {
    font-weight: 700;
  }

  .place-address {
    font-weight: 300;
  }

  .place-items {
    font-size: 1.6rem;
    font-weight: 700;
    list-style: none;
    margin: 25px 0 0;
    padding: 0;
  }

  .place-item {
    & + .place-item {
      margin-top: 5px;
    }
    .icon {
      color: $color-secondary;
      font-size: 2rem;
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  > .button {
    margin-bottom: 20px;
  }
}

@include large-and-medium {
  .component-place {
    .place-content {
      float: left;
      padding-bottom: 20px;
    }

    > .button {
      float: right;
    }
  }
}
