include ../../modules/button/button

mixin place(data)
  .component.component-place(class=data.modifiers)
    .place-content
      if data.title
        .place-title= data.title
      if data.address
        .place-address!= data.address
      if data.items && data.items.length
        ul.place-items
          each item in data.items
            li.place-item
              i.icon(class="icon-#{item.icon}" aria-hidden="true")
              = item.text
    if data.button
      - var button = JSON.parse(JSON.stringify(data.button)) // clone the data object
      - button.modifiers = ["marker"] // overwrite the modifiers
      +button(button)
