include ../../../modules/gallery-ugc/gallery-ugc
include ../../../modules/heading/heading
include ../../../modules/block-content-jecoute/block-content-jecoute
include ../../../modules/block-content-newsletter/block-content-newsletter
include ../../../modules/block-content-social/block-content-social

mixin block-stay-connected(data)
  .layout-right-col
    .layout-wrapper
      .layout-content
        +heading(data.gallery.heading)
        +gallery-ugc(data.gallery.gallery_ugc)
      aside.layout-aside.color-secondary-background
        .blocks-content-vertical
          +block-content-newsletter(data.newsletter)
          +block-content-jecoute(data.jecoute)
          +block-content-social(data.social)

