.que-faire {
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: cover;
  min-height: 240px;
  max-width: 1100px;
  overflow: auto;
  padding: 80px 70px 0 25px;
  width: 100%;

  .logo {
    display: block;
    float: left;
    height: 96px;
    margin-right: 25px;
    width: 150px;

    > span {
      @include hidden-accessibly;
    }
  }

  .que-faire-content {
    @include container;
    float: right;
    width: 820px;

    .button-que-faire {
      @include span(4 of 12);
      background: url(../modules/que-faire/hachure.svg) $white repeat top left;
      border: none;
      display: table;
      height: 80px;
      overflow: hidden;
      padding: 0;
      white-space: normal;

      &:last-child {@include last;}

      &:after {
        border-radius: 5px;
        background-color: $gray242;
      }

      > span {
        color: $gray51;
        display: table-cell;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px 50px 10px 20px;
        text-align: left;
        text-decoration: none;
        transition: color 0.35s ease;
        vertical-align: middle;
      }
      &:hover > span {color: $red-que-faire;}
    }
  }
}
