.que-faire {

  > .que-faire-wrapper,
  > .layout-wrapper.que-faire-wrapper {
    background: center center no-repeat;
    background-size: cover;
    min-height: 240px;
    max-width: $large-grid-width;
    overflow: auto;
    padding: 20px;
    width: 100%;
  }

}

.que-faire-logo {
  background: center center no-repeat;
  background-size: contain;
  display: block;
  height: 96px;
  margin: 0 auto 20px;
  width: 150px;

  > span {@include hidden-accessibly;}
}

.button-que-faire {
  background: url(../modules/que-faire/hachure.svg) $white repeat top left;
  border: none;
  display: inline-block;
  height: 80px;
  overflow: hidden;
  padding: 0;
  white-space: normal;

  html.flexbox & {
    align-items: center;
    display: flex;
  }

  &:after {
    border-radius: 5px;
    background-color: $gray242;
  }

  > span {
    color: $gray51;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    transition: color 0.35s ease;
    vertical-align: middle;
  }
  &:hover > span {color: $red-que-faire;}

  // modifiers
  &.more,
  html.flexbox &.more {display: none;}
}


@include small {
  .button-que-faire {
    margin: 0 auto;
    max-width: 260px;

    &,
    html.flexbox & {
      display: none;
      &.more {display: block;}
    }

    > span {
      text-align: center;
    }
  }
}


@include medium {

  .que-faire {
    > .que-faire-wrapper,
    > .layout-wrapper.que-faire-wrapper {
      padding: 80px 20px 0;
    }
  }

  .que-faire-logo {
    margin: 0;
    width: 20%;
  }

  .que-faire-content {
    width: 78%;
  }

}

@include large-and-medium {

  .que-faire {
    padding: 0 20px;

    > .layout-wrapper.que-faire-wrapper {
      min-height: 240px;
    }
  }

  .que-faire-logo {
    float: left;
  }

  .que-faire-content {
    @include container;
    float: right;
  }

  .button-que-faire {
    @include span(4 of 12);
    &:last-child {@include last;}
  }

}

@include large {
  .que-faire {
    > .layout-wrapper.que-faire-wrapper {
      min-height: 240px;
      padding: 80px 70px 0 25px;
    }
  }

  .que-faire-logo {
    margin: 0 25px 0 0;
  }

  .que-faire-content {
    max-width: 820px;
  }

  .button-que-faire {
    min-height: 80px;

    > span {padding-right: 50px;}
  }
}
