.que-faire {

  > .que-faire-wrapper {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 240px;
    max-width: $large-grid-width;
    overflow: auto;
    padding: 20px;
    width: 100%;
  }

  .logo {
    display: block;
    height: 96px;
    margin: 0 auto 20px;
    width: 150px;

    > span {@include hidden-accessibly;}
  }

}

.que-faire-content {
  overflow: hidden;
}

.button-que-faire {
  background: url(../modules/que-faire/hachure.svg) $white repeat top left;
  border: none;
  display: inline-block;
  height: 80px;
  overflow: hidden;
  padding: 0;
  white-space: normal;

  html.flexbox & {
    align-items: center;
    display: flex;
  }

  &:after {
    border-radius: 5px;
    background-color: $gray242;
  }

  > span {
    color: $gray51;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    transition: color 0.35s ease;
    vertical-align: middle;
  }
  &:hover > span {color: $red-que-faire;}

  // modifiers
  &.more,
  html.flexbox &.more {display: none;}
}


@include small {
  .button-que-faire {
    margin: 0 auto;
    max-width: 260px;

    &,
    html.flexbox & {
      display: none;
      &.more {display: block;}
    }

    > span {
      text-align: center;
    }
  }
}

@include large-and-medium {

  .que-faire {
    padding: 0 20px;

    > .que-faire-wrapper {
      min-height: 240px;
      padding: 80px 70px 0 25px;
    }

    .logo {
      float: left;
      margin: 0 25px 0 0;
    }
  }

  .que-faire-content {
    @include container(820px);
    float: right;
  }

  .button-que-faire {
    @include span(4 of 12);
    &:last-child {@include last;}
    min-height: 80px;

    > span {
      padding-right: 50px;
    }
  }

}
