.news-card {
  border-radius: 5px;
  color: $black;
  display: block;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  transform: translateY(0);

  &:hover {
    color: $white;
    transform: translateY(-20px);

    .news-card-image {
      border-radius: 5px 5px 0 0;
    }

    .news-card-content {
      &:before {
        background-color: $color-secondary;
        height: 100%;
      }
    }

    .news-card-category {
      color: $white;
    }
  }

  // modifiers
  &.large {
    background-color: $gray204;
    height: 480px;
    position: relative;
    transition: none;
    transform: none;

    &:hover {
      transform: none;
    }

    .news-card-image {
      height: 100%;
      z-index: 0;
    }

    .news-card-content {
      bottom: 0;
      padding: 20px;
      position: absolute;
      text-align: left;
      z-index: 1;
      &:before {
        background: none;
      }
    }

    .news-card-category {
      color: $white;
      font-size: 17px;
    }

    .news-card-title {
      color: $white;
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.news-card-image {
  background-color: #eee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 180px;
  width: 100%;
}

.news-card-content {
  padding-bottom: 20px;
  position: relative;

  &:before {
    background-color: $white;
    content: "";
    height: 0;
    display: block;
    position: absolute;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
}

.news-card-category {
  color: $color-secondary;
  font-size: 14px;
  font-weight: 500;
  margin: 0 auto 5px;
  max-width: 310px;
  padding-top: 15px;
  position: relative;
}

.news-card-title {
  font-size: 17px;
  font-weight: 700;
  margin: 0 auto;
  max-width: 290px;
  position: relative;
}
