.search-field {
  overflow: hidden;

  // modifiers
  &.small {
    background-color: $white;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;

    .search-field-input[type="text"],
    .search-field-submit {
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 40px;
    }

    .search-field-input[type="text"] {
      padding: 0 5px;
      width: 180px;
    }

    .search-field-submit {
      background-color: $grayEE;
      border-radius: 5px;
      padding: 0 10px;
      width: auto;
    }
  }
}

.search-field-input[type="text"],
.search-field-submit {
  display: block;
  float: left;
  height: 60px;
  line-height: 60px;
}

.search-field-input[type="text"] {
  @include input-color-placeholder($gray4D);
  border-radius: 5px 0 0 5px;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  padding: 0 10px;
}

.search-field-submit {
  background-color: $grayF2;
  color: $gray4D;
  border: 0;
  border-radius: 0 5px 5px 0;
  font-size: 24px;
  padding: 0;
  width: 58px;
  > span {@include hidden-accessibly;}

  & + * {
    margin-left: 10px;
  }
}


@include small {
  .search-field-input[type="text"] {
    font-size: 12px;
    width: calc(100% - 58px);
  }
}

@include medium {
  .search-field-input[type="text"] {
    .quick-access-search & {width: 74%;}
    .quick-access-search .search-field.with-around & {width: 60%;}
  }
}

@include large-and-medium {
  .search-field-input[type="text"],
  .search-field-submit {
    height: 80px;
    line-height: 80px;
  }

  .search-field-input[type="text"] {
    padding: 0 20px;
    width: 600px;
  }
  .search-field.with-around .search-field-input[type="text"] {
    width: 530px;
  }

  .search-field-submit {
    width: 78px;
  }
}
