.search-field {
  .search-field-input,
  .search-field-submit {
    display: block;
    float: left;
    height: 80px;
    line-height: 80px;
  }

  .search-field-input {
    @include input-color-placeholder($gray77);
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    width: 530px;
  }

  .search-field-submit {
    background-color: $gray242;
    color: $gray77;
    border: 0;
    border-radius: 0 5px 5px 0;
    font-size: 24px;
    margin-right: 10px;
    padding: 0;
    width: 78px;

    > span {
      @include hidden-accessibly;
    }
  }

}
