$offset-heading: 32px;

.heading {
  margin-bottom: 20px;

  /* modifiers */
  &.white {
    .heading-title {color: $white;}
    .heading-links > a {
      border-bottom-color: $white;
      color: $white;
      &:after {background-color: $color-tertiary;}
      &:hover {color: $color-tertiary;}
    }
  }

  &.with-top-margin {
    margin-top: 40px;
  }

  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.heading-title {
  color: $gray33;
  font-size: 2.6rem;
  font-weight: 700;
  float: left;
  line-height: 32px;
  margin: 0;
}

.heading-links {
  font-size: 1.5rem;

  > a {
    border-bottom: 1px solid $gray4D;
    color: $gray4D;
    display: inline-block;
    line-height: 20px;
    padding-bottom: 2px;
    position: relative;
    text-decoration: none;
    transition: all 0.35s ease;

    &:after {
      background-color: $color-primary;
      bottom: -1px;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      transition: width 0.35s ease;
      width: 0;
    }

    &:hover {
      color: $color-primary;
      &:after {width: 100%;}
    }
  }
}

@include small {
  .heading-title {
    border-left: 6px solid $color-tertiary;
    padding: 15px 10px 15px ($small-page-padding - 4px);
  }
  .heading-links {
    clear: both;
  }
}


@include large-and-medium {
  .heading {
    border-left: 6px solid $color-tertiary;
    overflow: auto;
    margin-bottom: 40px;
    padding: 20px 10px 20px 26px;
  }

  .heading-title {
    font-size: 3.4rem;
    line-height: 40px;
    margin: 0 20px 0 0;
  }

  .heading-links {
    line-height: 40px;
  }
}
