.jumbotron {
  background-color: $white;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: cover;
  display: table;
  height: 180px;
  position: relative;
  text-decoration: none;
  width: 100%;

  .layout-wrapper.jumbotron-content {
    border-left: 6px solid $color-tertiary;
    color: $white;
    padding: 5px 24px 3px 24px;
    @include large-and-medium {
      padding-left: 35px;
    }
  }
}

.jumbotron-wrapper {
  display: table-cell;
  overflow: hidden;
  position: relative;
  vertical-align: middle;

  &:after {
    background: $color-primary; /* Old browsers */
    background: -moz-linear-gradient(left, $color-primary 0%, transparent 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$color-primary), color-stop(100%,transparent)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, $color-primary 0%,transparent 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, $color-primary 0%,transparent 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, $color-primary 0%,transparent 100%); /* IE10+ */
    background: linear-gradient(to right, $color-primary 0%,transparent 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-primary', endColorstr='transparent',GradientType=1 ); /* IE6-8 */

    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(0);
    width: 150%;
    z-index: 0;

    // Target IE 10 and 11
    @media screen\0 {
      height: 200%;
    }
  }
}

html.no-touch .jumbotron {
  .jumbotron-wrapper:after {
    transition: transform 1s ease;
    transform: translateX(-20%);
  }

  &:hover {
    .jumbotron-wrapper:after {
      transform: translateX(0);
    }
  }
}

.jumbotron-content {
  position: relative;
  z-index: 1;
}

.jumbotron-title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.jumbotron-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0 0 8px;
  max-width: 470px;
}

@include large-and-medium {
  .jumbotron {
    height: 320px;
  }

  .jumbotron-title {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .jumbotron-text {
    font-size: 40px;
    line-height: 44px;
    margin: 0 0 14px;
  }
}
