include ../heading/heading

mixin municipal-team(opts)
  .municipal-team
    +heading(opts.heading)
    .municipal-team-content
      img.municipal-team-img(src=opts.img.src alt=opts.img.alt)
      p.municipal-team-intro= opts.intro
      p.municipal-team-text= opts.text
