.breadcrumbs {
  font-size: 0;
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offset-header.breadcrumbs-offset-header {
  top: -110px;
}

.breadcrumbs-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;

  & + .breadcrumbs-item:before {
    @include icon(arrow-light-right);
    font-size: 17px;
    margin-right: 10px;
    position: relative;
    speak: none;
    top: 2px;
  }

  > a {
    border-bottom: 1px solid $gray1A;
    color: $gray1A;
    display: inline-block;
    line-height: 20px;
    padding: 2px 0;
    position: relative;
    text-decoration: none;
    transition: all 0.35s ease;

    &:after {
      background-color: $color-primary;
      bottom: -1px;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      transition: width 0.35s ease;
      width: 0;
    }

    &:hover {
      color: $color-primary;
      &:after {
        width: 100%;
      }
    }
  }

  &:last-child {
    a {
      border-bottom: 0;
      cursor: default;
      pointer-events: none;
    }
  }
}

@include large {
  .breadcrumbs {
    white-space: nowrap;
  }
}
