.breadcrumbs {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.breadcrumbs-item {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;

  & + .breadcrumbs-item:before {
    @extend %icon-font;
    @extend %icon-arrow-light-right;
    font-size: 17px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }

  > a {
    border-bottom: 1px solid $gray26;
    color: $gray26;
    display: inline-block;
    line-height: 20px;
    text-decoration: none;

    &:hover {
      border-color: transparent;
    }
  }
}
