mixin breadcrumbs(data)
  ol.breadcrumbs
    each item, index in data.items
      if index === data.items.length - 1
        li.breadcrumbs-item.breadcrumbs-item-current= item.text
      else
        li.breadcrumbs-item
          a(href=item.href)= item.text
