mixin que-faire(opts)
  .que-faire(style='background-image: url(#{opts.image});')
    a.logo(href=opts.logo.href style='background-image: url(#{opts.logo.image});')
    .que-faire-content  
      - each item in opts.items
        button.button.button-que-faire
          a.button-que-faire-text(href=item.href)= item.text
