$rheader-small-max:  600px;
$rheader-medium-min: $rheader-small-max + 1px;
$rheader-medium-max: 1160px;
$rheader-large-min:  $rheader-medium-max + 1px;
$rheader-large-max:  1370px;

$rheader-height-small:  60px;
$rheader-height-medium: 80px;
$rheader-height-large:  80px;
$rheader-height-large-extended: $rheader-height-large + 20px;


.rheader {
  background-color: $color-primary;
  height: $rheader-height-small;
  position: relative;
  width: 100%;
  z-index: 300;

  &.fixed {
    left: 0;
    position: fixed;
    top: 0;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  ul, ol {
    list-style: none;
    margin: 0;
  }

  h1 {margin: 0;}

  &.standalone {
    .rheader-mobile-nav {
      width: 100%;
    }
  }
}

.rheader-logo {
  background-color: $color-primary;
  border-bottom: 4px solid $color-tertiary;
  display: block;
  height: $rheader-height-small;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 144px;
  z-index: 10;
}

.rheader-logo-nef {
  background: url('../modules/rheader/nef.svg') center center no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 25px;
}

.rheader-logo-paris {
  background: url('../modules/rheader/paris.svg') center center no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  width: 106px;
}

.rheader-locales {
  display: none;
  font-size: 12px;
  line-height: 28px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  z-index: 15;

  > li {
    display: inline-block;
    margin-right: 8px;
  }

  a {
    color: transparentize($white, 0.4);
    &:hover,
    &.current {color: $white;}
    &.current {cursor: default; pointer-events: none;}
  }
}

.rheader-wrapper {
  > .rheader-button {
    height: $rheader-height-small;
    line-height: $rheader-height-small;
    position: absolute;
    text-align: center;
    top: 0;
    transition: background-color 0.3s ease;
    width: $rheader-height-small;

    &:hover,
    &.active {
      background: $color-primary-variant;
    }
  }
}

.rheader-button-text {display: none;}

.rheader-button-search {
  font-size: 20px;
  left: 0;
}

.rheader-button-around {display: none;}

.rheader-button-menu {
  background-color: $color-primary;
  right: 0;
  z-index: 900;

  .rheader-button-text {
    background-color: $white;
    display: block;
    font-size: 0;
    height: 1px;
    position: absolute;
    left: 20px;
    top: 30px;
    transition: background-color 0.3s ease;
    width: 20px;

    -webkit-touch-callout: none;
    user-select: none;

    &:before,
    &:after {
      background-color: $white;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      transition: transform 0.3s ease;
      width: 20px;
    }

    &:before {transform: translateY(-6px);}
    &:after {transform: translateY(6px);}
  }

  .rheader-mobile-nav-open & {
    &:hover {background: $color-primary;}

    .rheader-button-text {
      background-color: transparent;

      &:before {
        transform: translateY(0px) rotate(45deg);
      }
      &:after {
        transform: translateY(0px) rotate(-45deg);
      }
    }
  }

}

.rheader-mobile-nav-open {
  overflow: hidden;

  .rheader-button-menu {
    border-left-color: transparent;
  }
}

.rheader-nav {display: none;}

.rheader-nav-item {
  transition: background-color 0.3s ease;

  a {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
  }

  // modifiers
  &.get-involved {
    background-color: $red3;
    text-align: center;

    a {font-weight: 700;}

    .rheader-nav-item-text,
    .rheader-nav-item-hover {
      position: relative;

      &:after {
        bottom: -8px;
        content: "";
        display: block;
        height: 5px;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    .rheader-nav-item-back {display: none;}

    .rheader-nav-item-text {
      color: $color-tertiary;
      &:after {background-color: $color-tertiary;}
    }

    .rheader-nav-item-hover {
      color: $red3;
      &:after {background-color: $red3;}
    }
  }

  &.account {
    background-color: $color-secondary;

    &:hover {
      background-color: $color-secondary-variant;
    }
  }
}

.rheader-nav-item-icon,
.rheader-button-icon {
  display: inline-block;
  font-size: 20px;
}

.rheader-mobile-nav {
  .rheader-nav-item-icon,
  .rheader-button-icon {
    margin-right: 5px;
    position: relative;
    top: 3px;
    vertical-align: baseline;
  }
}

.rheader-mobile-nav,
.rheader-mobile-nav-overlay {
  display: none;
}

.rheader.fixed + .layout-content {
  padding-top: $rheader-height-small;
}


@media (max-width: $rheader-small-max) {
  .rheader {
    transition: transform 0.2s ease;

    .rheader-logo {
      transition: opacity 0.2s ease;
    }

    &.folded {
      transition-delay: 0.5s;
      transform: translateY(-$rheader-height-small + 8px);
      .rheader-logo {
        opacity: 0;
        transition-delay: 0.5s;
      }
    }
  }
}


@media (max-width: $rheader-medium-max) {

  .rheader-mobile-nav {
    background-color: $color-primary;
    display: block;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(270px);
    transition: transform 0.35s ease-in-out;
    width: 270px;
    z-index: 800;

    .rheader-mobile-nav-open & {
      transform: translateX(0);
    }

    .rheader-locales {
      display: block;
      line-height: $rheader-height-small;
      margin-left: 20px;
      text-align: left;

      > li {margin-right: 12px;}
    }

    .rheader-nav {
      bottom: 0;
      display: block;
      overflow: auto;
      padding: 0;
      position: absolute;
      top: $rheader-height-small;
      width: 100%;
    }
    .rheader-nav-item {
      border-top: 1px solid transparentize($white, 0.8);
      min-height: 50px;

      a {
        display: block;
        line-height: 50px;
        padding: 0 20px;
      }

      // modifiers
      &.get-involved,
      &.around,
      &.account {
        min-height: 80px;
        border-top: 0;
        text-align: center;

        a {line-height: 80px;}
      }

      &.around {
        background-color: $green1;
        &:hover {background-color: darken($green1, 8);}
      }
    }

    .rheader-button-text {
      display: inline;
    }
  }

  .rheader-mobile-nav-overlay {
    background-color: transparentize($black, 0.2);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 400;
  }

}


@media (min-width: $rheader-medium-min) and (max-width: $rheader-medium-max) {
  .rheader,
  .rheader-logo {
    height: $rheader-height-medium;
  }

  .rheader-logo {
    width: 238px;
  }
  .rheader-logo-nef {width: 40px;}
  .rheader-logo-paris {width: 170px;}

  .rheader-wrapper {
    > .rheader-button {
      height: $rheader-height-medium;
      line-height: $rheader-height-medium;
      width: $rheader-height-medium + 1px;
    }
  }
  .rheader-button-search {
    border-right: 1px solid $red2;
  }
  .rheader-button-menu {
    border-left: 1px solid $red2;
    transition: border 0.2s;

    .rheader-button-text {
      left: ($rheader-height-medium - 20px) / 2;
      top: $rheader-height-medium / 2;
    }
  }

  .rheader-nav {
    display: none;
  }

  .rheader-mobile-nav {
    .rheader-nav {top: $rheader-height-medium;}
    .rheader-locales {
      line-height: $rheader-height-medium;
      margin-right: $rheader-height-medium + 10px;
    }
  }
}


@media (min-width: $rheader-large-min) {
  .rheader {
    overflow: hidden;
    text-align: right;

    &.extended {
      &,
      .rheader-nav-item {
        height: $rheader-height-large-extended;
      }

      .rheader-logo {
        height: $rheader-height-large + 9px;
      }

      .rheader-logo,
      .rheader-locales {
        transform: translateY(10px);
      }

      .rheader-nav-item a {
        height: $rheader-height-large-extended;
        line-height: $rheader-height-large-extended;
      }

      .rheader-wrapper > .rheader-button {
        border-left: 1px solid transparent;
        transform: translateY($rheader-height-large-extended);
      }
    }
  }

  .rheader,
  .rheader-logo {
    height: $rheader-height-large;
    transition: height 0.2s ease;
  }

  .rheader-nav-item {
    height: $rheader-height-large;
    transition: background-color 0.3s ease, height 0.2s ease;
  }

  .rheader-logo,
  .rheader-locales {
    transition: transform 0.2s ease;
  }

  .rheader-logo {
    left: 15px;
    position: absolute;
    width: 185px;
  }
  .rheader-logo-nef {
    background-position: 50% 60%;
    width: 33px;
  }
  .rheader-logo-paris {
    background-position: 50% 60%;
    width: 140px;
  }

  .rheader-locales {
    display: block;
    left: 60px;
    position: absolute;
    top: 0;
    width: 140px;
  }

  .rheader-wrapper {
    > .rheader-button {
      border-left: 1px solid $red2;
      display: inline-block;
      font-size: 26px;
      height: $rheader-height-large;
      line-height: $rheader-height-large;
      position: static;
      transition: background-color 0.3s ease, transform 0.4s ease, border 0.4s ease 0.2s;
      vertical-align: top;
      width: $rheader-height-large + 1px;

      .rheader-button-icon {font-size: 28px;}
    }

    > .rheader-button-menu {display: none;}
    > .rheader-button-around {
      border-right: 1px solid $red2;
    }
  }

  .rheader-nav {
    display: inline-block;
    padding: 0 0 0 25px;
    vertical-align: top;
  }

  .rheader-nav-item {
    display: inline-block;
    vertical-align: top;

    & + .rheader-nav-item {
      margin-left: 20px;
    }

    a {
      display: inline-block;
      height: $rheader-height-large;
      line-height: $rheader-height-large;
      transition: height 0.2s ease, line-height 0.2s ease;
    }

    // modifiers
    &.get-involved {
      margin-left: 22px;
      perspective: 1000px;

      &:hover,
      &.current {
        background-color: $color-tertiary;
      }

      a {
        padding: 0 20px;
        width: 140px;
      }

      .rheader-nav-item-front,
      .rheader-nav-item-back {
        backface-visibility: hidden;
        display: inline-block;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        transition: transform 0.5s ease;
        vertical-align: top;
      }

      .rheader-nav-item-front,
      &:hover .rheader-nav-item-back,
      &.current .rheader-nav-item-back {
        transform: rotateY(0deg);
      }
      .rheader-nav-item-back,
      &:hover .rheader-nav-item-front,
      &.current .rheader-nav-item-front {
        transform: rotateY(180deg);
      }
    }

    &.account {
      margin-left: 0;
      a {padding: 0 20px;}

      .rheader-nav-item-text {display: none;}
      .rheader-nav-item-text:after {display: none;}
      .rheader-nav-item-icon {margin-right: 0;}
    }
  }

  .rheader-nav-item-icon {
    margin-right: 5px;
    position: relative;
    top: 3px;
    vertical-align: baseline;
  }

  html.no-touch {
    .rheader-nav-item-text {
      position: relative;

      &:after {
        display: block;
        content: "";
        height: 1px;
        width: 0%;
        position: absolute;
        left: 0px;
        bottom: -4px;
        background: $white;
        transition: width 0.3s ease;
      }
    }

    .rheader-nav-item.current .rheader-nav-item-text:after,
    .rheader-nav-item:hover .rheader-nav-item-text:after {
      width: 100%;
    }

    .rheader-nav-item {

    }
  }
}


@media (min-width: $rheader-large-max) {

  .rheader.extended {
    .rheader-logo {
      height: $rheader-height-large;
    }
  }

  $rheader-nef-border-offset: 68px;
  $rheader-logo-width: 285px;
  $rheader-logo-paris-width: 180px;
  $rheader-logo-offset: $large-grid-width / 2 + $offset-heading + $rheader-nef-border-offset;
  $rheader-locales-offset: $rheader-logo-offset - $rheader-logo-width + $rheader-logo-paris-width;

  .rheader-logo {
    border-bottom: 0;
    left: 30px; /* fallback for browsers not supporting calc */
    left: calc(50% - #{$rheader-logo-offset});
    width: $rheader-logo-width;
  }

  .rheader-logo-nef {
    background-position: 50% 54%;
    width: 42px;

    &:after {
      background-color: $color-tertiary;
      content: "";
      display: block;
      height: 100%;
      left: $rheader-nef-border-offset;
      position: absolute;
      width: 6px;
    }
  }

  .rheader-logo-paris {
    background-position: 50% 54%;
    width: $rheader-logo-paris-width;
  }

  .rheader-locales {
    left: 134px; /* fallback for browsers not supporting calc */
    left: calc(50% - #{$rheader-locales-offset});
    width: $rheader-logo-paris-width;
  }

  .rheader-locales {
    line-height: 24px;
  }

  .rheader-nav-item {

    &.account {
      .rheader-nav-item-text {display: inline;}
      .rheader-nav-item-icon {margin-right: 5px;}
    }
  }

}


// Spacing for elements below the rheader

@media (max-width: $rheader-small-max) {
  .rheader.fixed + .layout-content,
  .rheader + .quick-access + .layout-content {
    padding-top: $rheader-height-small;
  }
}

@media (min-width: $rheader-large-min) {
  .rheader.fixed.extended + .layout-content,
  .rheader.extended + .quick-access + .layout-content {
    padding-top: $rheader-height-medium + 20px;
  }
  .rheader.extended + .quick-access {
    margin-top: $rheader-height-medium + 20px;
  }
}

@media (min-width: $rheader-medium-min) {
  .rheader.fixed + .layout-content,
  .rheader + .quick-access + .layout-content {
    background-color: $color-primary; // to prevent a white area below header (edge case)
    padding-top: $rheader-height-medium;
  }
  .rheader + .quick-access {
    margin-top: $rheader-height-medium;
  }
}

@include small {
  .rheader + .quick-access {
    margin-top: 0;
  }
}
