@media (min-width: $rheader-large-max) {

  .rheader.extended {
    .rheader-logo {
      height: $rheader-height-large;
    }
  }

  $rheader-nef-border-offset: 68px;
  $rheader-logo-width: 285px;
  $rheader-logo-paris-width: 180px;
  $rheader-logo-offset: $large-grid-width / 2 + $offset-heading + $rheader-nef-border-offset;
  $rheader-locales-offset: $rheader-logo-offset - $rheader-logo-width + $rheader-logo-paris-width;

  .rheader-logo {
    border-bottom: 0;
    left: 30px; /* fallback for browsers not supporting calc */
    left: calc(50% - #{$rheader-logo-offset});
    width: $rheader-logo-width;
  }

  .rheader-logo-nef {
    width: 42px;

    &:after {
      background-color: $color-tertiary;
      content: "";
      display: block;
      height: 100%;
      left: $rheader-nef-border-offset;
      position: absolute;
      top: 0;
      width: 6px;
    }
  }

  .rheader-logo-paris {
    width: $rheader-logo-paris-width;
  }

  .rheader-locales {
    left: 134px; /* fallback for browsers not supporting calc */
    left: calc(50% - #{$rheader-locales-offset});
    line-height: 2.4rem;
    width: $rheader-logo-paris-width;
  }

  .rheader-logo-mairie {
    background: $white center center no-repeat;
    border-bottom: 10px solid;
    height: 120px;
    left: 230px;
    position: absolute;
    width: 160px;
  }

  .rheader.arrondissement {
    .rheader-logo {
      left: 20px;
    }

    .rheader-logo-nef {
      &:after {
        bottom: 5px;
        height: auto;
        left: 210px;
        top: 5px;
      }
    }

    .rheader-logo-paris {
      left: 65px;
      right: auto;
      width: 125px;
    }

    .rheader-locales {
      text-align: right;
      left: 40px;
    }

    &.logo-square {
      .rheader-logo-mairie {
        background-size: 75%;
        height: 135px;
        width: 125px;
      }
    }

    &.logo-rectangle {
      .rheader-logo-mairie {
        background-size: 80%;
        height: 100px;
        width: 170px;
      }
    }

    &.arrondissement-9 .rheader-logo-mairie {
      background-size: 100%;
      height: 110px;
      width: 170px;
    }
    &.arrondissement-13 .rheader-logo-mairie {
      background-size: 100%;
      height: 110px;
      width: 134px;
    }
    &.arrondissement-20 .rheader-logo-mairie {
      background-size: 100%;
      height: 110px;
      width: 140px;
    }
  }

  .rheader-nav-item {

    &.account {
      .rheader-nav-item-text {display: inline;}
      .rheader-nav-item-icon {margin-right: 5px;}
    }
  }

}
