$rheader-small-max: 600px;
$rheader-medium-min: $rheader-small-max + 1px;
$rheader-medium-max: 1130px;
$rheader-large-min: $rheader-medium-max + 1px;
$rheader-large-max: 1340px;

$rheader-height: 60px;

.rheader {
  background-color: $color-primary;
  height: $rheader-height;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 300;

  a {
    color: $white;
    text-decoration: none;
  }

  ul, ol {
    list-style: none;
    margin: 0;
  }
}

.rheader-logo {
  background-color: $color-primary;
  border-bottom: 4px solid $color-tertiary;
  display: block;
  height: $rheader-height;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 144px;
  z-index: 10;
}

.rheader-logo-nef {
  background: url('../modules/rheader/nef.svg') center center no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  width: 25px;
}

.rheader-logo-paris {
  background: url('../modules/rheader/paris.svg') center center no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  width: 106px;
}

.rheader-locales {
  display: none;
}

.rheader-button {
  height: 60px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 60px;
}

.rheader-button-search {
  @extend %icon-font;
  font-size: 20px;
  left: 0;
  &:before {@extend %icon-search;}
}

.rheader-button-around {
  @extend %icon-font;
  display: none;
  &:before {@extend %icon-marker;}
}

.rheader-button-menu {
  right: 0;

  span {
    background-color: $white;
    display: block;
    font-size: 0;
    height: 1px;
    position: absolute;
    left: 20px;
    top: 30px;
    transition: background-color 0.3s ease;
    width: 20px;

    -webkit-touch-callout: none;
    user-select: none;

    &:before,
    &:after {
      background-color: $white;
      content: "";
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      top: 0;
      transition: transform 0.3s ease;
      width: 20px;
    }

    &:before {
      transform: translateY(-6px);
    }
    &:after {
      transform: translateY(6px);
    }
  }

  &.open {
    span {
      background-color: transparent;

      &:before {
        transform: translateY(0px) rotate(45deg);
      }
      &:after {
        transform: translateY(0px) rotate(-45deg);
      }
    }
  }

}

.rheader-nav {
  display: none;
}


@media (min-width: $rheader-medium-min) and (max-width: $rheader-medium-max) {
  $rheader-height: 80px;

  .rheader,
  .rheader-logo {
    height: $rheader-height;
  }

  .rheader-logo {
    width: 238px;
  }
  .rheader-logo-nef {width: 40px;}
  .rheader-logo-paris {width: 170px;}

  .rheader-button {
    height: $rheader-height;
    line-height: $rheader-height;
    width: $rheader-height + 1px;
  }
  .rheader-button-search {
    border-right: 1px solid $red4;
  }
  .rheader-button-menu {
    border-left: 1px solid $red4;

    span {
      left: ($rheader-height - 20px) / 2;
      top: $rheader-height / 2;
    }
  }

  .rheader-nav {
    display: none;
  }
}

@media (min-width: $rheader-large-min) {
  $rheader-height: 80px;

  .rheader {
    text-align: right;
  }

  .rheader,
  .rheader-logo {
    height: $rheader-height;
  }

  .rheader-logo {
    left: 15px;
    position: absolute;
    width: 185px;
  }
  .rheader-logo-nef {
    background-position: 50% 60%;
    width: 33px;
  }
  .rheader-logo-paris {
    background-position: 50% 60%;
    width: 140px;
  }

  .rheader-locales {
    display: block;
    font-size: 12px;
    left: 60px;
    line-height: 28px;
    padding: 0;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    width: 140px;
    z-index: 15;

    > li {
      display: inline-block;
      margin-right: 8px;
    }

    a {
      color: transparentize($white, 0.4);
      &:hover,
      &.current {color: $white;}
      &.current {cursor: default; pointer-events: none;}
    }
  }

  .rheader-button {
    border-left: 1px solid $red4;
    display: inline-block;
    font-size: 26px;
    height: $rheader-height;
    line-height: $rheader-height;
    position: static;
    vertical-align: top;
    width: $rheader-height + 1px;
  }

  .rheader-button-menu {
    display: none;
  }

  .rheader-nav {
    border-left: 1px solid $red4;
    display: inline-block;
    padding: 0 0 0 25px;
    vertical-align: top;
  }

  .rheader-nav-item {
    display: inline-block;
    vertical-align: top;

    & + .rheader-nav-item {
      margin-left: 14px;
    }

    a {
      display: inline-block;
      font-size: 13px;
      font-weight: 500;
      height: $rheader-height;
      line-height: $rheader-height;
      text-transform: uppercase;
    }

    // modifiers
    &.get-involved {
      background-color: $red-poll;
      margin-left: 22px;

      a {
        color: #fae46a;
        font-weight: 700;
        padding: 0 20px;
      }
    }
    &.account {
      background-color: $blue3;
      margin-left: 0;

      a {
        padding: 0 20px;
      }

      .rheader-nav-item-text {display: none;}
      .rheader-nav-item-icon {margin-right: 0;}
    }
  }

  .rheader-nav-item-icon {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    vertical-align: baseline;
  }
}

@media (min-width: $rheader-large-max) {

  .rheader-logo {
    border-bottom: 0;
    left: 30px;
    width: 285px;
  }

  .rheader-logo-nef {
    background-position: 50% 54%;
    width: 42px;

    &:after {
      background-color: $color-tertiary;
      content: "";
      display: block;
      height: 100%;
      left: 68px;
      position: absolute;
      width: 6px;
    }
  }

  .rheader-logo-paris {
    background-position: 50% 54%;
    width: 180px;
  }

  .rheader-locales {
    left: 134px;
    width: 180px;
  }

  .rheader-locales {
    line-height: 24px;
  }

  .rheader-nav-item {

    &.account {
      .rheader-nav-item-text {display: inline;}
      .rheader-nav-item-icon {margin-right: 5px;}
    }
  }

}
