$rheader-small-max:  600px;
$rheader-medium-min: $rheader-small-max + 1px;
$rheader-medium-max: 1160px;
$rheader-large-min:  $rheader-medium-max + 1px;
$rheader-large-max:  1370px;

$rheader-height-small:  60px;
$rheader-height-medium: 80px;
$rheader-height-large:  80px;
$rheader-height-large-extended: $rheader-height-large + 20px;
