mixin buttons(opts)
  .component.component-buttons
    if opts.title
      .component-buttons-title= opts.title
    ul.component-buttons-items
      each item in opts.items
        li
          a.button.button-primary(href=item.href)= item.text
