include ./accordion/accordion
include ./buttons/buttons
include ./card/card
include ./faq/faq
include ./form/form
include ./gallery/gallery
include ./html/html
include ./image/image
include ./jecoute/jecoute
include ./links/links
include ./news-push/news-push
include ./opening-hours/opening-hours
include ./place/place
include ./postit/postit
include ./rush-hours/rush-hours
include ./sharelines/sharelines
include ./table/table
include ./text/text
include ./verbatim/verbatim
include ./video/video
