
$couleur-primaire: #df225a;
$couleur-secondaire: #0c518a;
$couleur-tertiaire: #f8e273;

// niveau de gris
$noir    : rgb(000, 000, 000);
$gris26  : rgb(026, 026, 026);
$gris51  : rgb(051, 051, 051);
$gris77  : rgb(077, 077, 077);
$gris102 : rgb(102, 102, 102);
$gris128 : rgb(128, 128, 128);
$gris152 : rgb(153, 153, 153);
$gris179 : rgb(179, 179, 179);
$gris204 : rgb(204, 204, 204);
$gris230 : rgb(230, 230, 230);
$gris242 : rgb(242, 242, 242);

// couleurs
$bleu1  : rgb(063, 169, 245);
$vert1  : rgb(122, 201, 067);
$orange : rgb(255, 147, 030);
$rouge1 : rgb(255, 029, 037);
$rose   : rgb(255, 123, 172);
$bleu2  : rgb(189, 204, 212);
$rouge2 : rgb(221, 039, 092);
$jaune  : rgb(250, 228, 106);
$bleu3  : rgb(010, 071, 112);
$vert2  : rgb(067, 181, 126);
