@mixin input-color-placeholder($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    $color;
  }

  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color;
    opacity:  1;
  }

  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color;
    opacity:  1;
  }

  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $color;
  }
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  height: 45px;
  margin: 5px 5px 5px 0;
  padding: 5px;
  font-size: 13px;

  @include input-color-placeholder($color-secondary);
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Inner padding and border oddities in FF3/4
  padding: 0;
  border: 0;
}
