/* Webfonts */

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
  src: local('☺'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextLTPro-Demi.eot');
  src: local('☺'), url('../fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('../fonts/AvenirNextLTPro-Demi.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Demi.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/AvenirNextLTPro-Bold.eot');
  src: local('☺'), url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'), url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'), url('../fonts/AvenirNextLTPro-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}


/* Defaults */

body {
  font-family: 'Avenir', sans-serif;
}
