h1= title

table.lsg-colors
  thead
    tr
      th
      th Variable SCSS
      th Code hexa
      th RGB
  tr
    th
      .lsg-color-dot.color-primary
    td
      code $color-primary
    td
      code #df225a
    td
      code rgb(223,​034,​090)
  tr
    th
      .lsg-color-dot.color-secondary
    td
      code $color-secondary
    td
      code #0c518a
    td
      code rgb(012,​081,​138)
  tr
    th
      .lsg-color-dot.color-tertiary
    td
      code $color-tertiary
    td
      code #f8e273
    td
      code rgb(248,​226,​115)
