h1 Typographie
p Trois typographies sont disponibles :
h2(style="font-family: Avenir; font-weight: normal;") Avenir Next Pro Regular
pre
  | font-family: Avenir;
  | font-weight: normal;
h2(style="font-family: Avenir; font-weight: 500;") Avenir Next Pro Demi
pre
  | font-family: Avenir;
  | font-weight: 500;
h2(style="font-family: Avenir; font-weight: 700;") Avenir Next Pro Bold
pre
  | font-family: Avenir;
  | font-weight: 700;
