h1= title

p Trois typographies sont disponibles :

h2(style="font-family: 'Montserrat'; font-weight: 300;") Montserrat Light
pre
  | font-family: 'Montserrat';
  | font-weight: 300;

h2(style="font-family: 'Montserrat'; font-weight: normal;") Montserrat Regular
pre
  | font-family: 'Montserrat';
  | font-weight: normal;

h2(style="font-family: 'Montserrat'; font-weight: 700;") Montserrat Bold
pre
  | font-family: 'Montserrat';
  | font-weight: 700;
