.share {

  .share-items {
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .share-item {
    display: inline-block;

    & + .share-item {
      margin-left: 15px;
    }
  }

  a {
    color: $gray204;
    display: inline-block;
    text-decoration: none;
    &:hover {
      color: $gray102;
    }
  }

  // modifiers
  &.circles {
    .share-item + .share-item {
      margin-left: 10px;
    }

    a {
      border: 1px solid $gray204;
      border-radius: 50%;
      color: $gray204;
      font-size: 20px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      transition: all 0.1s ease;
      width: 40px;

      &:hover {
        background-color: $blue3;
        border-color: $blue3;
        color: $white;
      }
    }
  }

}
