include share
include ../../helpers/code

h2 Standard
.lsg-module
  +share(defaults)
+code({language: "jade"}).
  include share

  +share(#{JSON.stringify(defaults, null, 2)})

h2 Avec cercles
.lsg-module
  +share(circles)
+code({language: "jade"}).
  include share

  +share(#{JSON.stringify(circles, null, 2)})
