mixin share(data)
  .share(class=data.modifiers)
    if data.items
    ul.share-items
      each item in data.items
        li.share-item
          a(href=item.href title=item.title target="_blank")
            i.share-icon(class="icon-#{item.icon}")
