.component-news-push {
  clear: both;
  margin-bottom: 90px; // absolute link = 50px + classic 40px
  position: relative;

  h3 {
    font-weight: 300;
    text-transform: uppercase;
    margin: 8px 0 32px;
    > span {
      border-bottom: 6px solid $white;
      padding-bottom: 8px;
      position: relative;
    }
  }

  .news-push-wrapper {
    background: $color-primary;
    padding: 20px;
  }

  .news-push-after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      content: " ";
      top: 0;
      right: -100px;
      bottom: 0;
      background: $color-primary;
      width: 100px;
      height: 100%;
      position: absolute;
    }
  }

  .news-push-image {
    display: block;
    left: -40px;
    position: relative;

    > img {
      display: block;
      width: 260px;
      height: 160px;
    }
  }

  .news-push-content {
    position: relative;
    max-width: 400px;
    color: $white;

    a {
      color: $white;
      text-decoration: none;
      &.next {
        text-decoration: underline;
      }
    }
  }

  .news-push-content-text {
    &:hover .next {text-decoration: none;}
  }

  .news-push-link {
    background: $grayF2;
    clear: both;
    color: $gray4D;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;

    &:after {
      content: " ";
      top: 0;
      right: -100px;
      bottom: 0;
      background: $grayF2;
      width: 100px;
      height: 100%;
      position: absolute;
    }

    > span {
      left: 0;
      position: relative;
      transition: left 0.35s ease;

      &:after {
        @extend %icon-font;
        @extend %icon-arrow-light-right;
        font-size: 17px;
        padding-left: 8px;
        vertical-align: middle;
      }
    }
  }
}

@include medium-and-small {
  .news-push-image {
    margin-bottom: 20px;
  }
}

@include large-and-medium {
  .component-news-push {
    opacity: 1;
    transform: none;
    transition: 1s ease all;

    &.hidden {
      opacity: 0;
      transform: translateX(1600px);
    }

    .news-push-wrapper {
      &:before,
      &:after {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }

      > * {
        float: left;
      }
    }

    .news-push-after:after {
      right: -1000px;
      width: 1000px;
    }

    .news-push-content {
      a {
        position: relative;
      }

      & p:hover a.next:after {
        width: 100%;
      }
    }

    .news-push-link {
      &:after {
        right: -1000px;
        width: 1000px;
      }

      &:hover {
        color: $color-primary;
        > span {
          left: 5px;
        }
      }
    }
  }
}

@include large {
  .component-news-push {
    .news-push-link {
      width: 410px;
    }
  }
}
