include news-push
include ../../helpers/code

h2 Standard
.lsg-component(style="padding:50px")
  +news-push(defaults)
+code({language: "jade"}).
  include news-push

  +news-push(#{JSON.stringify(defaults, null, 2)})

h2 Sans lien supplémentaire
.lsg-component(style="padding:50px")
  +news-push(without_link)
+code({language: "jade"}).
  include news-push

  +news-push(#{JSON.stringify(without_link, null, 2)})
