include image
include ../../helpers/code

h1 Petite image
+image(defaults)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(defaults)})

h1 Grande image
+image(large_image)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(large_image)})

h1 Image verticale
+image(vertical_image)
+code({language: "jade"}).
  include image

  +image(#{JSON.stringify(vertical_image)})
