mixin ancre(opts)
  .ancre
    .ancre-bar
      a.ancre-link(href='#' id='ancre25')= opts.label
      span.ancre-progress
    .ancre-bar
      a.ancre-link(href='#' id='ancre25')= opts.label
      span.ancre-progress
    .ancre-bar
      a.ancre-link(href='#' id='ancre25')= opts.label
      span.ancre-progress
