.layout-stack {
  background-color: $white;
  width: 100%;

  > .layout-content {
    & + .layout-content {
      padding-top: 40px;
    }

    & + .layout-content-adjacent {
      padding-top: 0;
    }

    /* modifiers */
    &.gray-background {
      background-color: $gray242;
      padding: 40px 0;
    }

    &.layout-separate-after {
      padding-bottom: 30px;
      border-bottom: 1px solid $gray204;
    }

    &.layout-small-top-margin {
      margin-top: 30px;
    }
  }

  .layout-wrapper {
    margin: 0 auto;
    width: 1100px;

    .heading,
    &.layout-outside {
      left: -32px;
      position: relative;
    }
  }

}
