include ../heading/heading

mixin municipal-team(data)
  .municipal-team
    .layout-wrapper
      +heading(data.heading)
      .municipal-team-content
        img.municipal-team-img(src=data.img.src alt="")
        p.municipal-team-intro= data.intro
        p.municipal-team-text= data.text
