.document-heading {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 0;

  // transparent black layer
  &:before {
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
}

.document-heading-wrapper {
  position: relative;
  margin: 0 auto;
  height: 100%;

  .tags {
    margin: 0;
    clear: both;
  }
}

.document-heading-content {
  background: $white;
  bottom: 0;
  left: 0;
  position: absolute;
}

.document-heading-content-wrapper {
  border-bottom: 1px solid $gray204;
  overflow: hidden;
  padding: 25px 20px 25px 0;
}

.document-heading-title {
  color: $gray26;
  float: left;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  margin-right: 25px;
}

.document-heading-icons {
 float: right;
 font-size: 24px;
 line-height: 36px;

 .icon {
   color: $gray153;
   margin-right: 15px;
   text-decoration: none;

   &:hover {
     color: $color-tertiary;
   }
 }
}

@include small {
  .document-heading-content {
    width: 100%;
  }
}


@include medium-and-small {
  .document-heading-content-wrapper {
    padding-left: 25px;
  }
}


@include large-and-medium {

  .document-heading {
    height: 320px;
  }

  .document-heading-wrapper {
    width: $large-grid-width;
  }

  .document-heading-content {
    // white block on the left
    &:before {
      content: ' ';
      background: $white;
      width: 1000px;
      height: 320px;
      position: absolute;
      left: -1000px;
    }
  }

  .document-heading-title {
    font-size: 34px;
    line-height: 40px;
  }

  .document-heading-icons {
    float: left;
    line-height: 40px;
  }

  // Keep space for the header, when the jumbotron is the first element after it
  //.header-wrapper + .layout-content .document-heading {
  //  height: 400px;
  //}

}
