.document-heading {
  height: 320px;
  width: 100%;
  z-index: 0;
  position: relative;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;

  .inner {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
  }

  .inner > div {
    position: absolute;
    bottom: 0;
    left: 0;
    background: $white;
    border-bottom: 1px solid $gray204;
    height: 90px;

    &:before {
      content: ' ';
      background: $white;
      width: 1000px;
      height: 90px;
      position: absolute;
      left: -1000px;
    }
  }

  h1 {
    margin: 0;
    color: $gray26;
    font-weight: 700;
    font-size: 34px;
    float: left;
    margin-right: 25px;
    line-height: 90px;
  }

  a {
    text-decoration: none;
  }

  .icon {
    float: left;
    font-size: 24px;
    line-height: 90px;
    color: $gray153;
    margin-right: 15px;

    &:hover {
      color: $color-tertiary;
    }
  }

  &:before {
    content: " ";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0,0,0,0.4);
    z-index: -1;
  }
}

// Keep space for the header, when the jumbotron is the first element after it
header + .layout-content .document-heading {
  height: 400px;
}
