.button {
  background-color: $color-primary;
  border: none;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 0.35s ease;
  vertical-align: middle;
  z-index: 1;

  &:after {
    background-color: darken($color-primary, 10%);
    border-radius: 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 0.35s ease;
    width: 0;
    z-index: -1;
  }

  &:hover,
  &:focus,
  &[disabled],
  &.disabled {
    &:after {
      width: 100%;
    }
  }

  &[disabled],
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  // modifiers
  &.secondary {
    background-color: $color-secondary;
    padding: 15px;
    &:after {background-color: darken($color-secondary, 10%);}
  }

  &.tertiary {
    background-color: $color-tertiary;
    color: $gray1A;
    padding: 15px;
    &:after {background-color: darken($color-tertiary, 10%);}
  }

  &.white {
    background-color: $white;
    color: $black;
    &:after {background-color: $grayF2}
  }

  &.stateful {
    background-color: $color-tertiary;
    color: $color-secondary;
    padding: 15px;
    &:after {background-color: $color-secondary;}

    &:hover, &:focus, &.active {color: $white;}
    &[disabled], &.disabled {
      background-color: transparent;
      border: 1px solid $gray33;
      color: $gray33;
      &:after {background-color: transparent;}
    }
  }

  &.wide {
    padding: 15px 60px;
  }

  &.small {
    font-size: 11px;
    padding: 12px;
  }

  &.action {
    font-size: 13px;
    text-transform: uppercase;
  }

  &.icon {
    .icon {
      font-weight: 12px;
      margin-right: 10px;
    }
  }

  &.marker {
    background-color: $green1;
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    &:after {background-color: darken($green1, 10%);}
    .icon {
      font-size: 30px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}


@include large {
  .button {
    white-space: nowrap;
  }
}
