.component-video {
  clear: both;

  .video-embed {display: none;}

  .video-placeholder {
    background: $grayF2;
    color: $black;
    padding: 20px;
    text-align: center;

    a:not(.button) {color: $color-primary}
  }

  .video-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;

    &:after {
      padding-top: 56.25%; // 16:9 ratio
      display: block;
      content: "";
    }

    iframe,
    .video-placeholder {
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;

      &:after {
        display: block;
        content: "";
        height: 100%;
        width: 100%;
      }
    }
  }

  a:not(.button) {
    color: $red1;
    text-decoration: underline;
    &:hover {text-decoration: none;}
  }

}
