include video
include ../../helpers/code

p!= "Ce composant accepte un bloc (ou un paramètre <code>block</code>) contenant un code HTML d'embed de vidéo. Il adapte automatiquement la taille de l'<code>iframe</code> en conservant un ratio 16/9."

h2 Standard
.lsg-component(style="width: 500px")
  +video(with_block)
+code({language: "jade"}).
  include video

  +video(#{JSON.stringify(with_block, null, 2)})

h2 En passant sous forme de bloc
.lsg-component(style="width: 500px")
  +video
    != '<iframe frameborder="0" width="560" height="315" src="//www.dailymotion.com/embed/video/x2h4ajc" allowfullscreen></iframe><br /><a href="http://www.dailymotion.com/video/x2h4ajc_tintin-pose-sa-valise-au-musee-en-herbe_creation" target="_blank">Tintin pose sa valise au Mus&eacute;e en Herbe</a> <i>par <a href="http://www.dailymotion.com/mairiedeparis" target="_blank">mairiedeparis</a></i>'
+code({language: "jade"}).
  include video

  +video
    != '&lt;iframe frameborder="0" width="560" height="315" src="//www.dailymotion.com/embed/video/x2h4ajc" allowfullscreen&gt;&lt;/iframe&gt;&lt;br /&gt;&lt;a href="http://www.dailymotion.com/video/x2h4ajc_tintin-pose-sa-valise-au-musee-en-herbe_creation" target="_blank"&gt;Tintin pose sa valise au Mus&eacute;e en Herbe&lt;/a&gt; &lt;i&gt;par &lt;a href="http://www.dailymotion.com/mairiedeparis" target="_blank"&gt;mairiedeparis&lt;/a&gt;&lt;/i&gt;'
