.bouton-rubrique {
  border: none;
  border-radius: 5px;
  background-color: $gris242;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.42857143;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
  width: 25%;
  white-space: normal;
  float: left;
  margin: 10px;
  height: 120px;
  position: relative;
  z-index: 0;

  b, p {
    z-index: 2;
    transition: 0.3s ease color;
  }


  &:hover, &.hover {
    b, p {
      color: $gris242;
    }
    .background {
      width: 100%;
    }
  }

  b {
    display: block;
    color: $bleu3;
  }

  p {
    color: $gris77;
  }

  .background{
    z-index: -1;
    display: block;
    width: 0%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    background: $rouge2;
    transition: 0.3s ease width;
    border-radius: 5px;
  }

  &.hover .background{
    width: 100%;
  }
}


.bouton-rubrique-autre {
  background: $jaune;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;

}