include bouton-rubrique

+bouton-rubrique(defaults)
+bouton-rubrique({modifiers: 'hover', titre: 'Hover', texte: 'Texte'})
+bouton-rubrique({modifiers: 'bouton-rubrique-autre', texte: 'Texte autre'})
