mixin breadcrumbs(opts)
  ol.breadcrumbs
    li.breadcrumbs-item
      a(href='#') Accueil
    li.breadcrumbs-item
      a(href='#') Services et infos pratiques
    li.breadcrumbs-item
      a(href='#') Culture et patrimoine
    li.breadcrumbs-item.breadcrumbs-item-current Biblioth&egrave;ques
