mixin breadcrumbs(opts)
  ol.breadcrumbs
    each item in opts.items
      if item.current
        li.breadcrumbs-item.breadcrumbs-item-current= item.text
      else
        li.breadcrumbs-item
          a(href=item.href)= item.text
