.jecoute {
  font-size: 14px;
  max-width: 360px;

  .jecoute-text {
    margin-bottom: 15px;
    max-width: 360px;
  }

  .jecoute-item {
    display: none;

    .jecoute-question-answer{
      height: 130px;
      overflow: hidden;
    }

    .jecoute-question,
    .jecoute-answer {
      height: 130px;
      transform: none;
      transform-origin: 50% 50%;
      transition: transform 1s ;
    }

    .jecoute-answer {
      transform: scale(0.5);
    }

    &.visible {
      display: block;
    }

    .jecoute-timer {
      position: relative;
      width: 80%;
      height: 30px;
      .start, .end{
        position: absolute;
      }
      .start{
        left: 0;
      }
      .end {
        right: 0;
      }
      .jecoute-bar {
        border-radius: 2px;
        width: 100%;
        height: 3px;
        background-color: rgba(255,255,255,0.2);
        position: absolute;
        bottom: 5px;

        .progress {
          width: 0%;
          height: 3px;
          background-color: $color-tertiary;
          border-radius: 2px;
        }
      }
    }
  }

  .user {
    font-weight: bold;
  }

  .button {
    margin-top: 10px;
  }
}
