/* Add your style here */
.que-faire-news-list-wrapper{
  background: $que-faire-red;
  position: relative;
}

.que-faire-news-list-header{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .que-faire-header-logo{
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 109px;
    margin-left: 20px;
    width: 155px;
    position: relative;
    top: 18px;
    z-index: 10;
    cursor:pointer;
  }
  .que-faire-header-title{
    border-left:1px solid;
    border-color:transparentize($white, 0.7);
    float: left;
    height: 85px;
    margin-left: 40px;
    top: 18px;
    position: relative;

    .header-title{
      color: $white;
      font-size: 1.8rem;
      line-height: 2.4rem;
      max-width: 240px;
      padding: 0;
      margin: 5px 0 0 20px;
    }
  }
}

.que-faire-news-list {
  list-style: none;
  padding: 0;
}

.que-faire-news-list-item {
  .news-card, .news-card-category{
    color:$white;
  }
  .news-card{
    html.no-js &,
    html.no-touch & {
      &:hover,
      &:focus {
        color: $que-faire-red;

        .news-card-content {
          &:before {
            background-color:$white;
          }
        }

        .news-card-category {
          color: $que-faire-red;

          &:before, &:after {
            border-color: transparentize($que-faire-red, 0.7);
          }
        }
      }
    }
  }
}

@media (max-width:550px) {
  .que-faire-news-list-header{
    text-align: center;

    .que-faire-header-logo{
      display: block;
      float: inherit;
      margin: 0 auto;
      width: 175px;
    }
    .que-faire-header-title{
       border: none;
       float: none;
       height: auto;
       margin: 0;
       padding:25px 0 15px;
       text-align: center;
       top:inherit;

      .header-title{
        margin: 0 auto;
        max-width:75%;
      }
    }
  }
}

@include small {
  .que-faire-news-list-header{
    display: inline-block;
    margin: 0;
    max-width: 100%;
    width: 100%;

    .que-faire-header-title{
      .header-title{
        font-size: 1.6rem;
        line-height:2rem;
      }
    }
  }
}

@include large-and-medium {
  .que-faire-news-list  {
    @include container;
    // mode gallery
    &.gallery {
      .que-faire-news-list-item {
        @include gallery(4 of 12);
      }
    }
  }

  .que-faire-news-list-header{
    .que-faire-header-logo{
      height: 139px;
      width: 245px;
    }
    .que-faire-header-title{
      .header-title{
        max-width: 365px;
      }
    }
  }
}

html.touch .que-faire-news-list-item .news-card-wrapper {
  background-color:#F95053;
}
