.button-top {
  background-color: transparentize($white, 0.5);
  border-radius: 4px;
  color: $color-primary;
  display: block;
  outline: 0;
  position: fixed;
  text-decoration: none;
  text-align: center;
  transition: background 0.35s ease;
  z-index: 300;

  &:hover {
    background-color: $white;
  }
}

@include medium-and-small {
  .button-top {
    bottom: 15px;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 15px;
    width: 40px;
  }
}

@include large {
  .button-top {
    bottom: 20px;
    font-size: 34px;
    height: 60px;
    line-height: 60px;
    right: 20px;
    width: 60px;
  }
}
