.newsletter {
  font-size: 14px;

  .newsletter-text {
    margin-bottom: 15px;
    max-width: 360px;
  }

  .button {
    height: 45px;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 43px;
  }

  > form {
    margin-bottom: 5px;

    input {
      color: $color-secondary;
      padding: 0 10px;
    }
  }

  a:not(.button) {
    display: inline-block;
    border-bottom: 1px solid;
    text-decoration: none;
  }
}
