include links-group
include ../../helpers/code

h2 Standard (rose)

.lsg-module
  +links-group(defaults)
+code({language: "jade"}).
  include links-group

  +links-group(#{JSON.stringify(defaults, null, 2)})

h2 Bleu

.lsg-module
  +links-group(blue)
+code({language: "jade"}).
  include links-group

  +links-group(#{JSON.stringify(blue, null, 2)})
