include links-group

+links-group(defaults)

+links-group({
    "background": "links-group-image-blue.jpg",
    "title": "Titre du groupe de lien bleu",
    "imgmodifiers":"links-group-header-blue",
    "items": [
      {
        "href": "#",
        "text": "Bouton white blue",
        "modifiers": "links-group-button-blue"
      },
      {
        "href": "#",
        "text": "Bouton white blue",
        "modifiers": "links-group-button-blue"
      },
      {
        "href": "#",
        "text": "Bouton white blue",
        "modifiers": "links-group-button-blue"
      },
      {
        "href": "#",
        "text": "Bouton gray blue",
        "modifiers": "backgray links-group-button-blue"
      },
      {
        "href": "#",
        "text": "Bouton gray blue",
        "modifiers": "backgray links-group-button-blue"
     } 
    ]
  })


