.get-involved-list {
  .get-involved-item:nth-child(5n+1) {
    @extend .get-involved-item.red;
  }
  .get-involved-item:nth-child(5n+2) {
    @extend .get-involved-item.blue;
  }
  .get-involved-item:nth-child(5n+3) {
    @extend .get-involved-item.green;
  }
  .get-involved-item:nth-child(5n+4) {
    @extend .get-involved-item.light-blue;
  }
  .get-involved-item:nth-child(5n) {
    @extend .get-involved-item.yellow;
  }
}

.get-involved-nav {
  background-color: $red3;
  border-radius: 5px;
  color: $yellow1;
  margin-bottom: 25px;
  padding: 0 20px;
}

.get-involved-nav-item {
  padding: 35px 10px 25px;
  text-align: center;

  & + .get-involved-nav-item {
    border-top: 1px solid $red2;
  }

  .get-involved-item-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 auto 15px;
    max-width: 260px;
  }

  .button {
    background-color: $red2;
    color: $yellow1;
    font-weight: 700;
    &:after {background-color: darken($red2, 6%);}
  }
}

.get-involved-item {
  border-radius: 5px;
  color: $color-secondary-variant;
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 20px 25px;
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &.hand:after {
    background-position: bottom;
    background-repeat: no-repeat;
    bottom: 0;
    content: "";
    display: block;
    height: 220px;
    position: absolute;
    right: 0;
    width: 100px;
    z-index: 0;
  }

  // modifiers
  &.red {
    background-color: $get-involved-red;
    color: $white;
    &.hand:after {
      background-image: url('../modules/get-involved-list/yellow-hand.svg');
    }
  }
  &.yellow {
    background-color: $get-involved-yellow;
    &.hand:after {
      background-image: url('../modules/get-involved-list/blue-hand.svg');
    }
  }
  &.green {
    background-color: $get-involved-green;
    color: $white;
    &.hand:after {
      background-image: url('../modules/get-involved-list/yellow-hand.svg');
    }
  }
  &.blue {
    background-color: $get-involved-blue1;
    color: $white;
    &.hand:after {
      background-image: url('../modules/get-involved-list/red-hand.svg');
    }
  }
  &.light-blue {
    background-color: $get-involved-blue2;
    &.hand:after {
      background-image: url('../modules/get-involved-list/green-hand.svg');
    }
  }

  .get-involved-item-category {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px;
  }

  .get-involved-item-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    max-width: 230px;
  }

  .get-involved-item-button {
    margin-top: 20px;
  }
}

@include large-and-medium {

  .get-involved-list {
    @include container;
  }

  .get-involved-nav,
  .get-involved-items {
    @include container;
  }

  .get-involved-nav-item {
    @include span(4 of 12);
    &:last-child {@include last;}
    padding: 45px 10px 35px;

    position: relative;

    & + .get-involved-nav-item {
      border-top: none;
    }

    & + .get-involved-nav-item:before {
      content: '';
      display: block;
      border-left: 1px solid $red2;
      height: 130px;
      margin-top: -60px;
      left: -12px;
      top: 50%;
      position: absolute;
    }

    .get-involved-item-title {
       font-size: 26px;
       line-height: 30px;
     }
  }

  .get-involved-item {
    @include gallery(4 of 12);
    min-height: 220px;

    .get-involved-item-button {
      bottom: 20px;
      margin-top: 0;
      position: absolute;
    }
  }

}
