include ../../modules/button/button

mixin get-involved-item(data)
  .get-involved-item
    .get-involved-item-category= data.category
    .get-involved-item-title= data.title
    - data.button.modifiers = ["action", "get-involved-item-button"]
    +button(data.button)

mixin get-involved-list(data)
  .get-involved-list
    if data.nav
      .get-involved-nav
        each item in data.nav.items
          .get-involved-nav-item
            .get-involved-item-title!= item.title
            - button = JSON.parse(JSON.stringify(item.button)) // clone the data object
            - button.modifiers = ["action"] // overwrite the modifiers
            +button(button)
    .get-involved-items
      each item in data.items
        +get-involved-item(item)
