.table-of-contents {
  overflow: auto;

  ul {
    list-style: none;
  }
}

.table-of-contents-nav {
  float: left;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 32px;
  margin: 0;
  padding: 40px 0;
  text-transform: uppercase;

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $yellow;
      strong {
        background-color: $yellow;
      }
    }
  }

  strong {
    background-color: $white;
    color: $black;
    font-weight: normal;
    margin-right: 20px;
    padding: 2px 5px;
  }
}

.table-of-contents-nav-item {
  + .table-of-contents-nav-item {
    margin-top: 32px;
  }
}

.table-of-contents-sections {
  line-height: 26px;
  margin: 40px 0;

  a {
    color: $black;
    text-decoration: none;

    &:hover strong {
      background-color: $black;
      color: $white;
    }
  }

  strong {
    background-color: $white;
    color: $black;
    float: right;
    font-weight: normal;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    width: 40px;
  }
}

.table-of-contents-sections-items {
  background-color: $color-tertiary;
  margin: 0 0 10px;
  padding: 20px 30px 20px 20px;
  position: relative;

  &:after {
    background-color: $color-primary;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
  }
}

.table-of-contents-sections-item {
  position: relative;
  padding-right: 100px;
  z-index: 10;

  + .table-of-contents-sections-item {
    margin-top: 8px;
  }
}

.table-of-contents-sections-more {
  background-color: $yellow;
  color: $black;
  padding: 4px 10px;

  &:hover {background-color: $white;}
}

@include medium-and-small {

  .table-of-contents-nav {
    margin-right: 40px;
  }

  .table-of-contents-sections {
    float: left;
    margin-top: 20px;
  }

}

@include large-and-medium {

  .table-of-contents-sections-items {
    min-width: 460px;
  }

}

@include large {

  .table-of-contents-nav {
    padding: 80px 0 50px;
  }

  .table-of-contents-sections {
    float: right;
  }

}
