include ../../components/buttons/buttons

mixin person-block(data)
  .person-block
    a.person-block-portrait(href=data.href style="background-image: url(#{data.image});")
    .person-block-content
      a(href=data.href).person-block-title= data.title
      .person-block-text= data.text
    .person-block-button
      - button = JSON.parse(JSON.stringify(data.button)) // clone the data object
      - button.href = data.href
      - button.modifiers = ["action"] // overwrite the modifiers
      +button(button)
