include header
include ../../helpers/code

.spacer(style="height: 80px")
.lsg-module
  +header(defaults)

+code({language: "jade"}).
  include header

  +header(#{JSON.stringify(defaults, null, 2)})

p.
  The header behaves depending on the scroll position <br>
  It is fixed to the top if there's no `.notice.top` <br>
  and then the nav changes when the scroll pass the
  floating line

