.block-content-social {
  max-width: 360px;

  .block-content-items {
    overflow: hidden;
  }

  .block-content-item {
    float: left;
    width: 50%;
    margin-bottom: 20px;

    &:hover .block-content-link {
      border-color: transparent;
    }
  }

  .block-content-count,
  .block-content-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .block-content-count {
    font-weight: 700;
  }

  .block-content-link {
    border-bottom: 1px solid $white;
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
  }
}

