.footer {
  font-size: 13px;
  font-weight: 300;
  background-color: $gray230;
  @include small {
    text-align: center;
  }
}

.footer-wrapper {
  padding: 29px 0 31px;
}

.footer-logo {
  display: block;
  margin: 0 auto 20px;
  text-align: center;

  @include large-and-medium {
    float: left;
    margin: 0 50px 0 0;
  }

  img {
    display: inline-block;
    height: 20px;
  }
}

.footer-links {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    color: $gray51;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $gray51;
      color: $black;
    }
  }

  // modifier
  li.strong {
    a {
      border-bottom: 1px solid $gray51;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        border-bottom-width: 2px;
      }
    }

    @include small {
      margin: 20px 0;
    }
  }

  @include large-and-medium {
    > li {
      display: inline-block;

      & + li {
        margin-left: 20px;
      }
    }
  }
  @include small {
    > li + li {
      margin-top: 10px;
    }
  }
}
