$footer-small-breakpoint: 650px;
$footer-small: (max-width: $footer-small-breakpoint - 1px);
$footer-medium-and-large: (min-width: $footer-small-breakpoint);

.footer {
  font-size: 13px;
  font-weight: 300;
  background-color: $gray230;
  @media #{$footer-small} {
    text-align: center;
  }
}

.footer-wrapper {
  padding: 29px 0 21px;
}

.footer-logo {
  display: block;
  margin: 0 0 20px;
  text-align: center;

  @media #{$footer-medium-and-large} {
    float: left;
    margin: 0 50px 0 0;
  }

  img {
    display: inline-block;
    height: 20px;
  }
}

.footer-links {
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media #{$footer-medium-and-large} {
    margin-left: 230px;
  }

  a {
    color: $gray51;
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $gray51;
      color: $black;
    }
  }

  // modifier
  li.strong {
    a {
      border-bottom: 1px solid $gray51;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        border-bottom-width: 2px;
      }
    }

    @media #{$footer-small} {
      margin: 20px 0;
    }
  }

  @media #{$footer-small} {
    > li + li {
      margin-top: 10px;
    }
  }
  @media #{$footer-medium-and-large} {
    > li {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 10px;
    }
  }
}
