include transportation
include ../../helpers/code

h2 Standard
.lsg-component
  +transportation(defaults)
+code({language: "jade"}).
  include transportation

  +transportation(#{JSON.stringify(defaults, null, 2)})

h2 Avec plusieurs items
.lsg-component
  +transportation(multiple_items)
+code({language: "jade"}).
  include transportation

  +transportation(#{JSON.stringify(multiple_items, null, 2)})

h2 Sans bouton
.lsg-component
  +transportation(without_button)
+code({language: "jade"}).
  include transportation

  +transportation(#{JSON.stringify(without_button, null, 2)})

h2 Adresse sur plusieurs lignes
.lsg-component
  +transportation(long_address)
+code({language: "jade"}).
  include transportation

  +transportation(#{JSON.stringify(long_address, null, 2)})
