.lsg-colors {
  @include layout(6 1/6 inside);
  @include container;
  padding-left: 15px;
  padding-right: 15px;

  .lsg-colors-col {
    @include clearfix;
  }

  .lsg-colors-table {
    table-layout: fixed;

    thead th,
    td {
      padding-left: 20px;
      text-align: left;
    }
  }

}

.lsg-color-dot:before {
  content: "●";
  font-size: 30px;
  display: block;
}

@include breakpoint(large) {
  .lsg-colors {
    padding-left: 30px;
    padding-right: 30px;

    .lsg-colors-col {
      @include span(3);
    }
  }
}

@include breakpoint(extra-wide) {
  .lsg-colors {
    .lsg-colors-col {
      @include span(2);
    }
  }
}