.lsg-fonts {
  @include layout(6 1/6 inside);
  @include container;
  padding-left: 15px;
  padding-right: 15px;
}

@include breakpoint(large) {
  .lsg-fonts {
    padding-left: 30px;
    padding-right: 30px;
  }
}
