.lsg-icons {
  @include layout(6 1/6 inside);
  @include container;
  padding-left: 15px;
  padding-right: 15px;

  th {
    font-size: 22px;
    padding: 5px 10px 5px 0;
  }
}

@include breakpoint(large) {
  .lsg-colors {
    padding-left: 30px;
    padding-right: 30px;
  }
}