include html
include ../../helpers/code

p!= "Ce composant accepte un bloc (ou un paramètre <code>block</code>) contenant un code HTML. Il adapte automatiquement la taille de ses enfants directs pour qu'ils ne dépassent pas la largeur de la colonne."

h2 Standard
.lsg-component(style="max-width: 500px")
  +html(with_block)
+code({language: "jade"}).
  include html

  +html(#{JSON.stringify(with_block, null, 2)})

h2 En passant sous forme de bloc
.lsg-component(style="max-width: 500px")
  +html
    != 'Contenu <strong>HTML</strong>'
+code({language: "jade"}).
  include html

  +html
    != 'Contenu &lt;strong&gt;HTML&lt;/strong&gt;'
