.layout-stack {
  background-color: $white;
  width: 100%;
  overflow: hidden;

  .layout-main > .layout-content {
    & + .layout-content {
      padding-top: 40px;
    }

    /* modifiers */
    &.gray-background {
      background-color: $grayF2;
      padding: 40px 0;
    }

    &.layout-separate-after {
      padding-bottom: 40px;
      border-bottom: 1px solid $grayCC;
      position: relative;
    }

    &.layout-small-padding {
      padding-top: 25px;
      &.layout-separate-after {padding-bottom: 25px;}
    }

    &.layout-padding-after {
      padding-bottom: 40px;
    }

    & + .layout-adjacent-before {
      padding-top: 0;
    }
    @include small {
      & + .layout-adjacent-before-on-small {
        padding-top: 0;
      }
    }

    &.layout-adjacent-after {
      padding-bottom: 0;
    }
    @include small {
      &.layout-adjacent-after-on-small {
        padding-bottom: 0;
      }
    }
  }

  .layout-wrapper {
    margin: 0 auto;
    padding-left: $small-page-padding;
    padding-right: $small-page-padding;
  }

  @include small {
    > .layout-swap-order-on-small {
      display: flex;
      flex-direction: column-reverse;
    }

    .layout-wrapper {
      &.full-width-on-small {
        padding-left: 0;
        padding-right: 0;
      }
      .heading .heading-title {
        left: -30px;
        position: relative;
      }
    }
  }

  @include large {
    .layout-wrapper {
      padding-left: 0;
      padding-right: 0;
      width: $large-grid-width;

      .heading,
      &.layout-outside {
        left: -$offset-heading;
        position: relative;
      }
    }
  }

}
