.layout-stack {
  background-color: $white;
  width: 100%;
  overflow: hidden;

  > .layout-content {
    & + .layout-content {
      padding-top: 40px;
    }

    /* modifiers */
    &.gray-background {
      background-color: $gray242;
      padding: 40px 0;
    }

    &.layout-separate-after {
      padding-bottom: 40px;
      border-bottom: 1px solid $gray204;
      position: relative;
    }

    & + .layout-adjacent-before {
      padding-top: 0;
    }

    &.layout-adjacent-after {
      padding-bottom: 0;
    }

    &.layout-small-padding {
      padding-top: 30px;
      &.layout-separate-after {padding-bottom: 30px;}
    }

    &.layout-padding-after {
      padding-bottom: 40px;
    }
  }

  .layout-wrapper {
    margin: 0 auto;
    padding-left: $small-page-padding;
    padding-right: $small-page-padding;

    @include large {
      padding-left: 0;
      padding-right: 0;
      width: $large-grid-width;

      .heading,
      &.layout-outside {
        left: -32px;
        position: relative;
      }
    }
    @include small {
      .heading .heading-title,
      &.layout-outside {
        left: -30px;
        position: relative;
      }
    }

  }

}
