.tags-list {

  list-style-type: none;
  padding-left: 0;

  li {
    float: left;
    a.tag:hover {
      color: $pink;
    }
  }


  .separator {
    margin: 0 .2em;
  }

  a {
    color: inherit;
  }

}
