include tags
include ../../helpers/code

h2 Sans liens
+tags(defaults)
+code({language: "jade"}).
  include tags

  +tags(#{JSON.stringify(defaults, null, 2)})

h2 Avec liens
+tags(links)
+code({language: "jade"}).
  include tags

  +tags(#{JSON.stringify(links, null, 2)})
