.component-image {
  background-color: $gray250;
  clear: both;

  img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
  }

  // modifiers
  &.left,
  &.right {
    img {
      display: block;
    }
  }

  &.left {
    float: left;
    margin-bottom: 25px;
    margin-right: 25px;
  }

  &.right {
    float: right;
    margin-bottom: 25px;
    margin-left: 25px;
  }

  &.full-height {
    img {
      max-height: none;
    }
  }
}
