mixin image(opts)
  .component.component-image(class=opts.modifiers)
    - title = [opts.title]
    if opts.credit
      - title.push("(" + opts.credit + ")")
    - title = title.join(" ")
    img(src=opts.src alt=opts.alt title=title)
