mixin image(data)
  .component.component-image(class=data.modifiers)
    - title = [data.title]
    - if (data.credit) {title.push("(" + data.credit + ")")}
    - title = title.join(" ")
    img(src=data.src alt=data.alt title=title)
