doctype html
html(lang="fr")
  head
    meta(charset='utf-8')
    title= (data && data.title) || "Paris"

    link(href="../../stylesheets/print.css" type="text/css" media="print" rel="stylesheet")
    <!--[if !IE]>-->
    link(href="../../stylesheets/paris.css" type="text/css" media="screen" rel="stylesheet")
    <!--<![endif]-->

    <!--[if lt IE 9]>
    link(href="../../stylesheets/print.css" type="text/css" media="screen" rel="stylesheet")
    <![endif]-->

    script(src="/javascript/modernizr.custom.js")
  - data = data || {}
  - data.bodyModifiers = data.bodyModifiers || []
  body(class=data.bodyModifiers)
    block main
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//cdn.jsdelivr.net/algoliasearch/2.9/algoliasearch.min.js")
    script
      include ../../assets/javascript/locales.js
    script
      include ../../assets/javascript/config.js
    script(src="/javascript/paris.js")
    if data.additionalScripts
      each script in data.additionalScripts
        if script.src
          script(src=script.src)
        else if script.inline
          script
            != script.inline

