.news-list {
  @include container;

  .news-card {
    @include span(4 of 12);
  }

  // mode gallery
  &.gallery {
    .news-card {
      &:nth-child(3n) {
        @include last;
      }
    }
  }

  // mode large-first-child
  &.large-first-child {
    .news-card {
      &:nth-child(3),
      &:nth-child(5) {
        @include last;
      }
    }
  }

  // modifier secondary
  &.secondary {
    .news-card {
      &.large {
        .news-card-image {
          &:after {
            background: $color-secondary; /* Old browsers */
            background: -moz-linear-gradient(left, $color-secondary 0%, transparent 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,$color-secondary), color-stop(100%,transparent)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left, $color-secondary 0%,transparent 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left, $color-secondary 0%,transparent 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left, $color-secondary 0%,transparent 100%); /* IE10+ */
            background: linear-gradient(to right, $color-secondary 0%,transparent 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-secondary', endColorstr='transparent',GradientType=1 ); /* IE6-8 */
          }
        }
      }
    }
  }
}
