include accordion
include ../../helpers/code

h2 Standard
.lsg-component(style="max-width: 600px")
  +accordion(defaults)
+code({language: "jade"}).
  include accordion

  +accordion(#{JSON.stringify(defaults, null, 2)})

h2 Définir les slugs manuellement
p Par défaut, le composant génère des slugs uniques pour chaque item de chaque instance. Il est en revanche possible de définir manuellement ces slugs si besoin.
.lsg-component(style="max-width: 600px")
  +accordion(with_slugs)
+code({language: "jade"}).
  include accordion

  +accordion(#{JSON.stringify(with_slugs, null, 2)})
