extends ../../layouts/stack/stack

include ../../modules/button-top/button-top
include ../../modules/footer/footer
include ../../modules/notice/notice
include ../../modules/rheader/rheader

// Blocks are reorderable parts of the template
include blocks/get-involved
include blocks/jumbotron
include blocks/municipal-team
include blocks/news
include blocks/quick-access
include blocks/que-faire
include blocks/sections
include blocks/stay-connected

append content
  if data.notice
    +notice(data.notice)

append content
  +rheader(data.rheader)

append content
  each block in data.blocks
    if block.data
      .layout-content(class=block.modifiers)
        +#{"block-" + block.type}(block.data)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)

append content
  +button-top

append content
  if data.notices && data.notices.cnil
    +notice(data.notices.cnil)
