extends ../../layouts/stack/stack

include ../../modules/footer/footer
include ../../modules/header/header

append content
  +header(public.modules.header._data.index.defaults)

// add your modules here :)

append content
  .layout-content.layout-content-adjacent
    +footer(public.modules.footer._data.index.defaults)
