
$color-primary   : #DF225A;
$color-secondary : #0C518A;
$color-tertiary  : #F8E273;

$color-primary-variant   : #AF2258;
$color-secondary-variant : #0A4770;
$color-tertiary-variant  : #D8C045;

.color-primary   {color: $color-primary;}
.color-secondary {color: $color-secondary;}
.color-tertiary  {color: $color-tertiary;}

.color-primary-background   {background-color: $color-primary;}
.color-secondary-background {background-color: $color-secondary;}
.color-tertiary-background  {background-color: $color-tertiary;}

$light-blue : #D1E0E5;
$green1     : #43B57E;
$yellow1    : #FAE46A;
$orange1    : #F77F68;
$red1       : #DD275C;
$red2       : #A51B50;
$red3       : #BF2257;

// Gray nuances
$black  : #000;
$gray1A : #1A1A1A;
$gray33 : #333;
$gray4D : #4D4D4D;
$gray66 : #666;
$gray99 : #999;
$grayCC : #CCC;
$grayEE : #EEE;
$grayF2 : #F2F2F2;
$white  : #FFF;

.black-background {background-color:  $black;}

// Que Faire
$que-faire-red: #F95053;

// Notice
$notice-blue   : #A6CCDD;
$notice-orange : $orange1;

// Quick access
$quick-access-blue : #E5EBEF;

// Get involved
$get-involved-yellow : #F8C244;
$get-involved-red    : #E95757;
$get-involved-green  : #42A769;
$get-involved-blue1  : #3EC2DE;
$get-involved-blue2  : #D7EDF2;

// Rush Hours
$rush-hours-green   : #29BB9C;
$rush-hours-yellow  : #F3C872;
$rush-hours-red     : #DB4928;

// Home categories
$home-cat-red     : #E95756; 
$home-cat-blue1   : #3EC2DE;
$home-cat-blue2   : #D7EDF2;
$home-cat-green   : #42A769; 
$home-cat-yellow  : #F8C243; 
