/* Font icons */
@font-face {
  font-family: 'paris-icons';
  src:url('../fonts/paris-icons.eot?-pleu1o');
  src:url('../fonts/paris-icons.eot?#iefix-pleu1o') format('embedded-opentype'),
    url('../fonts/paris-icons.woff?-pleu1o') format('woff'),
    url('../fonts/paris-icons.ttf?-pleu1o') format('truetype'),
    url('../fonts/paris-icons.svg?-pleu1o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon-font,
[class^="icon-"],
[class*=" icon-"]  {
  font-family: 'paris-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%icon-alert,
.icon-alert:before {
  content: "\e619";
}

%icon-arrow-bottom,
.icon-arrow-bottom:before {
  content: "\e601";
}

%icon-arrow-left,
.icon-arrow-left:before {
  content: "\e604";
}

%icon-arrow-right,
.icon-arrow-right:before {
  content: "\e605";
}

%icon-arrow-top,
.icon-arrow-top:before {
  content: "\e606";
}

%icon-arrow-light-bottom,
.icon-arrow-light-bottom:before {
  content: "\e607";
}

%icon-arrow-light-left,
.icon-arrow-light-left:before {
  content: "\e61e";
}

%icon-arrow-light-right,
.icon-arrow-light-right:before {
  content: "\e61d";
}

%icon-arrow-light-top,
.icon-arrow-light-top:before {
  content: "\e61f";
}

%icon-arrow-small-bottom,
.icon-arrow-small-bottom:before {
  content: "\e614";
}

%icon-arrow-small-left,
.icon-arrow-small-left:before {
  content: "\e615";
}

%icon-arrow-small-right,
.icon-arrow-small-right:before {
  content: "\e616";
}

%icon-arrow-small-top,
.icon-arrow-small-top:before {
  content: "\e617";
}

%icon-avatar,
.icon-avatar:before {
  content: "\e61a";
}

%icon-bell,
.icon-bell:before {
  content: "\e61c";
}


%icon-bicycle,
.icon-bicycle:before {
  content: "\e60f";
}

%icon-bus,
.icon-bus:before {
  content: "\e60e";
}

%icon-close,
.icon-close:before {
  content: "\e612";
}

%icon-close-rounded,
.icon-close-rounded:before {
  content: "\e613";
}

%icon-dailymotion,
.icon-dailymotion:before {
  content: "\e620";
}

%icon-facebook,
.icon-facebook:before {
  content: "\e608";
}

%icon-favorites,
.icon-favorites:before {
  content: "\e600";
}

%icon-dl,
.icon-dl:before {
  content: "\e61b";
}

%icon-instagram,
.icon-instagram:before {
  content: "\e618";
}

%icon-link,
.icon-link:before {
  content: "\e603";
}

%icon-mail,
.icon-mail:before {
  content: "\e609";
}

%icon-marker,
.icon-marker:before {
  content: "\e60c";
}

%icon-file,
.icon-file:before {
  content: "\e900";
}

%icon-text,
.icon-text:before {
  content: "\e901";
}

%icon-pdf,
.icon-pdf:before {
  content: "\e602";
}

%icon-play,
.icon-play:before {
  content: "\e611";
}

%icon-profile,
.icon-profile:before {
  content: "\e60b";
}

%icon-search,
.icon-search:before {
  content: "\e60d";
}

%icon-subway,
.icon-subway:before {
  content: "\e610";
}

%icon-twitter,
.icon-twitter:before {
  content: "\e60a";
}

%icon-play,
.icon-play:before {
  content: "\e611";
}
