/* Font icons */
@font-face {
  font-family: 'paris-icons';
  src:url('../fonts/paris-icons.eot?elgujd');
  src:url('../fonts/paris-icons.eot?#iefixelgujd') format('embedded-opentype'),
    url('../fonts/paris-icons.woff?elgujd') format('woff'),
    url('../fonts/paris-icons.ttf?elgujd') format('truetype'),
    url('../fonts/paris-icons.svg?elgujd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@mixin icon-font {
  font-family: 'paris-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  alert: "\e619",
  arrow-bottom: "\e601",
  arrow-left: "\e604",
  arrow-light-bottom: "\e607",
  arrow-light-left: "\e61e",
  arrow-light-right: "\e61d",
  arrow-light-top: "\e61f",
  arrow-right: "\e605",
  arrow-small-bottom: "\e614",
  arrow-small-left: "\e615",
  arrow-small-right: "\e616",
  arrow-small-top: "\e617",
  arrow-top: "\e606",
  art-studio: "\e902",
  association-house: "\e903",
  avatar: "\e61a",
  bell-outline: "\e912",
  bell: "\e61c",
  bicycle: "\e60f",
  bus: "\e60e",
  city-hall: "\e904",
  close-rounded: "\e613",
  close: "\e612",
  conservatoire: "\e905",
  cultural: "\e906",
  dailymotion: "\e620",
  dl: "\e61b",
  facebook: "\e608",
  favorites-outline: "\e911",
  favorites: "\e600",
  file: "\e900",
  handicap-hearing-impair: "\e907",
  handicap-mobility: "\e908",
  handicap-visually-impaired: "\e909",
  instagram: "\e618",
  librairy: "\e90a",
  link: "\e603",
  mail: "\e609",
  marker: "\e60c",
  market: "\e90b",
  museum: "\e90c",
  nf: "\e90d",
  park: "\e90e",
  pause: "\e90f",
  pdf: "\e602",
  play: "\e611",
  profile: "\e60b",
  search: "\e60d",
  subway: "\e610",
  swimming-pool: "\e910",
  text: "\e901",
  twitter: "\e60a"
);

@mixin icon($name) {
  @include icon-font;
  content: map-get($icons, $name);
}

[class^="icon-"],
[class*=" icon-"] {
  @include icon-font;
}

@each $name in $icons {
  .icon-#{$name}:before {content: map-get($icons, $name);}
}
