// Last method described at
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin hidden-accessibly {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// Useful classes for responsive

@media (max-width: 1000px) { // TODO define breakpoint
  .hidden-on-mobile {
    display: none !important;
  }
}
