// Hide elements accessibly
// based on the last method described at
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin hidden-accessibly {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

// Useful classes for responsive

@media (max-width: 1000px) { // TODO define breakpoint
  .hidden-on-mobile {
    display: none !important;
  }
}

// Responsive mixins
$small-page-padding: 30px;

$large-min: $large-grid-width + ($small-page-padding * 2);
@mixin large {
  @media (min-width: $large-min) {
    @content;
  }
}

$medium-min: 768px;
$medium-max: $large-min - 1px;
@mixin medium {
  @media (min-width: $medium-min) and (max-width: $medium-max) {
    @content;
  }
}

@mixin large-and-medium {
  @media (min-width: $medium-min) {
    @content;
  }
}

$small-max: $medium-min - 1px;
@mixin small {
  @media (max-width: $small-max) {
    @content;
  }
}
@mixin hidden-on-small {
  @include small {display: none;}
}
.hidden-on-small {
  @include hidden-on-small;
}

@mixin medium-and-small {
  @media (max-width: $medium-max) {
    @content;
  }
}
