h1= title

p La police de caractères utilisée par défaut est Montserrat.

code font-family: 'Montserrat';

p Elle est disponible en trois graisses.

.lsg-font
  h2(style="font-weight: 300;") Montserrat Light
  code font-weight: 300;

  h2(style="font-weight: 500;") Montserrat Regular
  code font-weight: 500;

  h2(style="font-weight: 700;") Montserrat Bold
  code font-weight: 700;
