---
---

.composant.composant-accordeon
  .accordeon-item
    .accordeon-item-title Vous êtes fonctionnaire d'Etat ou fonctionnaire hospitalier
    .accordeon-item-content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan leo interdum ipsum tempus tincidunt. Fusce vitae iaculis nisl, vitae gravida felis. Nulla risus urna, tempor sed hendrerit a, faucibus ac risus. Vestibulum orci diam, molestie quis enim in, aliquet hendrerit ex. Nullam eu magna nisl. Sed ac arcu dolor. Donec sed suscipit purus, eu feugiat tellus. Etiam diam felis, blandit eget pellentesque at, egestas at tortor. Maecenas quis ligula nibh. Vivamus scelerisque magna vitae lorem rutrum, eu placerat risus posuere. Vivamus cursus mattis pharetra. Nam pulvinar urna odio, sit amet hendrerit diam iaculis non. Etiam vehicula tincidunt urna quis mattis. Vivamus in quam sapien. Maecenas congue purus non consectetur fringilla.
  .accordeon-item
    .accordeon-item-title Vous êtes salarié(e) d'une entreprise privée cotisant à Action Logement
    .accordeon-item-content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan leo interdum ipsum tempus tincidunt. Fusce vitae iaculis nisl, vitae gravida felis. Nulla risus urna, tempor sed hendrerit a, faucibus ac risus. Vestibulum orci diam, molestie quis enim in, aliquet hendrerit ex.
      %p Nullam eu magna nisl. Sed ac arcu dolor. Donec sed suscipit purus, eu feugiat tellus. Etiam diam felis, blandit eget pellentesque at, egestas at tortor. Maecenas quis ligula nibh. Vivamus scelerisque magna vitae lorem rutrum, eu placerat risus posuere. Vivamus cursus mattis pharetra. Nam pulvinar urna odio, sit amet hendrerit diam iaculis non. Etiam vehicula tincidunt urna quis mattis. Vivamus in quam sapien. Maecenas congue purus non consectetur fringilla.
  .accordeon-item
    .accordeon-item-title Vous êtes déjà locataire dans le parc social et souhaitez changer de logement
    .accordeon-item-content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan leo interdum ipsum tempus tincidunt. Fusce vitae iaculis nisl, vitae gravida felis. Nulla risus urna, tempor sed hendrerit a, faucibus ac risus. Vestibulum orci diam, molestie quis enim in, aliquet hendrerit ex. Nullam eu magna nisl. Sed ac arcu dolor. Donec sed suscipit purus, eu feugiat tellus. Etiam diam felis, blandit eget pellentesque at, egestas at tortor. Maecenas quis ligula nibh. Vivamus scelerisque magna vitae lorem rutrum, eu placerat risus posuere. Vivamus cursus mattis pharetra. Nam pulvinar urna odio, sit amet hendrerit diam iaculis non. Etiam vehicula tincidunt urna quis mattis. Vivamus in quam sapien. Maecenas congue purus non consectetur fringilla.
