.block-aside-contact {

  .block-aside-items {
    color: $gray4D;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
  }

  .block-aside-item {
    > a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }

    & + .block-aside-item {
      margin-top: 0;
    }

    &:not(.has-icon) + .has-icon {
      margin-top: 25px;
    }

    // modifiers
    &.has-icon {
      .icon {
        color: $color-secondary;
        font-size: 20px;
        margin-right: 8px;
        vertical-align: top;
      }

      a {
        font-size: 16px;
        font-weight: 500;

        &:hover {
          text-decoration: none;
          .icon {color: $color-primary;}
        }
      }

      & + .has-icon {
        margin-top: 8px;
      }
    }

  }

  .postal-code {
    float: left;
    margin-right: 5px;
  }

}
