.block-aside-contact {

  .block-aside-minimap {
    margin-bottom: 5px;
    img {max-width: 100%;}
  }

  .block-aside-items {
    color: $gray4D;
    font-size: 1.6rem;
    line-height: 22px;
    overflow: hidden;
  }

  .block-aside-item {
    > a {
      color: $black;
      text-decoration: none;
      &:hover {
        color: $color-primary;
        text-decoration: underline;
      }
    }

    & + .block-aside-item {
      margin-top: 0;
    }

    &:not(.has-icon) + .has-icon {
      margin-top: 25px;
    }

    // modifiers
    &.has-icon {
      .icon {
        color: $color-secondary;
        font-size: 2rem;
        margin-right: 8px;
        vertical-align: top;
      }

      a {
        font-size: 1.6rem;
        font-weight: 500;

        &:hover {
          text-decoration: none;
          .icon {color: $color-primary;}
        }
      }

      & + .has-icon {
        margin-top: 8px;
      }
    }

  }

  .postal-code {
    float: left;
    margin-right: 5px;
  }

}

@include medium {
  .block-aside-contact {
    .block-aside-minimap,
    .block-aside-minimap img {
      height: 185px;
    }
  }
}

@include large-and-medium {
  .block-aside-contact {
    .block-aside-minimap {
      > a,
      > img {
        position: absolute;
      }
    }
  }
}

@include large {
  .block-aside-contact {
    .block-aside-minimap,
    .block-aside-minimap img {
      height: 200px;
    }
  }
}
