extends ../../layouts/stack/stack

include ../../modules/anchors-list/anchors-list
include ../../modules/block-content/block-content
include ../../modules/block-content-jecoute/block-content-jecoute
include ../../modules/block-content-newsletter/block-content-newsletter
include ../../modules/breadcrumbs/breadcrumbs
include ../../modules/button/button
include ../../modules/cross-content/cross-content
include ../../modules/document-heading/document-heading
include ../../modules/footer/footer
include ../../modules/header/header
include ../../modules/heading/heading
include ../../modules/share/share
include ../../modules/social/social

include ../../components/components

append content
  +header(data.header)

append content
  .layout-content
    +document-heading(data.heading)

append content
  .layout-content.layout-separate-after.layout-small-padding
    .layout-wrapper
      +breadcrumbs(data.breadcrumbs)

append content
  .layout-content.layout-adjacent-before
    .layout-left-col
      .layout-wrapper
        aside.layout-aside
          .aside-wrapper
            +anchors-list(data.aside.anchors_list)
            +share(data.aside.share)
        .layout-content
          each component in data.components
            +#{component.type}(component.data)

append content
  .layout-content.layout-adjacent-before
    div
      +cross-content(data.cross_content)

append content
  .layout-content.color-secondary-background.layout-separate-after
    .layout-three-col
      .layout-wrapper
        +heading(data.connected.heading)
        .layout-content
          +block-content-newsletter(data.connected.newsletter)
        .layout-content
          +block-content-jecoute(data.connected.jecoute)
        .layout-content
          +block-content(data.connected.social.block)
            +social(data.connected.social.content)

append content
  .layout-content.layout-adjacent-before
    +footer(data.footer)
